main[id="globalbookshome"]
  :is(
    ul,
    ol,
    li,
    dl,
    dt,
    dd,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    hgroup,
    p,
    blockquote,
    figure,
    form,
    fieldset,
    input,
    legend,
    pre,
    abbr,
    button,
    canvas,
    caption,
    code,
    details,
    div,
    dl,
    dt,
    figcaption,
    img,
    label,
    main,
    mark,
    nav,
    ol,
    picture,
    samp,
    section,
    summarize,
    time
  ) {
  all: unset;
  margin: 0;
  padding: 0;
}

main[id="globalbookshome"] :is(pre, code, address, caption, th, figcaption) {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
}

main[id="globalbookshome"] :is(fieldset, iframe) {
  border: 0;
}

main[id="globalbookshome"] :is(caption, th) {
  text-align: left;
}

main[id="globalbookshome"] :is(summary, details) {
  display: block;
}

main[id="globalbookshome"] :is(audio, canvas, video, progress) {
  vertical-align: baseline;
}
main[id="globalbookshome"] :is(h1, h2, h3, h4, h5, h6, p, div, span) {
  all: unset;
  display: block;
  margin: 0;
  padding: 0;
  font-family: var(--r-font-family-default);
  font-size: 16px;
}

main[id="globalbookshome"] {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
  max-width: 2560px;
  width: 100%;
}
main[id="globalbookshome"] #globalbookshome-content {
  width: 960px;
  max-width: 2560px;
  margin: 0 auto;
  margin-top: 12px;
}
main[id="globalbookshome"] h1[id="bookshome-title"] {
  margin: 0;
  font-size: 48px;
  font-weight: bold;
}
main[id="globalbookshome"] div[id="globalbookshome-content"] ul[id="books-lista"] {
  display: flex;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

main[id="globalbookshome"] ul[id="books-lista"] li {
  box-sizing: border-box;
  margin-bottom: 12px;
  width: fit-content;
}
main[id="globalbookshome"] a :is(span[class="books-codigo-disciplina"], span[class="books-title-disciplina"]) {
  display: inline-flex;
}

main[id="globalbookshome"] ul[id="books-lista"] li:first-child {
  margin-top: 12px;
}

main[id="globalbookshome"] ul[id="books-lista"] li:last-child {
  margin-bottom: 0;
}
