body {
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#top div[class="header"] {
  width: calc(0.5 * 2480px);
  height: 140px;
  background: aqua;
}

main[class="main"] {
  background-color: blue;
  width: calc(0.5 * 2480px);
  height: 48rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main div[class="content"] {
  background-color: aliceblue;
  /* width: calc(0.5*0.8 * 2480px); */
  width: calc(0.75 * 100%);
  height: 48rem;
  margin-top: 10px;
}
