.chapternav {
    background: rgba(245,245,247,0.7);
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    height: 100px;
    z-index: 9987;
    width: 100%;
    position: relative;
    overflow: hidden
}

.chapternav-paddle {
    font-size: 17px;
    line-height: 1.76471;
    font-weight: 300;
    letter-spacing: 0em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    border: 0 solid #d2d2d7;
    border-radius: 0;
    color: #1d1d1f;
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    text-align: center;
    width: 33px;
    transition: opacity 150ms ease-out
}

.chapternav-paddle:lang(ar) {
    font-family: "SF Pro AR","SF Pro Gulf","SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif
}

.chapternav-paddle:lang(ja) {
    font-family: "SF Pro JP","SF Pro Text","SF Pro Icons","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica","Arial",sans-serif
}

.chapternav-paddle:lang(ko) {
    font-family: "SF Pro KR","SF Pro Text","SF Pro Icons","Apple Gothic","HY Gulim","MalgunGothic","HY Dotum","Lexi Gulim","Helvetica Neue","Helvetica","Arial",sans-serif
}

.chapternav-paddle:lang(th) {
    font-family: "SF Pro TH","SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif
}

.chapternav-paddle:lang(zh-CN) {
    font-family: "SF Pro SC","SF Pro Text","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif
}

.chapternav-paddle:lang(zh-HK) {
    font-family: "SF Pro HK","SF Pro Text","SF Pro Icons","PingFang HK","Helvetica Neue","Helvetica","Arial",sans-serif
}

.chapternav-paddle:lang(zh-MO) {
    font-family: "SF Pro HK","SF Pro TC","SF Pro Text","SF Pro Icons","PingFang HK","Helvetica Neue","Helvetica","Arial",sans-serif
}

.chapternav-paddle:lang(zh-TW) {
    font-family: "SF Pro TC","SF Pro Text","SF Pro Icons","PingFang TC","Helvetica Neue","Helvetica","Arial",sans-serif
}

.chapternav-paddle::after {
    opacity: .8;
    transition: opacity 200ms linear
}

.chapternav-paddle:disabled {
    opacity: 0
}

.chapternav-paddle:hover::after {
    opacity: 1
}

.chapternav-paddle:focus {
    outline: none
}

.chapternav-paddle:focus::after {
    outline: 4px solid rgba(0,125,250,0.6);
    outline-offset: 4px;
    opacity: 1
}

.chapternav-paddle:focus::after[data-focus-method="mouse"]:not(input):not(textarea):not(select),.chapternav-paddle:focus::after[data-focus-method="touch"]:not(input):not(textarea):not(select) {
    outline: none
}

.chapternav-paddle:active {
    outline: none
}

.chapternav-paddle:active::after {
    outline: none;
    opacity: 1
}

.theme-dark .chapternav-paddle {
    border-color: #424245;
    color: #f5f5f7
}

.chapternav-paddle-left {
    border-right-width: 1px;
    left: 0
}

.chapternav-paddle-left::before,.chapternav-paddle-left::after {
    font-family: "SF Pro Icons";
    color: inherit;
    display: inline-block;
    font-style: normal;
    font-weight: inherit;
    font-size: inherit;
    line-height: 1;
    text-decoration: underline;
    position: relative;
    z-index: 1;
    alt: ''
}

.chapternav-paddle-left::before,.chapternav-paddle-left::after {
    text-decoration: none
}

.chapternav-paddle-left::before {
    display: none
}

.chapternav-paddle-left::before,.chapternav-paddle-left::after {
    content: ""
}

.chapternav-paddle-left::after {
    margin-left: -.5px
}

@supports (left: calc(max(0px))) {
    .chapternav-paddle-left {
        left:calc(max(env(safe-area-inset-left) + -10px, 0px))
    }
}

.chapternav-paddle-right {
    border-left-width: 1px;
    right: 0
}

.chapternav-paddle-right::before,.chapternav-paddle-right::after {
    font-family: "SF Pro Icons";
    color: inherit;
    display: inline-block;
    font-style: normal;
    font-weight: inherit;
    font-size: inherit;
    line-height: 1;
    text-decoration: underline;
    position: relative;
    z-index: 1;
    alt: ''
}

.chapternav-paddle-right::before,.chapternav-paddle-right::after {
    text-decoration: none
}

.chapternav-paddle-right::before {
    display: none
}

.chapternav-paddle-right::before,.chapternav-paddle-right::after {
    content: ""
}

.chapternav-paddle-right::after {
    margin-right: -.5px
}

@supports (right: calc(max(0px))) {
    .chapternav-paddle-right {
        right:calc( max(env(safe-area-inset-left) + -10px, 0px))
    }
}

@supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
    .chapternav {
        -webkit-backdrop-filter:saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
        background: rgba(245,245,247,0.6)
    }
}

.ac-nav-overlap .chapternav,.chapternav-overlap .chapternav {
    position: absolute;
    top: 0;
    left: 0
}

.ac-nav-overlap .chapternav {
    margin-top: 44px
}

@media only screen and (max-width: 767px) {
    .ac-nav-overlap .chapternav {
        margin-top:48px
    }
}

.theme-dark .chapternav,.chapternav.theme-dark {
    background: rgba(29,29,31,0.7)
}

@supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
    .theme-dark .chapternav,.chapternav.theme-dark {
        background:rgba(29,29,31,0.6)
    }
}

.chapternav-wrapper {
    position: relative;
    height: 100%;
    z-index: 1
}

.chapternav-tall {
    height: 116px
}

.chapternav-items {
    margin: 0 34px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    list-style: none;
    padding-bottom: 50px
}

@supports (margin: calc(max(0px))) {
    .chapternav-items {
        margin:0 calc(max(env(safe-area-inset-left) + 24px, 34px))
    }
}

@media only screen and (orientation: landscape) {
    .chapternav-items {
        padding-bottom:49px
    }
}

.chapternav-item {
    display: inline-block;
    vertical-align: top;
    margin: 0 -.11765em;
    padding: 0 20px
}

.chapternav-item:first-child {
    margin-left: 0;
    padding-left: 4px
}

.chapternav-item:last-child {
    margin-right: 0;
    padding-right: 4px
}

.chapternav-icon {
    background: center bottom no-repeat;
    display: block;
    margin: 0 auto 7px;
    height: 54px
}

.chapternav-label {
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    display: block;
    margin: 0
}

.chapternav-label:lang(ar) {
    letter-spacing: 0em;
    font-family: "SF Pro AR","SF Pro Gulf","SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif
}

.chapternav-label:lang(ja) {
    letter-spacing: 0em;
    font-family: "SF Pro JP","SF Pro Text","SF Pro Icons","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica","Arial",sans-serif
}

.chapternav-label:lang(ko) {
    letter-spacing: 0em;
    font-family: "SF Pro KR","SF Pro Text","SF Pro Icons","Apple Gothic","HY Gulim","MalgunGothic","HY Dotum","Lexi Gulim","Helvetica Neue","Helvetica","Arial",sans-serif
}

.chapternav-label:lang(zh) {
    letter-spacing: 0em
}

.chapternav-label:lang(th) {
    font-family: "SF Pro TH","SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif
}

.chapternav-label:lang(zh-CN) {
    font-family: "SF Pro SC","SF Pro Text","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif
}

.chapternav-label:lang(zh-HK) {
    font-family: "SF Pro HK","SF Pro Text","SF Pro Icons","PingFang HK","Helvetica Neue","Helvetica","Arial",sans-serif
}

.chapternav-label:lang(zh-MO) {
    font-family: "SF Pro HK","SF Pro TC","SF Pro Text","SF Pro Icons","PingFang HK","Helvetica Neue","Helvetica","Arial",sans-serif
}

.chapternav-label:lang(zh-TW) {
    font-family: "SF Pro TC","SF Pro Text","SF Pro Icons","PingFang TC","Helvetica Neue","Helvetica","Arial",sans-serif
}

.chapternav-new {
    font-size: 10px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -.008em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #bf4800;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%
}

.chapternav-new:lang(ar) {
    letter-spacing: 0em;
    font-family: "SF Pro AR","SF Pro Gulf","SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif
}

.chapternav-new:lang(ja) {
    letter-spacing: 0em;
    font-family: "SF Pro JP","SF Pro Text","SF Pro Icons","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica","Arial",sans-serif
}

.chapternav-new:lang(ko) {
    letter-spacing: 0em;
    font-family: "SF Pro KR","SF Pro Text","SF Pro Icons","Apple Gothic","HY Gulim","MalgunGothic","HY Dotum","Lexi Gulim","Helvetica Neue","Helvetica","Arial",sans-serif
}

.chapternav-new:lang(zh) {
    letter-spacing: 0em
}

.chapternav-new:lang(th) {
    font-family: "SF Pro TH","SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif
}

.chapternav-new:lang(zh-CN) {
    font-family: "SF Pro SC","SF Pro Text","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif
}

.chapternav-new:lang(zh-HK) {
    font-family: "SF Pro HK","SF Pro Text","SF Pro Icons","PingFang HK","Helvetica Neue","Helvetica","Arial",sans-serif
}

.chapternav-new:lang(zh-MO) {
    font-family: "SF Pro HK","SF Pro TC","SF Pro Text","SF Pro Icons","PingFang HK","Helvetica Neue","Helvetica","Arial",sans-serif
}

.chapternav-new:lang(zh-TW) {
    font-family: "SF Pro TC","SF Pro Text","SF Pro Icons","PingFang TC","Helvetica Neue","Helvetica","Arial",sans-serif
}

.theme-dark .chapternav-new {
    color: #f56300
}

.chapternav-link {
    color: #1d1d1f;
    display: block;
    padding: 0;
    margin-top: 3px;
    position: relative;
    z-index: 1
}

.chapternav-link:hover {
    color: #06c;
    text-decoration: none
}

.chapternav-link:focus {
    outline-offset: 0
}

.chapternav-link.current {
    color: #1d1d1f;
    cursor: default;
    opacity: .6
}

.theme-dark .chapternav-link {
    color: #f5f5f7
}

.theme-dark .chapternav-link:hover {
    color: #2997ff
}

.theme-dark .chapternav-link.current {
    color: #f5f5f7
}

@keyframes chapternav-slidein {
    0% {
        opacity: 0
    }

    1% {
        transform: translateX(160px)
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

.chapternav-item {
    animation: chapternav-slidein 350ms backwards
}
