@charset "UTF-8";

/* section[data-module-template="noticias"] {
  all: unset;
} */

section[data-module-template="noticias"],
[data-module-template].homepage-section,
[data-module-template].standalone-module {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-style: solid;
  overflow: visible;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  z-index: 40;
  position: relative;
  border-bottom: 0;
}

section[data-module-template="noticias"] div[class="module-content"] {
  width: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

section[data-module-template="noticias"] div[class="module-content"] .gallery,
section[data-module-template="noticias"] div[class="module-content"] #noticias {
  background-color: #fff;
  overflow: hidden;
  position: relative;
  height: 561.13167px;
  background: #fff;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (min-width: 1441px) {

  section[data-module-template="noticias"] div[class="module-content"] .gallery,
  section[data-module-template="noticias"] div[class="module-content"] #noticias {
    height: 705.25979px;
  }
}

@media only screen and (max-width: 1068px) {

  section[data-module-template="noticias"] div[class="module-content"] .gallery,
  section[data-module-template="noticias"] div[class="module-content"] #noticias {
    height: 405.79359px;
  }
}

@media only screen and (max-width: 734px) {

  section[data-module-template="noticias"] div[class="module-content"] .gallery,
  section[data-module-template="noticias"] div[class="module-content"] #noticias {
    height: 533px;
  }
}

section[data-module-template="noticias"] div[class="module-content"] .gallery h3.visuallyhidden,
section[data-module-template="noticias"] div[class="module-content"] #noticias h3.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

section[data-module-template="noticias"] .gallery .item-container {
  position: relative;
  width: 995px;
  margin: 0 auto;
  will-change: transform;
  transform: translate3d(0px, 0px, 0px);
  transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 1;
}

@media (min-width: 1441px) {
  section[data-module-template="noticias"] .gallery .item-container {
    width: 1265px;
  }
}

@media only screen and (max-width: 1068px) {
  section[data-module-template="noticias"] .gallery .item-container {
    width: 704px;
  }
}

@media only screen and (max-width: 734px) {
  section[data-module-template="noticias"] .gallery .item-container {
    width: 289px;
  }
}

section[data-module-template="noticias"] .gallery .item-container .gallery-item:nth-child(1) {
  --progress: 0;
  z-index: 1;
  transform: translate(0px, 0px);
}

/* demais filhos - Muda via js 
    ID: tv-plus-gallery-item-1 Style: --progress: 0;
    z-index: 1;
    opacity: 1;
    transform: translate(0px, 0px);
    
    ID: tv-plus-gallery-item-2 Style: --progress: 1;
    z-index: 0;
    opacity: 1;
    transform: translate(1265px, 0px);
    
    ID: tv-plus-gallery-item-3 Style: --progress: 2;
    z-index: 0;
    opacity: 1;
    transform: translate(2530px, 0px);
    
    ID: tv-plus-gallery-item-4 Style: --progress: 3;
    z-index: 0;
    opacity: 1;
    transform: translate(3795px, 0px);
    
    ID: tv-plus-gallery-item-5 Style: --progress: 4;
    z-index: 0;
    opacity: 1;
    transform: translate(5060px, 0px);
    
    ID: tv-plus-gallery-item-6 Style: --progress: 5;
    z-index: 0;
    opacity: 1;
    transform: translate(6325px, 0px);
    
    ID: tv-plus-gallery-item-7 Style: --progress: 6;
    z-index: 0;
    opacity: 1;
    transform: translate(7590px, 0px);
    
    ID: tv-plus-gallery-item-8 Style: --progress: 7;
    z-index: 0;
    opacity: 1;
    transform: translate(8855px, 0px);
    
    ID: tv-plus-gallery-item-9 Style: --progress: 8;
    z-index: 0;
    opacity: 1;
    transform: translate(10120px, 0px);
    
    ID: tv-plus-gallery-item-10 Style: --progress: -1;
    z-index: 0;
    opacity: 1;
    transform: translate(-1265px, 0px);
} */


section[data-module-template="noticias"] .gallery .item-container .gallery-item {
  --abs: Max(var(--progress), var(--progress) * -1);
  --progress-0-1: clamp(0, var(--abs), 1);
  --progress-1-1: clamp(-1, var(--progress), 1);
  overflow: hidden;
  position: absolute;
  left: 0;
  height: 523.13167px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  will-change: opacity;
  z-index: 0 !important
}

@media (min-width: 1441px) {
  section[data-module-template="noticias"] .gallery .item-container .gallery-item {
    height: 667.25979px;
  }
}

@media only screen and (max-width: 1068px) {
  section[data-module-template="noticias"] .gallery .item-container .gallery-item {
    height: 367.79359px
  }
}

@media only screen and (max-width: 734px) {
  section[data-module-template="noticias"] .gallery .item-container .gallery-item {
    height: 495px
  }
}

section[data-module-template="noticias"] .gallery .item-container .gallery-item.theme-dark {
  background: #fff
}

section[data-module-template="noticias"] .gallery .item-container .gallery-item.current {
  z-index: 1 !important
}

section[data-module-template="noticias"] .gallery .item-container a {
  opacity: calc((var(--progress-0-1) * -0.7) + 0.99);
  background-size: cover;
  background-position: center;
  width: 980px;
  margin: 0 auto;
  height: 100%;
  will-change: opacity;
  display: block;
}

section[data-module-template="noticias"] .gallery .item-container a {
  opacity: calc((var(--progress-0-1) * -0.7) + 0.99);
  background-size: cover;
  background-position: center;
  width: 980px;
  margin: 0 auto;
  height: 100%;
  will-change: opacity;
}

@media (min-width: 1441px) {
  section[data-module-template="noticias"] .gallery .item-container a {
    width: 1250px;
  }
}

@media only screen and (max-width: 1068px) {
  section[data-module-template="noticias"] .gallery .item-container a {
    width: 689px;
  }
}

@media only screen and (max-width: 734px) {
  section[data-module-template="noticias"] .gallery .item-container a {
    width: 274px;
    background-position: top center;
  }
}

section[data-module-template="noticias"] .gallery .item-container a {
  background-image: url("/sd/1/pt_BR/banners/promos/home/caquito-banner-medio.png");
  background-color: #0071e3;
}

section[data-module-template="noticias"] .gallery .inner {
  position: absolute;
  top: 0;
  left: 7.5px;
  width: calc(100% - 15px);
  height: 100%;
  background: -webkit-radial-gradient(left bottom, 100% 33%, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0));
  background: radial-gradient(100% 33% at left bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0))
}

@media only screen and (max-width: 734px) {
  section[data-module-template="noticias"] .gallery .inner {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7)), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 200px);
    background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7)), linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 200px)
  }
}

section[data-module-template="noticias"] .gallery .info-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none
}

@media only screen and (max-width: 734px) {
  section[data-module-template="noticias"] .gallery .info-top {
    display: block
  }
}

section[data-module-template="noticias"] .gallery .info-top .atv-plus-icon {
  background-size: 119px 46px;
  background-repeat: no-repeat;
  background-image: url("/v/home/cg/images/tv-plus-gallery/logo_hero_light__d7t8cya4x26a_large.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
  section[data-module-template="noticias"] .gallery .info-top .atv-plus-icon {
    background-image: url("/v/home/cg/images/tv-plus-gallery/logo_hero_light__d7t8cya4x26a_large_2x.png")
  }
}

@media only screen and (max-width: 1068px) {
  section[data-module-template="noticias"] .gallery .info-top .atv-plus-icon {
    background-size: 92px 36px;
    background-repeat: no-repeat;
    background-image: url("/v/home/cg/images/tv-plus-gallery/logo_hero_light__d7t8cya4x26a_medium.png")
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  section[data-module-template="noticias"] .gallery .info-top .atv-plus-icon {
    background-image: url("/v/home/cg/images/tv-plus-gallery/logo_hero_light__d7t8cya4x26a_medium_2x.png")
  }
}

@media only screen and (max-width: 734px) {
  section[data-module-template="noticias"] .gallery .info-top .atv-plus-icon {
    background-size: 69px 27px;
    background-repeat: no-repeat;
    background-image: url("/v/home/cg/images/tv-plus-gallery/logo_hero_light__d7t8cya4x26a_small.png")
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  section[data-module-template="noticias"] .gallery .info-top .atv-plus-icon {
    background-image: url("/v/home/cg/images/tv-plus-gallery/logo_hero_light__d7t8cya4x26a_small_2x.png")
  }
}

section[data-module-template="noticias"] .gallery .info-top .atv-plus-icon {
  background-image: none
}

section[data-module-template="noticias"] .gallery .info-top .atv-plus-icon {
  background-size: 119px 46px;
  background-repeat: no-repeat;
  background-image: url("/v/home/cg/images/tv-plus-gallery/logo_hero_light__d7t8cya4x26a_large.png")
}

section[data-module-template="noticias"] .gallery .gallery-item.current .info-bottom {
  opacity: 0.999;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

section[data-module-template="noticias"] .gallery .gallery-item.current .info-bottom {
  opacity: 0.999;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.6s;
  transition: all 0.6s
}

section[data-module-template="noticias"] .gallery .info-bottom {
  opacity: 0.001;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  bottom: 38px;
  left: 47px;
  right: 175px
}

@media (min-width: 1441px) {
  section[data-module-template="noticias"] .gallery .info-bottom {
    bottom: 56px;
    left: 70px;
    right: 210px
  }
}

@media only screen and (max-width: 1068px) {
  section[data-module-template="noticias"] .gallery .info-bottom {
    bottom: 24px;
    left: 30px;
    right: 128px
  }
}

@media only screen and (max-width: 734px) {
  section[data-module-template="noticias"] .gallery .info-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    left: 0;
    width: 100%;
    right: 0;
    bottom: 30px
  }
}

section[data-module-template="noticias"] .gallery .info-bottom .custom-button {
  border-radius: 980px;
  font-size: 17px;
  line-height: 1.17648;
  font-weight: 400;
  letter-spacing: -.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  border-style: solid;
  border-width: 1px;
  min-width: 28px;
  padding: 21px 21px 11px 21px;
  --sk-button-margin-horizontal: 18px;
  --sk-button-margin-vertical: 18px;
  border-color: transparent;
  flex-shrink: 0;
}

section[data-module-template="noticias"] .gallery .info-bottom .custom-button:lang(pt-br) {
  letter-spacing: 0em;
  font-family: "SF Pro AR", "SF Pro AR Text", "SF Pro Text", "SF Pro Gulf", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

section[data-module-template="noticias"] .gallery .info-bottom .custom-button:lang(zh) {
  letter-spacing: 0em
}

@media only screen and (max-width: 1068px) {
  section[data-module-template="noticias"] .gallery .info-bottom .custom-button {
    --sk-button-margin-horizontal: 14px;
    --sk-button-margin-vertical: 14px;
    font-size: 14px;
    line-height: 1.42859;
    letter-spacing: -.016em;
    min-width: 30px;
    padding: 7px 15px;
  }

  section[data-module-template="noticias"] .gallery .info-bottom .custom-button:lang(pt-br) {
    line-height: 1.57143;
    letter-spacing: 0em;
    font-family: "SF Pro AR", "SF Pro AR Text", "SF Pro Text", "SF Pro Gulf", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
  }
}

section[data-module-template="noticias"] .gallery .info-bottom .custom-button {
  border-radius: 980px;
  font-size: 17px;
  line-height: 1.17648;
  font-weight: 400;
  letter-spacing: -.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  border-style: solid;
  border-width: 1px;
  min-width: 28px;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 11px;
  padding-bottom: 11px;
  --sk-button-margin-horizontal: 18px;
  --sk-button-margin-vertical: 18px;
  border-color: transparent;
  -ms-flex-negative: 0;
  flex-shrink: 0
}

section[data-module-template="noticias"] .gallery .info-bottom .custom-button:lang(pt-br) {
  letter-spacing: 0em;
  font-family: "SF Pro AR", "SF Pro AR Text", "SF Pro Text", "SF Pro Gulf", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

@media only screen and (max-width: 1068px) {
  section[data-module-template="noticias"] .gallery .info-bottom .custom-button {
    --sk-button-margin-horizontal: 14px;
    --sk-button-margin-vertical: 14px;
    font-size: 14px;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: -.016em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    min-width: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px
  }

  section[data-module-template="noticias"] .gallery .info-bottom .custom-button:lang(pt-br) {
    line-height: 1.57143;
    letter-spacing: 0em;
    font-family: "SF Pro AR", "SF Pro AR Text", "SF Pro Text", "SF Pro Gulf", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
  }
}

section[data-module-template="noticias"] .gallery .info-bottom .custom-button.button-primary-light {
  background: #F5F5F7 !important;
  color: #000 !important;
}

section[data-module-template="noticias"] .gallery .info-bottom p {
  font-size: 20px;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: 0em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin-left: 18px;
  font-weight: 400;
  color: #fff;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6)
}

section[data-module-template="noticias"] .gallery .info-bottom p:lang(pt-br) {
  font-family: "SF Pro AR", "SF Pro AR Display", "SF Pro Display", "SF Pro Gulf", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}


@media only screen and (max-width: 1068px) {
  section[data-module-template="noticias"] .gallery .info-bottom p {
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
  }
}

@media only screen and (max-width: 734px) {
  section[data-module-template="noticias"] .gallery .info-bottom p {
    font-size: 15px;
    line-height: 1.33338;
    font-weight: 400;
    letter-spacing: 0em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
  }

  section[data-module-template="noticias"] .gallery .info-bottom p:lang(pt-br) {
    font-family: "SF Pro AR", "SF Pro AR Text", "SF Pro Text", "SF Pro Gulf", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
  }
}

section[data-module-template="noticias"] .gallery .info-bottom p span {
  font-weight: 700
}

@media only screen and (max-width: 734px) {
  section[data-module-template="noticias"] .gallery .info-bottom p span {
    display: block
  }
}

@media only screen and (max-width: 734px) {
  section[data-module-template="noticias"] .gallery .info-bottom p span.m-dot {
    display: none
  }
}

@media only screen and (max-width: 734px) {
  section[data-module-template="noticias"] .gallery .info-bottom p {
    margin: 0 auto 12px;
    text-align: center;
    padding: 0 15px;
    white-space: pre-wrap;
    overflow: visible
  }
}

section[data-module-template="noticias"] .gallery .info-bottom p {
  font-size: 20px;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: 0em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin-left: 40px;
  font-weight: 400;
  color: #fff;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}

section[data-module-template="noticias"] .gallery .info-bottom p span {
  font-weight: 700;
}

section[data-module-template="noticias"] .gallery .info-bottom p span {
  font-weight: 700
}

@media only screen and (max-width: 734px) {
  section[data-module-template="noticias"] .gallery .info-bottom p span {
    display: block
  }
}

@media only screen and (max-width: 734px) {
  section[data-module-template="noticias"] .gallery .info-bottom p span.m-dot,
  section[data-module-template="noticias"] .gallery .info-bottom p span.cdot {
    display: none
  }
}


/* =================== CONTINUAR =================== */

section[data-module-template="noticias"] .gallery .tablist-wrapper {
  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translate(-50%);
}

section[data-module-template="noticias"] .dotnav {
  text-align: center;
  box-sizing: border-box;
}

section[data-module-template="noticias"] .dotnav ul {
  margin: 0;
  list-style: none;
  display: inline-flex;
  justify-content: center;
}

section[data-module-template="noticias"] .dotnav li {
  list-style: none;
  margin: 0 7px;
  width: 8px;
  height: 8px;
  position: relative;
}

section[data-module-template="noticias"] .dotnav .dotnav-item {
  background-color: rgba(0, 0, 0, 0.42);
  transition: background-color 100ms linear;
}

section[data-module-template="noticias"] .dotnav-item {
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  outline: none;
  position: absolute;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

section[data-module-template="noticias"] .tablist-wrapper .dotnav .dotnav-item.current {
  background-color: rgba(0, 0, 0, 0.8);
}

section[data-module-template="noticias"] .tablist-wrapper .dotnav .dotnav-item li a span.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

section[data-module-template="noticias"] .gallery .play-pause.show {
  display: block;
}

section[data-module-template="noticias"] .gallery .play-pause {
  display: none;
  position: absolute;
  bottom: 0;
  right: 30px;
  height: 38px;
  width: 30px;
  font-size: 22px;
  color: #1d1d1d;
}

/* paddlenav */
section[data-module-template="noticias"] .paddlenav,
section[data-module-template="noticias"] .paddlenav ul {
  margin: 0;
  list-style: none;
}

section[data-module-template="noticias"] .gallery .paddlenav ul {
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  pointer-events: none;
}

section[data-module-template="noticias"] .gallery .paddlenav li {
  position: absolute;
  bottom: 38px;
  top: 0;
  margin: 0;
  list-style: none;
}

section[data-module-template="noticias"] .gallery .paddlenav li.next {
  right: 0;
  left: calc(50% + 505px);
}

@media only screen and (min-width: 1441px) {
  section[data-module-template="noticias"] .gallery .paddlenav li.next {
    left: calc(50% + 640px);
  }
}

@media only screen and (max-width: 1068px) {
  section[data-module-template="noticias"] .gallery .paddlenav li.next {
    left: calc(50% + 359.5px);
  }
}

@media only screen and (max-width: 734px) {
  section[data-module-template="noticias"] .gallery .paddlenav li.next {
    left: calc(50% + 152px);
  }
}

section[data-module-template="noticias"] .gallery .paddlenav li.previous {
  left: 0;
  right: calc(50% + 505px);
}

@media only screen and (min-width: 1441px) {
  section[data-module-template="noticias"] .gallery .paddlenav li.previous {
    right: calc(50% + 640px);
  }
}

@media only screen and (max-width: 1068px) {
  section[data-module-template="noticias"] .gallery .paddlenav li.previous {
    right: calc(50% + 359.5px);
  }
}

@media only screen and (max-width: 734px) {
  section[data-module-template="noticias"] .gallery .paddlenav li.previous {
    right: calc(50% + 152px);
  }
}

section[data-module-template="noticias"] .gallery .paddlenav button {
  width: auto;
  height: auto;
  border-radius: 0;
  background: none !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 0;
  pointer-events: all;
}

section[data-module-template="noticias"] .gallery .paddlenav button:focus,
section[data-module-template="noticias"] .gallery .paddlenav button:active {
  background: none;
}

section[data-module-template="noticias"] .gallery .paddlenav button:after {
  display: none;
}

@media only screen and (max-width: 734px) {
  section[data-module-template="noticias"] .gallery .paddlenav button:after {
    display: block;
  }
}

@media (max-width: 320px) {
  section[data-module-template="noticias"] .gallery .paddlenav button:after {
    display: none;
  }
}

section[data-module-template="noticias"] .gallery .paddlenav button:hover {
  background: none;
}