@charset "UTF-8";
main[id="globalmain"] {
  all: initial;
}

main[id="globalmain"] {
  position: relative;
  max-width: 2560px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

main[id="globalmain"] section[data-module-template="heroes"] {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

main[id="globalmain"] [data-module-template="heroes"] [id="boasvindas"],
main[id="globalmain"] [data-module-template="heroes"] [id="graduacao"],
main[id="globalmain"] [data-module-template="heroes"] [id="posgraduacao"],
main[id="globalmain"] [data-module-template="heroes"] [id="docentes"] {
  width: 100%;
}
main[id="globalmain"] [data-module-template="heroes"] div[data-unit-id]:nth-child(1) {
  --main-section-destaque-height: calc(94vh - 10px - 40px);
  height: var(--main-section-destaque-height);
}

main[id="globalmain"] [id="boasvindas"] [id="modulo-content"],
main[id="globalmain"] [id="graduacao"] [id="modulo-content"],
main[id="globalmain"] [id="posgraduacao"] [id="modulo-content"],
main[id="globalmain"] [id="docentes"] [id="modulo-content"] {
  background-size: 3008px 624px;
  background-repeat: no-repeat;
  background-position: center;
}

main[id="globalmain"] div .unit-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 2px;
}

main[id="globalmain"] [data-module-template] [data-unit-id] .unit-wrapper a.unit-link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main[id="globalmain"] div[class="unit-copy-warpper"] {
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  text-align: center;
  z-index: 5;
  user-select: none;
}

main[id="globalmain"] .cta-links a {
  z-index: 6;
  font-size: 19px;
}

main[id="globalmain"] section[data-module-template="heroes"] div.unit-image-warpper,
main[id="globalmain"] section[data-module-template="promos"] div.unit-image-warpper {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #6197f5, #dad9d9);
}

main[id="globalmain"] section[data-module-template="heroes"] figure {
  background-color: var(--r-globalmain-figure-color-primary);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

main[id="globalmain"] section[data-module-template="heroes"] figure[id="unit-image-boasvindas"] {
  display: none;
}
/* gradiente */
main[id="globalmain"] section[data-module-template="heroes"] div:nth-child(2) .unit-image-warpper {
  background: radial-gradient(circle at top, #ffcd07 3%, rgb(245, 30, 30) 50%, #bc3131 70%);
}

main[id="globalmain"]
  section[data-module-template="heroes"]
  div:nth-child(2)
  .unit-image-warpper
  figure[id="unit-image-graduacao"] {
  width: 3008px;
  height: 624px;
  background-size: 3008px 624px;
  background-repeat: no-repeat;
  background-image: url("/sd/images/br/banners/heroes/home/graduacao-banner-grande.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  main[id="globalmain"] [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-graduacao {
    background-image: url("/sd/images/br/banners/heroes/home/graduacao-banner-grande.png");
  }
}

@media only screen and (max-width: 1068px) {
  main[id="globalmain"] [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-graduacao {
    width: 1068px;
    height: 617px;
    background-size: 1068px 617px;
    background-repeat: no-repeat;
    background-image: url("/sd/images/br/banners/heroes/home/graduacao-banner-grande.png");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  main[id="globalmain"] [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-graduacao {
    background-image: url("/sd/images/br/banners/heroes/home/graduacao-banner-grande.png");
  }
}

@media only screen and (max-width: 734px) {
  main[id="globalmain"] [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-graduacao {
    width: 734px;
    height: 548px;
    background-size: 734px 548px;
    background-repeat: no-repeat;
    background-image: url("/sd/images/br/banners/heroes/home/graduacao-banner-grande.png");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  main[id="globalmain"] [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-graduacao {
    background-image: url("/sd/images/br/banners/heroes/home/graduacao-banner-grande.png");
  }
}

@media only screen and (min-width: 1069px) and (min-height: 776px) {
  main[id="globalmain"] [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-graduacao {
    width: 3008px;
    height: 736px;
    background-size: 3008px 736px;
    background-repeat: no-repeat;
    background-image: url("/sd/images/br/banners/heroes/home/graduacao-banner-grande.png");
  }
}

@media only screen and (min-width: 1069px) and (min-height: 776px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-width: 1069px) and (min-height: 776px) and (min-resolution: 1.5dppx),
  only screen and (min-width: 1069px) and (min-height: 776px) and (min-resolution: 144dpi) {
  main[id="globalmain"] [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-graduacao {
    background-image: url("/sd/images/br/banners/heroes/home/graduacao-banner-grande.png");
  }
}

@media only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) {
  main[id="globalmain"] [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-graduacao {
    width: 1068px;
    height: 694px;
    background-size: 1068px 694px;
    background-repeat: no-repeat;
    background-image: url("/sd/images/br/banners/heroes/home/graduacao-banner-grande.png");
  }
}

@media only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) and (min-resolution: 144dpi) {
  main[id="globalmain"] [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-graduacao {
    background-image: url("/sd/images/br/banners/heroes/home/graduacao-banner-grande.png");
  }
}

main[id="globalmain"] section[data-module-template="heroes"] figure[id="unit-image-posgraduacao"] {
  width: 3008px;
  height: 624px;
  background-image: url("/sd/images/br/banners/heroes/home/posgraduacao-banner-grande.png");
}
main[id="globalmain"] section[data-module-template="heroes"] figure[id="unit-image-docentes"] {
  width: 3008px;
  height: 624px;
  background-image: url("/sd/images/br/banners/heroes/home/docente-banner-grande.png");
}

main[id="globalmain"] [data-module-template="heroes"] {
  width: 100%;
}

main[id="globalmain"] section[data-module-template="promos"] {
  position: relative;
  display: grid;
  width: 100%;
  height: max-content;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1em;
}

main[id="globalmain"] section[data-module-template="promos"] [id="modulo-content"] {
  height: 580px;
}

main[id="globalmain"] [data-module-template="promos"] .unit-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
}
main[id="globalmain"] section[data-module-template="promos"] figure {
  background-color: var(--r-globalmain-figure-color-primary);
  background-position: center;
  width: 1262px;
  height: 580px;
  background-size: 1262px 580px;
  background-repeat: no-repeat;
}

main[id="globalmain"] section[data-module-template="promos"] figure[id="unit-image-instalacoes"] {
  background-image: url("/sd/images/br/banners/promos/home/fumaça-banner-medio.png");
}
main[id="globalmain"] section[data-module-template="promos"] figure[id="unit-image-pesquisa"] {
  background-image: url("/sd/images/br/banners/promos/home/estudando-banner-medio.png");
}
main[id="globalmain"] section[data-module-template="promos"] figure[id="unit-image-extencao"] {
  background-image: url("/sd/images/br/banners/promos/home/caquito-banner-medio.png");
}
main[id="globalmain"] section[data-module-template="promos"] figure[id="unit-image-eventos"] {
  background-image: url("/sd/images/br/banners/promos/home/pintura-banner-medio.png");
}
main[id="globalmain"] section[data-module-template="promos"] figure[id="unit-image-formularios"] {
  background-image: url("/sd/images/br/banners/promos/home/jovem-banner-medio.png");
}
main[id="globalmain"] section[data-module-template="promos"] figure[id="unit-image-contato"] {
  background-image: url("/sd/images/br/banners/promos/home/pintura-banner-medio.png");
}

main[id="globalmain"] [data-module-template] [data-unit-id] .unit-wrapper {
  --content-height: 580px;
  height: var(--content-height);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}
main[id="globalmain"] [data-module-template="heroes"] div[data-unit-id]:nth-child(1) .unit-wrapper {
  height: var(--main-section-destaque-height, calc(calc(684px - 12px - 44px)));
}

main[id="globalmain"] [data-module-template] [data-unit-id] .unit-image {
  z-index: 1;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  left: calc(50% + 0px);
  right: auto;
  bottom: 0px;
  top: auto;
  -webkit-transform: translatex(-50%);
  transform: translatex(-50%);
  background-color: transparent;
}

main[id="globalmain"] section[data-module-template="noticias"] {
  display: none;
}
