body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  position: relative;
  max-width: 2560px;
  margin: 0 auto;
  padding-top: var(--global-nav-collective-height);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

section[data-module-template="heroes"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
[data-module-template="heroes"] [id="calouro"] {
  display: none;
}

[data-module-template="heroes"] [id="calouro"],
[data-module-template="heroes"] [id="graduacao"],
[data-module-template="heroes"] [id="posgraduacao"],
[data-module-template="heroes"] [id="extensao"] {
  width: 100%;
}

[id="calouro"] [id="modulo-content"],
[id="graduacao"] [id="modulo-content"],
[id="posgraduacao"] [id="modulo-content"],
[id="extensao"] [id="modulo-content"] {
  height: 600px;
  background-size: 3008px 624px;
  background-repeat: no-repeat;
  background-position: center;
}

div .unit-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 2px;
}
/* link tag a */

[data-module-template] [data-unit-id] .unit-wrapper a.unit-link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index: 3; */
  /* REMOVE - Display */
  /* REMOVE - Display */
  /* REMOVE - Display */
  display: none;
}

div[class="unit-copy-warpper"] {
  margin-top: 42px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 5;
}

/* faltou o sup */

div[class="unit-image-warpper"] {
  width: 100%;
  height: 100%;
  opacity: 0.85;
}

section[data-module-template="heroes"]
  div[data-unit-id="calouro"]
  div[id="modulo-content"]
  div[class="unit-wrapper"]
  div[class="unit-image-warpper"]
  figure[id="unit-image-calouro"] {
  height: 100%;
  width: 100%;
  background-image: url("../../../../../img/image-1.png");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section[data-module-template="heroes"]
  div[data-unit-id="graduacao"]
  div[id="modulo-content"]
  div[class="unit-wrapper"]
  div[class="unit-image-warpper"]
  figure[id="unit-image-graduacao"] {
  height: 100%;
  width: 100%;
  background-image: url("../../../../../img/image-1.png");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
section[data-module-template="heroes"]
  div[data-unit-id="posgraduacao"]
  div[id="modulo-content"]
  div[class="unit-wrapper"]
  div[class="unit-image-warpper"]
  figure[id="unit-image-posgraduacao"] {
  height: 100%;
  width: 100%;
  background-image: url("../../../../../img/image-2.png");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
section[data-module-template="heroes"]
  div[data-unit-id="extensao"]
  div[id="modulo-content"]
  div[class="unit-wrapper"]
  div[class="unit-image-warpper"]
  figure[id="unit-image-extensao"] {
  height: 100%;
  width: 100%;
  background-image: url("../../../../../img/image-3.png");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cta-links a {
  z-index: 6;
  font-size: 19px;
}

.headline {
  color: whitesmoke;
  font-size: 56px;
}
.subhead {
  color: rgb(237, 233, 233);
  font-size: 24px;
}

/* section[data-module-template="promos"], */
section[data-module-template="noticias"] {
  display: none;
}
/*  */

/* ======================= section grid=================================== */

section[data-module-template="promos"] {
  position: relative;

  /* background-color: chartreuse; */
  display: grid;
  height: max-content;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1em;
  width: 100%;
}

section[data-module-template="promos"] [id="modulo-content"] {
  height: 580px;
}

section[data-module-template="promos"]
  div[data-unit-id="docentes"]
  div[id="modulo-content"]
  div[class="unit-wrapper"]
  div[class="unit-image-warpper"]
  figure[id="unit-image-docentes"] {
  height: 100%;
  width: 100%;
  background-image: url("../../../../../img/image-3.png");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
section[data-module-template="promos"]
  div[data-unit-id="pesquisa"]
  div[id="modulo-content"]
  div[class="unit-wrapper"]
  div[class="unit-image-warpper"]
  figure[id="unit-image-pesquisa"] {
  height: 100%;
  width: 100%;
  background-image: url("../../../../../img/image-3.png");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
section[data-module-template="promos"]
  div[data-unit-id="eventos"]
  div[id="modulo-content"]
  div[class="unit-wrapper"]
  div[class="unit-image-warpper"]
  figure[id="unit-image-eventos"] {
  height: 100%;
  width: 100%;
  background-image: url("../../../../../img/image-3.png");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
section[data-module-template="promos"]
  div[data-unit-id="ouvidoria"]
  div[id="modulo-content"]
  div[class="unit-wrapper"]
  div[class="unit-image-warpper"]
  figure[id="unit-image-ouvidoria"] {
  height: 100%;
  width: 100%;
  background-image: url("../../../../../img/image-3.png");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
section[data-module-template="promos"]
  div[data-unit-id="instalacoes"]
  div[id="modulo-content"]
  div[class="unit-wrapper"]
  div[class="unit-image-warpper"]
  figure[id="unit-image-instalacoes"] {
  height: 100%;
  width: 100%;
  background-image: url("../../../../../img/image-3.png");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
section[data-module-template="promos"]
  div[data-unit-id="contato"]
  div[id="modulo-content"]
  div[class="unit-wrapper"]
  div[class="unit-image-warpper"]
  figure[id="unit-image-contato"] {
  height: 100%;
  width: 100%;
  background-image: url("../../../../../img/image-3.png");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section[data-module-template="promos"] div[class="unit-copy-warpper"] {
  /* z-index: auto; */
}
