@charset "UTF-8";
#globaltop {
  all: unset;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  position: relative;
  max-width: 2560px;
  margin: 0 auto;
  padding-top: var(--global-nav-collective-height);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

section[data-module-template="heroes"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
[data-module-template="heroes"] [id="calouro"] {
  display: none;
}

[data-module-template="heroes"] [id="calouro"],
[data-module-template="heroes"] [id="graduacao"],
[data-module-template="heroes"] [id="posgraduacao"],
[data-module-template="heroes"] [id="extensao"] {
  width: 100%;
}

[id="calouro"] [id="modulo-content"],
[id="graduacao"] [id="modulo-content"],
[id="posgraduacao"] [id="modulo-content"],
[id="extensao"] [id="modulo-content"] {
  height: 600px;
  background-size: 3008px 624px;
  background-repeat: no-repeat;
  background-position: center;
}

div .unit-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 2px;
}
/* link tag a */

[data-module-template] [data-unit-id] .unit-wrapper a.unit-link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div[class="unit-copy-warpper"] {
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  z-index: 5;
}
/* inicio - tipografia */
.cta-links a {
  z-index: 6;
  font-size: 19px;
}
/* faltou o sup */

section[data-module-template="heroes"]
  div[data-unit-id="calouro"]
  div[class="unit-image-warpper"]
  figure[id="unit-image-calouro"],
section[data-module-template="heroes"]
  div[data-unit-id="graduacao"]
  figure[id="unit-image-graduacao"],
section[data-module-template="heroes"]
  div[data-unit-id="posgraduacao"]
  figure[id="unit-image-posgraduacao"],
section[data-module-template="heroes"]
  div[data-unit-id="extensao"]
  figure[id="unit-image-extensao"],
section [class="unit-image-warpper"] {
  width: 100%;
  height: 100%;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* opacity: 0.85; */
}

/* div calouros - não exibida */
/* section[data-module-template="heroes"] figure[id="unit-image-calouro"] {
  background-image: url("../../../../../bg/imagens/astronauta.jpg");
  display: none; 
} */

section[data-module-template="heroes"] figure[id="unit-image-graduacao"] {
  background-image: url("../../../../../imgs/heroes/estudante-banner-grande.jpg");
}
section[data-module-template="heroes"] figure[id="unit-image-posgraduacao"] {
  background-image: url("../../../../../imgs/heroes/astronauta-banner-grande.jpg");
}
section[data-module-template="heroes"] figure[id="unit-image-extensao"] {
  background-image: url("../../../../../imgs/heroes/docente-banner-grande.jpg");
}
/* MEDIA SCREEN */

/* ====== */

/* MEDIA SCREEN */
/* ======================= section grid=================================== */

section[data-module-template="promos"] {
  position: relative;
  display: grid;
  width: 100%;
  height: max-content;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1em;
}

section[data-module-template="promos"] div[class="unit-wrapper"] .headline {
  font-size: 32px;
}
section[data-module-template="promos"] div[class="unit-wrapper"] .subhead,
section[data-module-template="promos"] div[class="unit-wrapper"] .cta-links a {
  font-size: 19px;
}

section[data-module-template="promos"] [id="modulo-content"] {
  height: 580px;
}

section[data-module-template="promos"]
  div[data-unit-id="docentes"]
  div[class="unit-image-warpper"]
  figure[id="unit-image-docentes"],
section[data-module-template="promos"]
  div[data-unit-id="pesquisa"]
  figure[id="unit-image-pesquisa"],
section[data-module-template="promos"]
  div[data-unit-id="eventos"]
  figure[id="unit-image-eventos"],
section[data-module-template="promos"]
  div[data-unit-id="ouvidoria"]
  figure[id="unit-image-ouvidoria"],
section[data-module-template="promos"]
  div[data-unit-id="instalacoes"]
  figure[id="unit-image-instalacoes"],
section[data-module-template="promos"]
  div[data-unit-id="contato"]
  figure[id="unit-image-contato"],
section [class="unit-image-warpper"] {
  width: 100%;
  height: 100%;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section[data-module-template="promos"] figure[id="unit-image-docentes"] {
  background-image: url("../../../../../imgs/promos/pintura-banner-medio.jpg");
}
section[data-module-template="promos"] figure[id="unit-image-pesquisa"] {
  background-image: url("../../../../../imgs/promos/folas-banner-medio.jpg");
}
section[data-module-template="promos"] figure[id="unit-image-eventos"] {
  background-image: url("../../../../../imgs/promos/jovem-banner-medio.jpg");
}
section[data-module-template="promos"] figure[id="unit-image-ouvidoria"] {
  background-image: url("../../../../../imgs/promos/estudando-banner-medio.jpg");
}
section[data-module-template="promos"] figure[id="unit-image-instalacoes"] {
  background-image: url("../../../../../imgs/promos/fumaça-banner-medio.jpg");
}
section[data-module-template="promos"] figure[id="unit-image-contato"] {
  background-image: url("../../../../../imgs/promos/caquito-banner-medio.jpg");
}

/* ============ section noticias ========== */

@media screen and (max-width: 734px) and (min-width: 0px) {
  section[data-module-template="promos"],
  section[data-module-template="promos"] [data-unit-id] {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    gap: 1em;
  }
}

.icon-chevronright:before,
.icon-chevronright:after {
  font-family: "fontello";
  content: "\e801";
  padding: 0;
  text-decoration: none;
}

/* botão slideshow*/
.main [data-module-template="noticias"] .gallery .play-pause.show {
  display: block;
}

.main [data-module-template="noticias"] .gallery .play-pause {
  display: none;
  position: absolute;
  bottom: 0;
  right: 30px;
  height: 38px;
  width: 30px;
  font-size: 22px;
  color: #1d1d1d;
}

/* texto slideshow */
.main [data-module-template="noticias"] .gallery .inner {
  position: absolute;
  top: 0;
  left: 7.5px;
  width: calc(100% - 15px);
  height: 100%;
}
.main [data-module-template="noticias"] .gallery .info-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}
.main [data-module-template="noticias"] .gallery .info-top .logo {
  width: 220px;
  height: 54px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  margin: 0 auto;
}
.main
  [data-module-template="noticias"]
  .gallery
  .gallery-item.current
  .info-bottom {
  opacity: 0.999;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.main [data-module-template="noticias"] .gallery .info-bottom .custom-button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  line-height: 1.17648;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  border-style: solid;
  border-width: 1px;
  min-width: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 980px;
  background: #0071e3;
  color: #fff;
  border-color: rgba(0, 0, 0, 0);
  --sk-button-margin-horizontal: 14px;
  --sk-button-margin-vertical: 14px;
  font-size: 17px;
  line-height: 1.17648;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  border-style: solid;
  border-width: 1px;
  min-width: 28px;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 11px;
  padding-bottom: 11px;
  --sk-button-margin-horizontal: 18px;
  --sk-button-margin-vertical: 18px;
  font-size: 14px;
  line-height: 1.42859;
  font-weight: 400;
  letter-spacing: -0.016em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  font-weight: 700;
  background-color: #fff;
  color: #1d1d1f;
  cursor: pointer;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.main [data-module-template="noticias"] .gallery .info-bottom p {
  font-size: 20px;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: 0em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin-left: 40px;
  font-weight: 400;
  color: #fff;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}

.main [data-module-template="noticias"] .gallery .info-bottom p span {
  font-weight: 700;
}
