@charset "UTF-8";
#main {
  all: unset;
}

main {
  position: relative;
  max-width: 2560px;
  margin: 0 auto;
  padding-top: var(--r-globaltop-height);
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media only screen and (max-width: 833px) {
  /* Removi o GlobalNav em Telas Menores */
  main {
    padding-top: calc(
      var(--r-globalheader-height)+ var(--r-globalsection-height)
    );
  }
}

section[data-module-template="heroes"] {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

[data-module-template="heroes"] [id="calouro"],
[data-module-template="heroes"] [id="graduacao"],
[data-module-template="heroes"] [id="posgraduacao"],
[data-module-template="heroes"] [id="docentes"] {
  width: 100%;
}

[id="calouro"] [id="modulo-content"],
[id="graduacao"] [id="modulo-content"],
[id="posgraduacao"] [id="modulo-content"],
[id="docentes"] [id="modulo-content"] {
  height: 600px;
  background-size: 3008px 624px;
  background-repeat: no-repeat;
  background-position: center;
}

div .unit-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 2px;
}

[data-module-template] [data-unit-id] .unit-wrapper a.unit-link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div[class="unit-copy-warpper"] {
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  text-align: center;
  z-index: 5;
}

.cta-links a {
  z-index: 6;
  font-size: 19px;
}

section[data-module-template="heroes"]
  div[data-unit-id="calouro"]
  div[class="unit-image-warpper"]
  figure[id="unit-image-calouro"],
section[data-module-template="heroes"]
  div[data-unit-id="graduacao"]
  figure[id="unit-image-graduacao"],
section[data-module-template="heroes"]
  div[data-unit-id="posgraduacao"]
  figure[id="unit-image-posgraduacao"],
section[data-module-template="heroes"]
  div[data-unit-id="docentes"]
  figure[id="unit-image-docentes"] {
  background-color: var(--r-globalmain-figure-color-primary);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section[data-module-template="heroes"] figure[id="unit-image-calouro"] {
  background-image: url("/ac/globalmain/1/pt_BR/assets/heroes/docente-banner-grande.jpg");
  display: none;
}
section[data-module-template="heroes"] figure[id="unit-image-graduacao"] {
  width: 3008px;
  height: 624px;
  background-size: 3008px 624px;
  background-repeat: no-repeat;
  background-image: url("../assets/heroes/astronauta-banner-grande.svg");
  background-color: var();
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .main
    [data-module-template="heroes"]
    .unit-image-wrapper
    .unit-image.unit-image-graduacao {
    background-image: url("../assets/heroes/astronauta-banner-grande.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  .main
    [data-module-template="heroes"]
    .unit-image-wrapper
    .unit-image.unit-image-graduacao {
    width: 1068px;
    height: 617px;
    background-size: 1068px 617px;
    background-repeat: no-repeat;
    background-image: url("../assets/heroes/astronauta-banner-grande.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .main
    [data-module-template="heroes"]
    .unit-image-wrapper
    .unit-image.unit-image-graduacao {
    background-image: url("../assets/heroes/astronauta-banner-grande.jpg");
  }
}

@media only screen and (max-width: 734px) {
  .main
    [data-module-template="heroes"]
    .unit-image-wrapper
    .unit-image.unit-image-graduacao {
    width: 734px;
    height: 548px;
    background-size: 734px 548px;
    background-repeat: no-repeat;
    background-image: url("../assets/heroes/astronauta-banner-grande.jpg");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  .main
    [data-module-template="heroes"]
    .unit-image-wrapper
    .unit-image.unit-image-graduacao {
    background-image: url("../assets/heroes/astronauta-banner-grande.jpg");
  }
}

@media only screen and (min-width: 1069px) and (min-height: 776px) {
  .main
    [data-module-template="heroes"]
    .unit-image-wrapper
    .unit-image.unit-image-graduacao {
    width: 3008px;
    height: 736px;
    background-size: 3008px 736px;
    background-repeat: no-repeat;
    background-image: url("../assets/heroes/astronauta-banner-grande.jpg");
  }
}

@media only screen and (min-width: 1069px) and (min-height: 776px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-width: 1069px) and (min-height: 776px) and (min-resolution: 1.5dppx),
  only screen and (min-width: 1069px) and (min-height: 776px) and (min-resolution: 144dpi) {
  .main
    [data-module-template="heroes"]
    .unit-image-wrapper
    .unit-image.unit-image-graduacao {
    background-image: url("../assets/heroes/astronauta-banner-grande.jpg");
  }
}

@media only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) {
  .main
    [data-module-template="heroes"]
    .unit-image-wrapper
    .unit-image.unit-image-graduacao {
    width: 1068px;
    height: 694px;
    background-size: 1068px 694px;
    background-repeat: no-repeat;
    background-image: url("../assets/heroes/astronauta-banner-grande.jpg");
  }
}

@media only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) and (min-resolution: 144dpi) {
  .main
    [data-module-template="heroes"]
    .unit-image-wrapper
    .unit-image.unit-image-graduacao {
    background-image: url("../assets/heroes/astronauta-banner-grande.jpg");
  }
}

section[data-module-template="heroes"] figure[id="unit-image-posgraduacao"] {
  width: 3008px;
  height: 624px;
  background-image: url("../../../../../ac/globalmain/1/pt_BR/assets/heroes/estudante-banner-grande.jpg");
}
section[data-module-template="heroes"] figure[id="unit-image-docentes"] {
  width: 3008px;
  height: 624px;
  background-image: url("../../../../../ac/globalmain/1/pt_BR/assets/heroes/docente-banner-grande.jpg");
}

.main [data-module-template="heroes"] {
  width: 100%;
}

section[data-module-template="promos"] {
  position: relative;
  display: grid;
  width: 100%;
  height: max-content;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1em;
}

section[data-module-template="promos"] [id="modulo-content"] {
  height: 580px;
}
/* section[data-module-template="promos"] div[class="unit-wrapper"] .headline {
  font-size: 32px;
}
section[data-module-template="promos"] div[class="unit-wrapper"] .subhead,
section[data-module-template="promos"] div[class="unit-wrapper"] .cta-links a {
  font-size: 19px;
} */

.main [data-module-template="promos"] .unit-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
}

section[data-module-template="promos"] figure {
  background-color: white;
  background-position: center;
  width: 1262px;
  height: 580px;
  background-size: 1262px 580px;
  background-repeat: no-repeat;
}

section[data-module-template="promos"] figure[id="unit-image-instalacoes"] {
  background-image: url("../../../../../ac/globalmain/1/pt_BR/assets/promos/pintura-banner-medio.jpg");
}
section[data-module-template="promos"] figure[id="unit-image-pesquisa"] {
  background-image: url("../../../../../ac/globalmain/1/pt_BR/assets/promos/folas-banner-medio.jpg");
}
section[data-module-template="promos"] figure[id="unit-image-extencao"] {
  background-image: url("../../../../../ac/globalmain/1/pt_BR/assets/promos/folas-banner-medio.jpg");
}
section[data-module-template="promos"] figure[id="unit-image-eventos"] {
  background-image: url("../../../../../ac/globalmain/1/pt_BR/assets/promos/folas-banner-medio.jpg");
}
section[data-module-template="promos"] figure[id="unit-image-formularios"] {
  background-image: url("../../../../../ac/globalmain/1/pt_BR/assets/promos/folas-banner-medio.jpg");
}
section[data-module-template="promos"] figure[id="unit-image-contato"] {
  background-image: url("../../../../../ac/globalmain/1/pt_BR/assets/promos/folas-banner-medio.jpg");
}

[data-module-template] [data-unit-id] .unit-wrapper {
  --content-height: 580px;
  height: var(--content-height);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  background: #f5f5f7;
}

[data-module-template] [data-unit-id] .unit-image {
  z-index: 1;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  left: calc(50% + 0px);
  right: auto;
  bottom: 0px;
  top: auto;
  -webkit-transform: translatex(-50%);
  transform: translatex(-50%);
}
