# ############################## PASTA GRANDES #################################
node_modules/
vendor/

# ############################## BASES DE DADOS ############################
*.csv
*.DBF
*.xlsx
*.xls
*.db
*.sqlite
*.sqlite3
*.pdf

# ############################## PASTA BUILD/OUTPUT ############################
.next/
out/
coverage/
.eggs/
*.egg-info/
*.tsbuildinfo
*.war
*.jar

# ############################## PASTA CACHE ##############################
**/*cache*/
**/__pycache__/
**/.pytest_cache/
**/.mypy_cache/
**/.ipynb_checkpoints/
**/.dmypy.json
**/.pyre/
**/.pytype/
**/.gradle/

# ############################## PASTA LOGS ##############################
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.coverage
.coverage.*
*.log.*

# ############################## ARQUIVOS SENSÍVEIS ############################
*.env
*.env.*
*.DS_Store
*.httr-oauth
*.Rhistory
*.RData
*.Renviron
*.sqlite3
*.pem
*.key
*.crt
*.p12
*.pfx

# ############################## OUTROS ##############################
*.tmp
*.temp
*.manifest
*.spec
*.pot
*.mo
*.pyc
*.pyo
*.class
*.lock
*.bak
*.swp
*.swo
*.orig
*.rej
*.gz
*.zip
*.tar
*.rar
*.7z
*.iso
*.dmg
*.exe
*.dll
*.deb
*.rpm
*.apk
*.ipa
*.msi
*.bin
*.img
*.iso
*.bak
*.old

# ############################## QUARTO ##############################
_book/
_main.rds
_files/
libs/
