# Ignorar global

node_modules
*cache*
.*env*
*.*env*
*.*quarto*
**/.gitignore

*libs
*_files*
*_main.rds
*_book*

*temp*
*tmp*

*.httr-oauth
*.DS_Store
*.DBF
*.xlsx
*.xls
*.csv
*.pdf

*.Rproj
*.Rproj.*
*.Rhistory
*.RData
*.Ruserdata
*.Renviron
*.Renviron.*

################################## ANALISAR #################################

# Trabalho 1/dataProject
# Trabalho 1/data.Need.Project/
# Trabalho 2/dataProject
# Trabalho 2/dataProject/
# Atividaes/PadronTaxas/dataProject
# Atividaes/PadronTaxas/dataProject/
# SINGAGE.XLS

################################################################################
################################## NÃO IGNORAR #################################
################################################################################
!fluxograma.pdf
!teste
!*.md
!*.qmd
!.github
!.vscode
!/.gitignore
!.htaccess
!CNAME

!utils
!newsroom