[submodule "backend"]
	path = backend
	url = https://github.com/czargab18/backend.git
	branch = main

[submodule "books"]
	path = books
	url = https://github.com/czargab18/books.git
	branch = main

[submodule "newshub"]
	path = newshub
	url = https://github.com/czargab18/newshub.git
	branch = main

[submodule "wss"]
    path = wss
    url = https://github.com/czargab18/wss.git
