# Este arquivo .gitignore foi organizado em seções para facilitar a manutenção e compreensão.
# Cada seção agrupa tipos de arquivos ou diretórios que devem ser ignorados com base em sua
# funcionalidade ou origem. Abaixo está uma explicação detalhada:

# 1. BASES DE DADOS:
#    Arquivos relacionados a bancos de dados e planilhas, como .csv, .xlsx, .db e .sqlite.
#    Esses arquivos geralmente contêm dados sensíveis ou grandes volumes de informações
#    que não devem ser versionados.

# 2. PASTA BUILD/OUTPUT:
#    Diretórios e arquivos gerados automaticamente durante o processo de build ou compilação,
#    como dist/, .next/ e arquivos .egg-info. Esses arquivos são recriados pelo sistema e
#    não precisam ser armazenados no repositório.

# 3. PASTA CACHE:
#    Caches gerados por linguagens e ferramentas, como __pycache__, .pytest_cache e .mypy_cache.
#    Esses arquivos são temporários e não devem ser versionados.

# 4. PASTA LOGS:
#    Arquivos de log gerados por aplicações ou ferramentas, como *.log e npm-debug.log*.
#    Esses arquivos são úteis para depuração, mas não devem ser incluídos no controle de versão.

# 5. ARQUIVOS SENSÍVEIS:
#    Arquivos que podem conter informações confidenciais, como .env, .pem e .key.
#    Esses arquivos devem ser mantidos fora do repositório para evitar vazamento de dados.

# 6. OUTROS:
#    Arquivos temporários, backups e outros formatos que não são necessários para o repositório,
#    como *.tmp, *.bak e *.zip.

# 7. SOFTWARES E LINGUAGENS:
#    - QUARTO: Ignora arquivos e diretórios gerados pelo Quarto, como _book/, _main.rds e _files/.
#    - NODEJS: Ignora a pasta node_modules/, que contém dependências do Node.js.
#    - PYTHON: Ignora a pasta vendor/ e outros arquivos relacionados ao ambiente Python.

# ############################## NÃO IGNORAR NADA ############################
!*/
!**/*
# ############################## BASES DE DADOS ############################
*.csv
*.DBF
*.xlsx
*.xls
*.db*
*.sqlite
*.sqlite3
*.pdf

# ############################## PASTA BUILD/OUTPUT ############################
.next/
*out*/
coverage/
*.eggs/
*.egg-info/
*.tsbuildinfo
*.war
*.jar

# ############################## PASTA CACHE ##############################
**/*cache*/
**/__pycache__/
*pycache*/
**/.pytest_cache/
**/.mypy_cache/
**/.ipynb_checkpoints/
**/.dmypy.json
**/.pyre/
**/.pytype/
**/.gradle/

# ############################## PASTA LOGS ##############################
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.coverage
.coverage.*
*.log.*

# ############################## ARQUIVOS SENSÍVEIS ############################
*.env*
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
*.DS_Store
*.httr-oauth
*.Rhistory
*.RData
*.Renviron
*.sqlite3
*.pem
*.key
*.crt
*.p12
*.pfx

# ############################## OUTROS ##############################
# -------------
*Atividades Acadêmicas.pdf
creden*/
*secret.json
*secret*.json
*.mp4
*.xlsx
utils/pdf/*/*/*.jpg
utils/pdf/*/*.pdf
# -------------



*.tmp
*.temp
*.manifest
*.spec
*.pot
*.mo
*.pyc
*.pyo
*.class
*.lock
*.bak
*.swp
*.swo
*.orig
*.rej
*.gz
*.zip
*.tar
*.rar
*.7z
*.iso
*.dmg
*.exe
*.dll
*.deb
*.rpm
*.apk
*.ipa
*.msi
*.bin
*.img
*.iso
*.bak
*.old
.vercel
next-env.d.ts

# ############################ SOFTWARES E LINGUAGENS ##########################
# ########### C ###########
*.so
# ########### QUARTO ###########
_book/
_main.rds
_files/
# ########### NODEJS ###########
node_modules
# ########### PYTHON ###########
vendor/
local_settings.py
celerybeat-schedule
celerybeat.pid
*.sage.py
.spyderproject
.spyproject
.ropeproject
__pypackages__/
.Python
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.pdm.toml
instance/
cython_debug/
.idea/
/coverage
.next/
/out/
.webassets-cache
.scrapy
docs/_build/
profile_default/
ipython_config.py
.python-version
.pybuilder/
target/
.dmypy.json
dmypy.json
.pyre/
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
cover/
*.py[cod]
*$py.class
profile_default/
ipython_config.py
.python-version
*.log
*.pot
local_settings.py
db.sqlite3
db.sqlite3-journal
media
Pipfile.lock
poetry.lock
.pdm.toml

############## R ##############
*.Rproj
*.Rproj.*
*.Rhistory
*.RData
*.Ruserdata
*.Renviron
*.Renviron.*

# ##############################################################################
# ##############################  PASTA BACKEND   ##############################
# ##############################################################################
# ########### IGNORAR
backend/**/*cache*/
backend/**/*.py[cod]
backend/**/*.egg-info/
backend/**/dist/
backend/**/*.env
backend/**/*.sqlite3
backend/**/*.log
backend/**/.idea/
backend/**/.DS_Store
backend/**/Thumbs.db
backend/**/vendor/

# ########### NÃO IGNORAR
!backend/
!backend/build/
!backend/vendor/README.md
!backend/restos_funcoes/*

# ##############################################################################
# ###############################  PASTA BOOKS   ###############################
# ##############################################################################
# ########### IGNORAR
books/**/delete
books/**/src
books/**/libs
books/**/_main.rds
books/**/_files
books/**/delete
books/**/*_main.rds
books/**/Trabalho 1/dataProject
books/**/Trabalho 1/data.Need.Project/
books/**/Trabalho 2/dataProject/
books/**/Atividaes/PadronTaxas/dataProject/
books/**/SINGAGE.XLS

# ########### NÃO IGNORAR

################################################################################
################################### IGNORAR ####################################
################################################################################
/**/.gitignore*

################################################################################
################################## NÃO IGNORAR #################################
################################################################################
!fluxograma.pdf
!teste/
!README.md
!.github
!.vscode
!/.gitignore 
!.htaccess
!CNAME