RewriteEngine On

# Rediceiona domin-main www.*
RewriteCond %{HTTP_HOST} ^estatistica\.pro$ [NC]
RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Remove www de subdomínios
RewriteCond %{HTTP_HOST} ^www\.(.+)\.estatistica\.pro$ [NC]
RewriteRule ^ https://%1.estatistica.pro%{REQUEST_URI} [L,R=301]
