RewriteEngine On

# Força HTTPS para todo o site, incluindo subdomínios
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Força www exclusivamente no domínio principal estatistica.com e seus subdiretórios
RewriteCond %{HTTP_HOST} ^estatistica\.com [NC]
RewriteRule ^(.*)$ https://www.estatistica.com/$1 [R=301,L]

# Redireciona tentativas de acesso a /dev/ e /stage/
RewriteCond %{REQUEST_URI} ^/(dev|stage)
RewriteRule ^ - [F]

# Página de ERRO STATUSCODE personalizada
ErrorDocument 404 /v/errors/404.html
ErrorDocument 403 /v/errors/404.html
ErrorDocument 500 /v/errors/404.html
ErrorDocument 502 /v/errors/404.html
ErrorDocument 503 /v/errors/404.html

# fonte: https://cwiki.apache.org/confluence/display/httpd/RewriteHTTPToHTTPS

