:root{
    --r-globalnavbar-background-opened: #fbfbfd;
    --r-globalnavbar-background-opened-dark: #161617;
    /* barra */
    --r-globalnavbar-background-white: #ffffff; 
    --r-globalnavbar-color-secondary: #333336;
    --r-globalnavbar-color-hover: #000000;

    --globalnavbar-background: none;
    --globalnavbar-backdrop-filter: none;
    --r-globalnavbar-height: 44px;
    --r-globalnavbar-font-size: 15px;
    /* logo */
    --globalnavbar-govbr-blue: #2864ae;
    --r-globalnavbar-govbr-yellow:#fabd10;
    --r-globalnavbar-govbr-light-green:  #026e3a ;
    /* -------------------------------- */
    --r-globalnavbar-height: 40px;
    --r-globalnavbar-color: rgba(255, 255, 255, 0.8);
    --r-globalnavbar-color-secondary: #333336;
    --r-globalnavbar-color-hover: #ffffff;
    --r-globalnavbar-font-size: 17px;
    /* --globalnavbar-background: none; */
    --globalnavbar-backdrop-filter: none;
    /* -------------------------------- */
    --r-globalnavbar-color: rgba(255, 255, 255, .8);
    --r-globalnavbar-color-secondary: #E8E8ED;
    --r-globalnavbar-color-hover: #FFFFFF
    /* -------------------------------- */
    --r-globalnavbar-color: rgba(0, 0, 0, .8);
    --r-globalnavbar-color-secondary: #333336;
    --r-globalnavbar-color-hover: #000000
    /* -------------------------------- */
    --globalnavbar-background: rgba(251, 251, 253, .92)
    /* -------------------------------- */
    --globalnavbar-background: rgba(22, 22, 23, .88)
    /* -------------------------------- */
    --globalnavbar-backdrop-filter: initial
    /* -------------------------------- */
    --r-globalnavbar-duration-medium: .24s;
    /* -------------------------------- */
    --r-globalnavbar-height: 48px;
    /* -------------------------------- */
    
    /* -------------------------------- */
    
    /* -------------------------------- */
    
    /* -------------------------------- */
    
    /* -------------------------------- */
}