/* 
- Tipografia: configura todos os recursos relacionados a tipografia do site.
- Quais configuração::after
  - Fonte Base
  - Escala Tipográfica
  - Line-height (entrelinha)
  - Tabelas de Estilos: H*, p, label, etc...

Cálculo de escala tipográfica:
Fonte Large Figma = 34px
  - Escala: 14px = 1em
  - 34px / 14px = 2.4 em
- Referência: https://www.gov.br/ds/fundamentos-visuais/visao-geral
*/
/* cor padrão */
[class^="headline"],
[class^="body"],
[class^="callout"],
[class^="footnote"],
[class^="caption"] {
  color: rgba(0, 0, 0, 0.56);
}

/* SF Pro Text */
.headline-large-regular-text {
  font-family: "SF Pro Text";
  font-size: 56px;
  line-height: 41px;
}

.headline-large-medium-text {
  font-family: "SF Pro Text";
  font-size: 56px;
  font-weight: 500;
}

.headline-large-semibold-text {
  font-family: "SF Pro Text";
  font-size: 56px;
  font-weight: 600;
}

.headline-large-bold-text {
  font-family: "SF Pro Text";
  font-size: 56px;
  font-weight: 700;
}

.headline1-regular-text {
  font-family: "SF Pro Text";
  font-size: 46px;
  font-weight: 400;
}

.headline1-medium-text {
  font-family: "SF Pro Text";
  font-size: 46px;
  font-weight: 500;
}

.headline1-semibold-text {
  font-family: "SF Pro Text";
  font-size: 46px;
  font-weight: 600;
}

.headline1-bold-text {
  font-family: "SF Pro Text";
  font-size: 46px;
  font-weight: 700;
}

.headline2-regular-text {
  font-family: "SF Pro Text";
  font-size: 36px;
  font-weight: 400;
}

.headline2-medium-text {
  font-family: "SF Pro Text";
  font-size: 36px;
  font-weight: 500;
}

.headline2-semibold-text {
  font-family: "SF Pro Text";
  font-size: 36px;
  font-weight: 600;
}

.headline2-bold-text {
  font-family: "SF Pro Text";
  font-size: 36px;
  font-weight: 700;
}

.headline3-regular-text {
  font-family: "SF Pro Text";
  font-size: 33px;
  font-weight: 400;
}

.headline3-medium-text {
  font-family: "SF Pro Text";
  font-size: 33px;
  font-weight: 500;
}

.headline3-semibold-text {
  font-family: "SF Pro Text";
  font-size: 33px;
  font-weight: 600;
}

.headline3-bold-text {
  font-family: "SF Pro Text";
  font-size: 33px;
  font-weight: 700;
}

.headline-semibold-text {
  font-family: "SF Pro Text";
  font-size: 28px;
  font-weight: 600;
}

.body-regular-text {
  font-family: "SF Pro Text";
  font-size: 17px;
  font-weight: 400;
}

.body-medium-text {
  font-family: "SF Pro Text";
  font-size: 17px;
  font-weight: 500;
}

.body-semibold-text {
  font-family: "SF Pro Text";
  font-size: 17px;
  font-weight: 600;
}

.body-bold-text {
  font-family: "SF Pro Text";
  font-size: 17px;
  font-weight: 700;
}

.callout-regular-text {
  font-family: "SF Pro Text";
  font-size: 16px;
  font-weight: 400;
}

.callout-medium-text {
  font-family: "SF Pro Text";
  font-size: 16px;
  font-weight: 500;
}

.callout-semibold-text {
  font-family: "SF Pro Text";
  font-size: 16px;
  font-weight: 600;
}

.callout-bold-text {
  font-family: "SF Pro Text";
  font-size: 16px;
  font-weight: 700;
}

.footnote-regular-text {
  font-family: "SF Pro Text";
  font-size: 13px;
  font-weight: 400;
}

.footnote-medium-text {
  font-family: "SF Pro Text";
  font-size: 13px;
  font-weight: 500;
}

.footnote-semibold-text {
  font-family: "SF Pro Text";
  font-size: 13px;
  font-weight: 600;
}

.footnote-bold-text {
  font-family: "SF Pro Text";
  font-size: 13px;
  font-weight: 700;
}

.caption1-regular-text {
  font-family: "SF Pro Text";
  font-size: 12px;
  font-weight: 400;
}

.caption1-medium-text {
  font-family: "SF Pro Text";
  font-size: 12px;
  font-weight: 500;
}

.caption1-semibold-text {
  font-family: "SF Pro Text";
  font-size: 12px;
  font-weight: 600;
}

.caption1-bold-text {
  font-family: "SF Pro Text";
  font-size: 12px;
  font-weight: 700;
}

.caption2-regular-text {
  font-family: "SF Pro Text";
  font-size: 11px;
  font-weight: 400;
}

.caption2-medium-text {
  font-family: "SF Pro Text";
  font-size: 11px;
  font-weight: 500;
}

.caption2-semibold-text {
  font-family: "SF Pro Text";
  font-size: 11px;
  font-weight: 600;
}

.caption2-bold-text {
  font-family: "SF Pro Text";
  font-size: 11px;
  font-weight: 700;
}

/* SF Pro Display */
.headline-large-regular-display {
  font-family: "SF Pro Display";
  font-size: 56px;
  font-weight: 400;
}

.headline-large-medium-display {
  font-family: "SF Pro Display";
  font-size: 56px;
  font-weight: 500;
}

.headline-large-semibold-display {
  font-family: "SF Pro Display";
  font-size: 56px;
  font-weight: 600;
}

.headline-large-bold-display {
  font-family: "SF Pro Display";
  font-size: 56px;
  font-weight: 700;
}

.headline1-regular-display {
  font-family: "SF Pro Display";
  font-size: 46px;
  font-weight: 400;
}

.headline1-medium-display {
  font-family: "SF Pro Display";
  font-size: 46px;
  font-weight: 500;
}

.headline1-semibold-display {
  font-family: "SF Pro Display";
  font-size: 46px;
  font-weight: 600;
}

.headline1-bold-display {
  font-family: "SF Pro Display";
  font-size: 46px;
  font-weight: 700;
}

.headline2-regular-display {
  font-family: "SF Pro Display";
  font-size: 36px;
  font-weight: 400;
}

.headline2-medium-display {
  font-family: "SF Pro Display";
  font-size: 36px;
  font-weight: 500;
}

.headline2-semibold-display {
  font-family: "SF Pro Display";
  font-size: 36px;
  font-weight: 600;
}

.headline2-bold-display {
  font-family: "SF Pro Display";
  font-size: 36px;
  font-weight: 700;
}

.headline3-regular-display {
  font-family: "SF Pro Display";
  font-size: 33px;
  font-weight: 400;
}

.headline3-medium-display {
  font-family: "SF Pro Display";
  font-size: 33px;
  font-weight: 500;
}

.headline3-semibold-display {
  font-family: "SF Pro Display";
  font-size: 33px;
  font-weight: 600;
}

.headline3-bold-display {
  font-family: "SF Pro Display";
  font-size: 33px;
  font-weight: 700;
}

.headline-semibold-display {
  font-family: "SF Pro Display";
  font-size: 28px;
  font-weight: 600;
}

.body-regular-display {
  font-family: "SF Pro Display";
  font-size: 17px;
  font-weight: 400;
}

.body-medium-display {
  font-family: "SF Pro Display";
  font-size: 17px;
  font-weight: 500;
}

.body-semibold-display {
  font-family: "SF Pro Display";
  font-size: 17px;
  font-weight: 600;
}

.body-bold-display {
  font-family: "SF Pro Display";
  font-size: 17px;
  font-weight: 700;
}

.callout-regular-display {
  font-family: "SF Pro Display";
  font-size: 16px;
  font-weight: 400;
}

.callout-medium-display {
  font-family: "SF Pro Display";
  font-size: 16px;
  font-weight: 500;
}

.callout-semibold-display {
  font-family: "SF Pro Display";
  font-size: 16px;
  font-weight: 600;
}

.callout-bold-display {
  font-family: "SF Pro Display";
  font-size: 16px;
  font-weight: 700;
}

.footnote-regular-display {
  font-family: "SF Pro Display";
  font-size: 13px;
  font-weight: 400;
}

.footnote-medium-display {
  font-family: "SF Pro Display";
  font-size: 13px;
  font-weight: 500;
}

.footnote-semibold-display {
  font-family: "SF Pro Display";
  font-size: 13px;
  font-weight: 600;
}

.footnote-bold-display {
  font-family: "SF Pro Display";
  font-size: 13px;
  font-weight: 700;
}

.caption1-regular-display {
  font-family: "SF Pro Display";
  font-size: 12px;
  font-weight: 400;
}

.caption1-medium-display {
  font-family: "SF Pro Display";
  font-size: 12px;
  font-weight: 500;
}

.caption1-semibold-display {
  font-family: "SF Pro Display";
  font-size: 12px;
  font-weight: 600;
}

.caption1-bold-display {
  font-family: "SF Pro Display";
  font-size: 12px;
  font-weight: 700;
}

.caption2-regular-display {
  font-family: "SF Pro Display";
  font-size: 11px;
  font-weight: 400;
}

.caption2-medium-display {
  font-family: "SF Pro Display";
  font-size: 11px;
  font-weight: 500;
}

.caption2-semibold-display {
  font-family: "SF Pro Display";
  font-size: 11px;
  font-weight: 600;
}

.caption2-bold-display {
  font-family: "SF Pro Display";
  font-size: 11px;
  font-weight: 700;
}

/* SF Pro Rounded */
.headline-large-regular-rounded {
  font-family: "SF Pro Rounded";
  font-size: 56px;
  font-weight: 400;
}

.headline-large-medium-rounded {
  font-family: "SF Pro Rounded";
  font-size: 56px;
  font-weight: 500;
}

.headline-large-semibold-rounded {
  font-family: "SF Pro Rounded";
  font-size: 56px;
  font-weight: 600;
}

.headline-large-bold-rounded {
  font-family: "SF Pro Rounded";
  font-size: 56px;
  font-weight: 700;
}

.headline1-regular-rounded {
  font-family: "SF Pro Rounded";
  font-size: 46px;
  font-weight: 400;
}

.headline1-medium-rounded {
  font-family: "SF Pro Rounded";
  font-size: 46px;
  font-weight: 500;
}

.headline1-semibold-rounded {
  font-family: "SF Pro Rounded";
  font-size: 46px;
  font-weight: 600;
}

.headline1-bold-rounded {
  font-family: "SF Pro Rounded";
  font-size: 46px;
  font-weight: 700;
}

.headline2-regular-rounded {
  font-family: "SF Pro Rounded";
  font-size: 36px;
  font-weight: 400;
}

.headline2-medium-rounded {
  font-family: "SF Pro Rounded";
  font-size: 36px;
  font-weight: 500;
}

.headline2-semibold-rounded {
  font-family: "SF Pro Rounded";
  font-size: 36px;
  font-weight: 600;
}

.headline2-bold-rounded {
  font-family: "SF Pro Rounded";
  font-size: 36px;
  font-weight: 700;
}

.headline3-regular-rounded {
  font-family: "SF Pro Rounded";
  font-size: 33px;
  font-weight: 400;
}

.headline3-medium-rounded {
  font-family: "SF Pro Rounded";
  font-size: 33px;
  font-weight: 500;
}

.headline3-semibold-rounded {
  font-family: "SF Pro Rounded";
  font-size: 33px;
  font-weight: 600;
}

.headline3-bold-rounded {
  font-family: "SF Pro Rounded";
  font-size: 33px;
  font-weight: 700;
}

.headline-semibold-rounded {
  font-family: "SF Pro Rounded";
  font-size: 28px;
  font-weight: 600;
}

.body-regular-rounded {
  font-family: "SF Pro Rounded";
  font-size: 17px;
  font-weight: 400;
}

.body-medium-rounded {
  font-family: "SF Pro Rounded";
  font-size: 17px;
  font-weight: 500;
}

.body-semibold-rounded {
  font-family: "SF Pro Rounded";
  font-size: 17px;
  font-weight: 600;
}

.body-bold-rounded {
  font-family: "SF Pro Rounded";
  font-size: 17px;
  font-weight: 700;
}

.callout-regular-rounded {
  font-family: "SF Pro Rounded";
  font-size: 16px;
  font-weight: 400;
}

.callout-medium-rounded {
  font-family: "SF Pro Rounded";
  font-size: 16px;
  font-weight: 500;
}

.callout-semibold-rounded {
  font-family: "SF Pro Rounded";
  font-size: 16px;
  font-weight: 600;
}

.callout-bold-rounded {
  font-family: "SF Pro Rounded";
  font-size: 16px;
  font-weight: 700;
}

.footnote-regular-rounded {
  font-family: "SF Pro Rounded";
  font-size: 13px;
  font-weight: 400;
}

.footnote-medium-rounded {
  font-family: "SF Pro Rounded";
  font-size: 13px;
  font-weight: 500;
}

.footnote-semibold-rounded {
  font-family: "SF Pro Rounded";
  font-size: 13px;
  font-weight: 600;
}

.footnote-bold-rounded {
  font-family: "SF Pro Rounded";
  font-size: 13px;
  font-weight: 700;
}

.caption1-regular-rounded {
  font-family: "SF Pro Rounded";
  font-size: 12px;
  font-weight: 400;
}

.caption1-medium-rounded {
  font-family: "SF Pro Rounded";
  font-size: 12px;
  font-weight: 500;
}

.caption1-semibold-rounded {
  font-family: "SF Pro Rounded";
  font-size: 12px;
  font-weight: 600;
}

.caption1-bold-rounded {
  font-family: "SF Pro Rounded";
  font-size: 12px;
  font-weight: 700;
}

.caption2-regular-rounded {
  font-family: "SF Pro Rounded";
  font-size: 11px;
  font-weight: 400;
}

.caption2-medium-rounded {
  font-family: "SF Pro Rounded";
  font-size: 11px;
  font-weight: 500;
}

.caption2-semibold-rounded {
  font-family: "SF Pro Rounded";
  font-size: 11px;
  font-weight: 600;
}

.caption2-bold-rounded {
  font-family: "SF Pro Rounded";
  font-size: 11px;
  font-weight: 700;
}
