@charset "UTF-8";
main[id="globalmain-ira"] {
  all: unset;
}
button,
input,
select,
span[id^="status-"],
.btn-success,
.btn-primary,
.btn-danger,
.remove-periodo {
  font-size: 16px;
  margin-top: 0.25em;
  color: #ffffff;
  padding: 0.5em 1em;
  border: 0.15em;
  border-radius: 0.75em;
  border-style: solid;
  border-color: var(--bg-color-blue-black);
  background-color: var(--bg-color-blue-black);
}
@media screen and (max-width: 1080px) {
  button,
  input,
  select,
  span[id^="status-"],
  .btn-success,
  .btn-success:hover,
  .btn-primary,
  .btn-primary:hover,
  .btn-danger,
  .btn-danger:hover,
  .remove-periodo,
  .remove-periodo:hover {
    font-size: 14px;
    color: #ffffff;
    padding: 0.5em 1em;
    border: 0.1em;
    border-radius: 0.75em;
    border-style: solid;
    border-color: var(--bg-color-blue-black);
    background-color: var(--bg-color-blue-black);
  }
}
div > span[id^="status-"] {
  display: flex;
}
.btn-success,
.btn-success:hover,
.btn-primary {
  color: #fff;
  background-color: #157347;
  border-color: #146c43;
}
.btn-success,
.btn-success:hover,
.btn-primary {
  color: #fff;
  background-color: #157347;
  border-color: #146c43;
}

.btn-danger,
.remove-periodo {
  background-color: transparent;
  color: #d0192b;
  border-color: #d0192b;
  font-family: var(--r-font-family-default);
  white-space: nowrap;
}
.btn-danger:hover,
.remove-periodo:hover {
  color: #fff;
  background-color: #bb2d3b;
  border-color: #b02a37;
}

input:active,
select:active,
input:focus,
input::placeholder,
select:focus,
select::placeholder {
  color: #ffffff;
  border-color: var(--bg-color-blue-black);
  outline: none;
}
select option[disabled] {
  color: #ffffff;
}
section#globalsection-ira-avisos {
  width: 100%;
  display: flex;
  justify-content: center;
}
section#globalsection-ira-avisos #noticia-avisos {
  display: flex;
  justify-content: center;
}
main[id="globalmain-ira"],
div[id="chapternav"] {
  max-width: 2560px;
  width: 100%;
  justify-items: center;
}
main[id="globalmain-ira"] {
  --chapternav-hight: calc(4em + 1.5em);
  --bg-color-white: rgba(255, 255, 257, 1);
  --bg-color-gray: rgb(245, 245, 247, 1);
  --bg-color-blue: #2997ff;
  --bg-color-blue-black: #004080;
  --bg-color-green: #007a33;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  background-color: var(--bg-color-white);
  margin: 0;
  padding: 0;
}
main[id="globalmain-ira"] #chapternav {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: var(--bg-color-gray);
  margin-top: calc(var(--r-globalheader-height) + var(--r-globalnavbar-height) + 32px);
}
@media screen and (max-width: 744px) {
  main[id="globalmain-ira"] #chapternav {
    margin-top: calc(var(--r-globalnavbar-height) + 32px);
  }
}

#chapternav .chapternav-content {
  width: 100%;
  max-width: 980px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
#chapternav .chapternav-content > * {
  margin: 0;
}

@media screen and (max-width: 600px) {
  #chapternav .chapternav-content {
    margin-left: 1em;
    margin-right: 1em;
  }
}

#titulo,
#ira-mp {
  text-align: center;
  margin: 0;
  font-size: 28px;
  line-height: 1.14286;
  font-weight: 400;
  letter-spacing: 0.007em;
  margin-top: 6px;
}

main[id="globalmain-ira"] div[id="container-periodos"] {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  width: 100%;
  gap: 0.5em;
}
div[id="container-periodos"] > div[id^="periodo"] {
  width: 100%;
  max-width: 1024px;
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

div[id="container-periodos"] div[id^="periodo"] div[class="periodo-title"],
div[id="container-periodos"] div[id^="periodo"] div[id$="-disciplinas"] {
  width: 100%;
  max-width: 980px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}
div[id="container-periodos"] div[id^="periodo"] div[id$="-disciplinas"] {
  flex-direction: column;
}
@media screen and (max-width: 1080px) {
  div[id="container-periodos"] div[id^="periodo"] div[id$="-disciplinas"] {
    flex-direction: column;
    row-gap: 2em;
  }
}
div[id^="periodo"] > div[class="periodo-title"] div {
  margin-top: 0;
}

div[id^="periodo"] div[class="periodo-title-btns"] button:nth-child(1) {
  margin-right: 0.5em;
}

div[id="container-periodos"] div[id^="periodo"] div[id$="-disciplinas"] div[class="preencher-linha"] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  max-width: 980px;
  width: 100%;
}
@media screen and (max-width: 1080px) {
  div[id="container-periodos"] div[id^="periodo"] div[id$="-disciplinas"] div[class="preencher-linha"] {
    max-width: 980px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 2em;
  }
}
@media screen and (max-width: 480px) {
  div[id="container-periodos"] div[id^="periodo"] div[id$="-disciplinas"] div[class="preencher-linha"] {
    flex-direction: column;
  }
}

div[id="container-periodos"] div[id^="periodo"] div[id$="-disciplinas"] div[id$="-preencher"] div[class="left"],
div[id="container-periodos"] div[id^="periodo"] div[id$="-disciplinas"] div[id$="-preencher"] div[class="rigth"] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  width: 100%;
}

div[id="container-periodos"] div[id^="periodo"] div[id$="-disciplinas"] div[id$="-preencher"] div[class="rigth"] {
  justify-content: flex-end;
}

@media screen and (max-width: 1080px) {
  div[id="container-periodos"] div[id^="periodo"] div[id$="-disciplinas"] div[id$="-preencher"] div[class="left"],
  div[id="container-periodos"] div[id^="periodo"] div[id$="-disciplinas"] div[id$="-preencher"] div[class="rigth"] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
    width: 100%;
  }

  div[id="container-periodos"] div[id^="periodo"] div[id$="-disciplinas"] div[id$="-preencher"] div[class="rigth"] {
    justify-content: flex-end;
  }
}

#aviso-site-nao-oficial {
  position: relative;
  bottom: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
  background-color: var(--bg-color-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#aviso-site-nao-oficial div.avisos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#aviso-site-nao-oficial div.avisos button {
  bottom: 0;
  margin: 0;
  width: max-content;
  margin-bottom: 1em;
}
#aviso-site-nao-oficial div.avisos p {
  bottom: 0;
  margin: 0;
  text-align: center;
}
@media (max-width: 744px) {
  #aviso-site-nao-oficial {
    position: static;
    text-align: justify;
    width: 100%;
    bottom: 0;
    padding-bottom: 1em;
  }
  #aviso-site-nao-oficial p {
    text-align: justify;
    padding-right: 1em;
    padding-left: 1em;
  }
}
