/* 
* Definição de variáveis globais para o projeto.
* As variáveis são definidas em CSS e podem ser utilizadas em qualquer parte do projeto.
*/

/* 
** Variaveis globais:
** - fontes, cores, tamanhos, espaçamentos, etc...
** ---------------------------------------------------------
*/
:root {
  
  /* Altura */
  --r-globalaside-height: 40px;
  --r-globalnav-height: 44px;
  --r-globalribbon-height: 40px;
  --r-globaltop-height: calc(var(--r-globalaside-height) + var(--r-globalnav-height) + var(--r-globalribbon-height));

  /* Largura */
  --r-globalaside-width: 968px;
  --r-globalnav-width: 968px;
  --r-globalribbon-width: 968px;

  /* Cores */
  --r-globalaside-color-link: rgba(255, 255, 255, 0.8);
  --r-globalaside-color-link-hover: #ffffff;
  --r-globalaside-color-link-active: #ffffff;

  --r-globalaside-color-secondary: #ffffff;
  --r-globalaside-color-secondary-hover: #ffffff;
  --r-globalaside-color-secondary-active: #ffffff;

  --r-globalnav-color-primary: rgba(0, 0, 0, 0.8);
  --r-globalnav-color-primary-hover: rgba(0, 0, 0, 0.8);
  --r-globalnav-color-primary-active: rgba(0, 0, 0, 0.8);

  --r-globalnav-color-secondary: #333336;
  --r-globalnav-color-secondary-hover: #ffffff;
  --r-globalnav-color-secondary-active: #ffffff;

  --r-globalmain-figure-color-primary: rgb(255, 255, 255);

  --r-globalfooter-color-primary: rgba(0, 0, 0, 0.8);
  --r-globalfooter-color-primary-hover: rgba(0, 0, 0, 0.8);
  --r-globalfooter-color-primary-active: rgba(0, 0, 0, 0.8);

  --r-globalfooter-border-color: #d2d2d7;
  --r-globalfooter-text-color: #6e6e73;
  --r-globalfooter-link-color: #424245;
  --r-globalfooter-pipe-color: #86868b;
  --r-globalfooter-directory-title-color: #1d1d1f;
  --r-globalfooter-directory-title-color-hover: #000;

  --r-bg-color-primary: #7f7f7f1a;

  /* Fontes */
  --r-globalfont-family: "SF Pro Text", "SF Pro Dislay", "SF Pro Icons", "Helvetica Neue", "Helvetica", "San Francisco",
    "Open Sans", "Noto Sans", "Arial", sans-serif;

  /* Backgrounds */
  --r-globalfooter-background: #f5f5f7;
  --r-globalaside-background-color-dark-blue: #071d41;

  /* globalnavbar.css */
  --r-globalnavbar-background-opened: #fbfbfd;
  --r-globalnavbar-background-opened-dark: #161617;
  --r-globalnavbar-background-white: #ffffff;
  --r-globalnavbar-color-secondary: #333336;
  --r-globalnavbar-color-hover: #000000;

  --r-globalnavbar-background: none;
  --r-globalnavbar-backdrop-filter: none;
  --r-globalnavbar-height: 44px;
  --r-globalnavbar-font-size: 15px;

  /* Logo */
  --r-globalnavbar-govbr-blue: #2864ae;
  --r-globalnavbar-govbr-yellow: #fabd10;
  --r-globalnavbar-govbr-light-green: #026e3a;

  --r-globalnav-backdrop-filter: saturate(180%) blur(20px);
  --r-globalnav-background: rgba(251, 251, 253, 0.8);

  --r-globalnavbar-color-primary-wihte: rgba(255, 255, 255, 0.8);
  --r-globalnavbar-color-hover-white: #ffffff;
  --r-globalnavbar-font-size: 17px;
  --r-globalnavbar-color-secondary-black: #000000;

  /* Outros */
  --r-globalmain-maxwidth: 2560px;
  --r-pg-home-sections-headline: calc(98dvh - 84px);
}