.main [data-module-template="noticias"],
.main [data-module-template="noticias"] .standalone-module,
.main [data-module-template] div[clas="home-section"] {
  box-sizing: border-box;
  border-style: solid;
  overflow: visible;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}

.main [data-module-tamplete] .collection-module {
  display: grid;
  width: 100%;
}

.main div[clas="module-content"] {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.main [data-module-template="noticias"] .gallery {
  overflow: hidden;
  position: relative;
  height: 561.13167px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  /* flex-direction: column;
  flex-flow: row nowrap; */
  background-color: #fff;
}

.main [data-module-template="noticias"] .gallery .item-container {
  position: relative;
  /* width: 980px; */
  width: 995px;
  height: 100%;
  margin: 0 auto;
  will-change: transform;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

@media (min-width: 1441px) {
  .main [data-module-template="noticias"] .gallery .item-container {
    width: 1265px;
  }
}

@media only screen and (max-width: 1068px) {
  .main [data-module-template="noticias"] .gallery .item-container {
    width: 704px;
  }
}

@media only screen and (max-width: 734px) {
  .main [data-module-template="noticias"] .gallery .item-container {
    width: 289px;
  }
}

.main [data-module-template="noticias"] .gallery .item-container a {
  opacity: calc((var(--progress-0-1) * -0.7) + 0.99);
  background-size: cover;
  background-position: center;
  width: 980px;
  margin: 0 auto;
  height: 100%;
  will-change: opacity;
}
.main [data-module-template="noticias"] .gallery .gallery-item {
  --abs: Max(var(--progress), var(--progress) * -1);
  --progress-0-1: clamp(0, var(--abs), 1);
  --progress-1-1: clamp(-1, var(--progress), 1);
  overflow: hidden;
  position: absolute;
  left: 0;
  height: 523.13167px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: opacity;
  flex: 1 0 100%;
  transform: translateX(var(--progress) * 100%);
  transition: transform 0.3s ease-in-out;
}

/* =================== IMAGENS =================== */
.main [data-module-template="noticias"] .gallery .gallery-item a {
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  height: 100%;
  will-change: opacity;
}
.main [data-module-template="noticias"] .gallery #noticias-01 a {
  position: absolute;
  top: 0;
  left: 7.5px;
  width: calc(100% - 15px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0071e3;
  background-image: url("../../../../../ac/globalnoticias/1/pt_BR/assets/2024/2024.1/2/20/1/20240215_assinatura-finalizacao-obra-cds_betomonteiro_3.jpg");
}
.main [data-module-template="noticias"] .gallery #noticias-02 a {
  position: absolute;
  top: 0;
  left: 7.5px;
  width: calc(100% - 15px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0071e3;
  background-image: url("../../../../../ac/globalnoticias/1/pt_BR/assets/2024/2024.1/2/20/2/20240219_reuniao-unb-cldf_renanlisboa-cldf_1.jpg");
}
.main [data-module-template="noticias"] .gallery #noticias-03 a {
  position: absolute;
  top: 0;
  left: 7.5px;
  width: calc(100% - 15px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0071e3;
  background-image: url("../../../../../ac/globalnoticias/1/pt_BR/assets/2024/2024.1/2/21/20240215_cad_betomonteiro_1.jpg");
}
.main [data-module-template="noticias"] .gallery #noticias-04 a {
  position: absolute;
  top: 0;
  left: 7.5px;
  width: calc(100% - 15px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0071e3;
  background-image: url("../../../../../ac/globalnoticias/1/pt_BR/assets/2024/2024.1/2/22/22022024_SerieAscom_campus-party-2023.png");
}
.main [data-module-template="noticias"] .gallery #noticias-05 a {
  position: absolute;
  top: 0;
  left: 7.5px;
  width: calc(100% - 15px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0071e3;
  background-image: url("../../../../../ac/globalnoticias/1/pt_BR/assets/2024/2024.1/2/23/23fev2024_campanhainstitucional2024_designsecomunb.png");
}
.main [data-module-template="noticias"] .gallery #noticias-06 a {
  position: absolute;
  top: 0;
  left: 7.5px;
  width: calc(100% - 15px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0071e3;
  background-image: url("../../../../../ac/globalnoticias/1/pt_BR/assets/grande.jpg");
}
.main [data-module-template="noticias"] .gallery #noticias-07 a {
  position: absolute;
  top: 0;
  left: 7.5px;
  width: calc(100% - 15px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0071e3;
  background-image: url("../../../../../ac/globalnoticias/1/pt_BR/assets/unb.png");
}
.main [data-module-template="noticias"] .gallery #noticias-08 a {
  position: absolute;
  top: 0;
  left: 7.5px;
  width: calc(100% - 15px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0071e3;
  background-image: url("../../../../../ac/globalnoticias/1/pt_BR/assets/grande.jpg");
}
.main [data-module-template="noticias"] .gallery #noticias-09 a {
  position: absolute;
  top: 0;
  left: 7.5px;
  width: calc(100% - 15px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0071e3;
  background-image: url("../../../../../ac/globalnoticias/1/pt_BR/assets/unb.png");
}
.main [data-module-template="noticias"] .gallery #noticias-10 a {
  position: absolute;
  top: 0;
  left: 7.5px;
  width: calc(100% - 15px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0071e3;
  background-image: url("../../../../../ac/globalnoticias/1/pt_BR/assets/grande.jpg");
}
.main [data-module-template="noticias"] .gallery #noticias-11 a {
  position: absolute;
  top: 0;
  left: 7.5px;
  width: calc(100% - 15px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0071e3;
  background-image: url("../../../../../ac/globalnoticias/1/pt_BR/assets/grande.jpg");
}
.main [data-module-template="noticias"] .gallery #noticias-12 a {
  position: absolute;
  top: 0;
  left: 7.5px;
  width: calc(100% - 15px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0071e3;
  background-image: url("../../../../../ac/globalnoticias/1/pt_BR/assets/grande.jpg");
}

/* =================== TABLIST =================== */
.main [data-module-template="noticias"] .gallery .tablist-wrapper {
  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translate(-50%);
}
.main [data-module-template="noticias"] .dotnav {
  text-align: center;
  box-sizing: border-box;
}

.main [data-module-template="noticias"] .dotnav ul {
  margin: 0;
  list-style: none;
  display: inline-flex;
  justify-content: center;
}

.main [data-module-template="noticias"] .dotnav li {
  list-style: none;
  margin: 0 7px;
  width: 8px;
  height: 8px;
  position: relative;
}

.main [data-module-template="noticias"] .dotnav .dotnav-item {
  background-color: rgba(0, 0, 0, 0.42);
  transition: background-color 100ms linear;
}
.main [data-module-template="noticias"] .dotnav-item {
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  outline: none;
  position: absolute;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

/* circuloPreto - slideAtual */
.main
  [data-module-template="noticias"]
  .tablist-wrapper
  .dotnav
  /* precisam estar juntos para a propriedade ser aplicada */
  .dotnav-item.current {
  background-color: rgba(0, 0, 0, 0.8);
}
/* ocultar os textos dos tablists */
.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}
/* ============= BOTÃO - PLAY e PAUSAR ============= */
.main [data-module-template="noticias"] .gallery .play-pause.show {
  display: block;
}
.main [data-module-template="noticias"] .gallery .play-pause {
  display: none;
  position: absolute;
  bottom: 0;
  right: 30px;
  height: 38px;
  width: 30px;
  font-size: 22px;
  color: #1d1d1d;
}

/* texto slideshow */
.main [data-module-template="noticias"] .gallery .inner {
  position: absolute;
  top: 0;
  left: 7.5px;
  width: calc(100% - 15px);
  height: 100%;
}
.main [data-module-template="noticias"] .gallery .info-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}
.main [data-module-template="noticias"] .gallery .info-top .logo {
  width: 220px;
  height: 54px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  margin: 0 auto;
}
.main
  [data-module-template="noticias"]
  .gallery
  .gallery-item.current
  .info-bottom {
  opacity: 0.999;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.main [data-module-template="noticias"] .gallery .info-bottom {
  transform: translateY(20px);
  transition: all 0.6s;
  position: absolute;
  bottom: 35px;
  left: 68px;
  right: 175px;
  display: flex;
  align-items: center;
}

.main [data-module-template="noticias"] .gallery .info-bottom .custom-button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  line-height: 1.17648;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  border-style: solid;
  border-width: 1px;
  min-width: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 980px;
  background: #0071e3;
  color: #fff;
  border-color: rgba(0, 0, 0, 0);
  --sk-button-margin-horizontal: 14px;
  --sk-button-margin-vertical: 14px;
  font-size: 17px;
  line-height: 1.17648;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  border-style: solid;
  border-width: 1px;
  min-width: 28px;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 11px;
  padding-bottom: 11px;
  --sk-button-margin-horizontal: 18px;
  --sk-button-margin-vertical: 18px;
  font-size: 14px;
  line-height: 1.42859;
  font-weight: 400;
  letter-spacing: -0.016em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  font-weight: 700;
  background-color: #fff;
  color: #1d1d1f;
  cursor: pointer;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.main [data-module-template="noticias"] .gallery .info-bottom p {
  font-size: 20px;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: 0em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin-left: 40px;
  font-weight: 400;
  color: #fff;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}

.main [data-module-template="noticias"] .gallery .info-bottom p span {
  font-weight: 700;
}

.main [data-module-template="noticias"] .gallery .paddlenav li {
  position: absolute;
  bottom: 38px;
  top: 0;
}

.main [data-module-template="noticias"] .gallery .paddlenav li.next {
  right: 0;
  left: calc(50% + 505px);
}

@media only screen and (min-width: 1441px) {
  .main [data-module-template="noticias"] .gallery .paddlenav li.next {
    left: calc(50% + 640px);
  }
}

@media only screen and (max-width: 1068px) {
  .main [data-module-template="noticias"] .gallery .paddlenav li.next {
    left: calc(50% + 359.5px);
  }
}

@media only screen and (max-width: 734px) {
  .main [data-module-template="noticias"] .gallery .paddlenav li.next {
    left: calc(50% + 152px);
  }
}

.main [data-module-template="noticias"] .gallery .paddlenav li.previous {
  left: 0;
  right: calc(50% + 505px);
}

@media only screen and (min-width: 1441px) {
  .main [data-module-template="noticias"] .gallery .paddlenav li.previous {
    right: calc(50% + 640px);
  }
}

@media only screen and (max-width: 1068px) {
  .main [data-module-template="noticias"] .gallery .paddlenav li.previous {
    right: calc(50% + 359.5px);
  }
}

@media only screen and (max-width: 734px) {
  .main [data-module-template="noticias"] .gallery .paddlenav li.previous {
    right: calc(50% + 152px);
  }
}

.main [data-module-template="noticias"] .gallery .paddlenav button {
  width: auto;
  height: auto;
  border-radius: 0;
  background: none !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 0;
  pointer-events: all;
}

.main [data-module-template="noticias"] .gallery .paddlenav button:focus,
.main [data-module-template="noticias"] .gallery .paddlenav button:active {
  background: none;
}

.main [data-module-template="noticias"] .gallery .paddlenav button:after {
  display: none;
}

@media only screen and (max-width: 734px) {
  .main [data-module-template="noticias"] .gallery .paddlenav button:after {
    display: block;
  }
}

@media (max-width: 320px) {
  .main [data-module-template="noticias"] .gallery .paddlenav button:after {
    display: none;
  }
}

.main [data-module-template="noticias"] .gallery .paddlenav button:hover {
  background: none;
}
