.main [data-module-template] .home-section {
  box-sizing: border-box;
  border-style: solid;
  overflow: visible;
    border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}

.main .module-content {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.main [data-module-template="noticias"] .gallery {
  position: relative;
  height: 561.13167px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* background: #921e1e; */
}

.main [data-module-template="noticias"] .gallery .item-container {
  position: relative;
  width: 995px;
  margin: 0 auto;
  will-change: transform;
  /*  */
  aspect-ratio: 16/9;
  overflow: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-snap-align: start;
  object-fit: cover;
  /*  */
  z-index: 1 !important;
}

.main [data-module-template="noticias"] .gallery .gallery-item {
  position: absolute;
  left: 0;
  width: 100%;
  height: 523.13167px;
  justify-content: center;
  align-items: center;
  will-change: opacity;
  z-index: 0 !important;
  display: flex;
  background-color: #a49c9c;
}

.main [data-module-template="noticias"] .gallery .item-container a {
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  height: 100%;
  will-change: opacity;
}

.main [data-module-template="noticias"] .gallery .inner {
  position: absolute;
  top: 0;
  left: 7.5px;
  width: calc(100% - 15px);
  height: 100%;
}

.main [data-module-template="noticias"] .gallery .info-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}

.main
  [data-module-template="noticias"]
  .gallery
  .item-container
  .gallery-item
  .inner {
    background-position: center;
    /* background-size: 119px 46px; */
  aspect-ratio: 16/9;
  background-repeat: no-repeat;
  /* background-image: url("../../../../../ac/globalimgs/grande.jpg"); */
  background-color: #0071e3;
}

.main
  [data-module-template="noticias"]
  .gallery
  .gallery-item
  .info-bottom {
  opacity: 0.999;
  transform: translateY(0);
  transition: all 0.6s;
}
.main [data-module-template="noticias"] .gallery .info-bottom {
  opacity: 0.001;
  transform: translateY(20px);
  transition: all 0.6s;
  position: absolute;
  bottom: 80px;
  left: 60px;
  right: 175px;
  display: flex;
  align-items: center;
}

.main [data-module-template="noticias"] .gallery .info-bottom .custom-button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  line-height: 1.17648;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  border-style: solid;
  border-width: 1px;
  min-width: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 980px;
  background: #0071e3;
  color: #fff;
  border-color: rgba(0, 0, 0, 0);
  --sk-button-margin-horizontal: 14px;
  --sk-button-margin-vertical: 14px;
  min-width: 28px;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 11px;
  padding-bottom: 11px;
  --sk-button-margin-horizontal: 18px;
  --sk-button-margin-vertical: 18px;
  font-size: 14px;
  line-height: 1.42859;
  font-weight: 400;
  letter-spacing: -0.016em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  font-weight: 700;
  background-color: #fff;
  color: #1d1d1f;
  cursor: pointer;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.main
  [data-module-template="noticias"]
  .gallery
  .info-bottom
  .custom-button.play::after {
  padding-left: 0.3em;
  top: 0;
}

.main [data-module-template="noticias"] .gallery .info-bottom p {
  font-size: 20px;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: 0em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin-left: 40px;
  font-weight: 400;
  color: #fff;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}

.main [data-module-template="noticias"] .gallery .info-bottom p span {
  font-weight: 700;
}

.main [data-module-template="noticias"] .gallery .info-bottom p {
  font-size: 20px;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: 0em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin-left: 40px;
  font-weight: 400;
  color: #fff;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}

.main [data-module-template="noticias"] .gallery .info-bottom p span {
  font-weight: 700;
}

/* NAVGATION - PONTOS HORIZONTAL */
.main [data-module-template="noticias"] .gallery .tablist-wrapper {
  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translate(-50%);
}
.main [data-module-template="noticias"] .dotnav {
  text-align: center;
  box-sizing: border-box;
}

.main [data-module-template="noticias"] .dotnav ul {
  margin: 0;
  list-style: none;
  display: inline-flex;
  justify-content: center;
}

.main [data-module-template="noticias"] .dotnav li {
  list-style: none;
  margin: 0 7px;
  width: 8px;
  height: 8px;
  position: relative;
}

.main [data-module-template="noticias"] .dotnav .dotnav-item {
  background-color: rgba(0, 0, 0, 0.42);
  transition: background-color 100ms linear;
}
.main [data-module-template="noticias"] .dotnav-item {
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  outline: none;
  position: absolute;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}
/* ================================================= */
/* ============= BOTÃO - PLAY e PAUSAR ============= */
/* ================================================= */

.main [data-module-template="noticias"] .gallery .play-pause {
  display: none;
  position: absolute;
  bottom: 0;
  right: 30px;
  height: 38px;
  width: 30px;
  font-size: 22px;
  color: #1d1d1d;
}

@media only screen and (max-width: 1068px) {
  html.ac-gn-segmentbar-visible
    .main
    [data-module-template="noticias"]
    .gallery
    .play-pause:after,
  html.ac-ls-visible
    .main
    [data-module-template="noticias"]
    .gallery
    .play-pause:after,
  html.ac-gn-segmentbar-visible
    .main
    [data-module-template="noticias"]
    .gallery
    .play-pause:after,
  html.ac-ls-visible
    .main
    [data-module-template="noticias"]
    .gallery
    .play-pause:after {
    height: 38px;
    position: relative;
    top: 2px;
  }
}

@media only screen and (max-width: 734px) {
  .main [data-module-template="noticias"] .gallery .play-pause {
    right: 15px;
  }
}

@media (max-width: 320px) {
  .main [data-module-template="noticias"] .gallery .play-pause {
    right: 5px;
  }
}

html.text-zoom .main [data-module-template="noticias"] .gallery .play-pause {
  font-size: 14px;
}

.main [data-module-template="noticias"] .gallery .play-pause.show {
  display: block;
}

.main [data-module-template="noticias"] .gallery .play-pause.paused::before,
.main [data-module-template="noticias"] .gallery .play-pause.paused::after {
  font-family: "SF Pro Icons";
  color: inherit;
  display: inline-block;
  font-style: normal;
  font-weight: inherit;
  font-size: inherit;
  line-height: 1;
  text-decoration: underline;
  position: relative;
  z-index: 1;
  alt: "";
}

.main [data-module-template="noticias"] .gallery .play-pause.paused::before,
.main [data-module-template="noticias"] .gallery .play-pause.paused::after {
  text-decoration: none;
}

.main [data-module-template="noticias"] .gallery .play-pause.paused::before {
  display: none;
}

.main [data-module-template="noticias"] .gallery .play-pause.paused::before,
.main [data-module-template="noticias"] .gallery .play-pause.paused::after {
  content: "ïŒž";
}

.main [data-module-template="noticias"] .gallery .play-pause.playing::before,
.main [data-module-template="noticias"] .gallery .play-pause.playing::after {
  font-family: "SF Pro Icons";
  color: inherit;
  display: inline-block;
  font-style: normal;
  font-weight: inherit;
  font-size: inherit;
  line-height: 1;
  text-decoration: underline;
  position: relative;
  z-index: 1;
  alt: "";
}

.main [data-module-template="noticias"] .gallery .play-pause.playing::before,
.main [data-module-template="noticias"] .gallery .play-pause.playing::after {
  text-decoration: none;
}

.main [data-module-template="noticias"] .gallery .play-pause.playing::before {
  display: none;
}

.main [data-module-template="noticias"] .gallery .play-pause.playing::before,
.main [data-module-template="noticias"] .gallery .play-pause.playing::after {
  content: "ïŒŸ";
}

/* ================================================= */
/* ============= BARRA-LATERAL-NOTICIA ============= */
/* ================================================= */

/* NÃO TERÁ NO MOMENTO */
