.main [data-module-template] .standalone-module {
  box-sizing: border-box;
  border-style: solid;
  overflow: visible;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}

.main [data-module-template] .collection-module {
  display: -ms-grid;
  display: grid;
  width: 100%;
}

.main .module-content {
  width: 100%;
  position: relative;
  background-color: blue; /* C========================C*/
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main [data-module-template="noticias"] .gallery {
  overflow: hidden;
  position: relative;
  height: 561.13167px;
  background: #fff;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main [data-module-template="noticias"] .gallery .tablist-wrapper {
  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translate(-50%);
}
.main [data-module-template="noticias"] .dotnav {
  text-align: center;
  box-sizing: border-box;
}

.main [data-module-template="noticias"] .dotnav ul {
  margin: 0;
  list-style: none;
  display: inline-flex;
  justify-content: center;
}

.main [data-module-template="noticias"] .dotnav li {
    list-style: none;
    margin: 0 7px;
    width: 8px;
    height: 8px;
    position: relative;
}

.main [data-module-template="noticias"] .dotnav .dotnav-item {
    background-color: rgba(0,0,0,0.42);
    transition: background-color 100ms linear;
}
.main [data-module-template="noticias"] .dotnav-item {
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    outline: none;
    position: absolute;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.visuallyhidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}
/* ================================================= */
/* ============= BOTÃO - PLAY e PAUSAR ============= */
/* ================================================= */

.main [data-module-template="noticias"] .gallery .play-pause {
    display: none;
    position: absolute;
    bottom: 0;
    right: 30px;
    height: 38px;
    width: 30px;
    font-size: 22px;
    color: #1d1d1d
}

@media only screen and (max-width: 1068px) {
    html.ac-gn-segmentbar-visible .main [data-module-template="noticias"] .gallery .play-pause:after,html.ac-ls-visible .main [data-module-template="noticias"] .gallery .play-pause:after,html.ac-gn-segmentbar-visible .main [data-module-template="noticias"] .gallery .play-pause:after,html.ac-ls-visible .main [data-module-template="noticias"] .gallery .play-pause:after {
        height:38px;
        position: relative;
        top: 2px
    }
}

@media only screen and (max-width: 734px) {
    .main [data-module-template="noticias"] .gallery .play-pause {
        right:15px
    }
}

@media (max-width: 320px) {
    .main [data-module-template="noticias"] .gallery .play-pause {
        right:5px
    }
}

html.text-zoom .main [data-module-template="noticias"] .gallery .play-pause {
    font-size: 14px
}

.main [data-module-template="noticias"] .gallery .play-pause.show {
    display: block
}

.main [data-module-template="noticias"] .gallery .play-pause.paused::before,.main [data-module-template="noticias"] .gallery .play-pause.paused::after {
    font-family: "SF Pro Icons";
    color: inherit;
    display: inline-block;
    font-style: normal;
    font-weight: inherit;
    font-size: inherit;
    line-height: 1;
    text-decoration: underline;
    position: relative;
    z-index: 1;
    alt: ''
}

.main [data-module-template="noticias"] .gallery .play-pause.paused::before,.main [data-module-template="noticias"] .gallery .play-pause.paused::after {
    text-decoration: none
}

.main [data-module-template="noticias"] .gallery .play-pause.paused::before {
    display: none
}

.main [data-module-template="noticias"] .gallery .play-pause.paused::before,.main [data-module-template="noticias"] .gallery .play-pause.paused::after {
    content: "ïŒž"
}

.main [data-module-template="noticias"] .gallery .play-pause.playing::before,.main [data-module-template="noticias"] .gallery .play-pause.playing::after {
    font-family: "SF Pro Icons";
    color: inherit;
    display: inline-block;
    font-style: normal;
    font-weight: inherit;
    font-size: inherit;
    line-height: 1;
    text-decoration: underline;
    position: relative;
    z-index: 1;
    alt: ''
}

.main [data-module-template="noticias"] .gallery .play-pause.playing::before,.main [data-module-template="noticias"] .gallery .play-pause.playing::after {
    text-decoration: none
}

.main [data-module-template="noticias"] .gallery .play-pause.playing::before {
    display: none
}

.main [data-module-template="noticias"] .gallery .play-pause.playing::before,.main [data-module-template="noticias"] .gallery .play-pause.playing::after {
    content: "ïŒŸ"
}

/* ================================================= */
/* ============= BARRA-LATERAL-NOTICIA ============= */
/* ================================================= */

/* NÃO TERÁ NO MOMENTO */


/* ================================================= */
/* =============        NOTICIAS       ============= */
/* ================================================= */

.main [data-module-template="noticias"] .gallery .item-container {
    position: relative;
    width: 995px;
    margin: 0 auto;
    will-change: transform;
}

.main [data-module-template="noticias"] .gallery .gallery-item.current {
    z-index: 1 !important;
}

.main [data-module-template="noticias"] .gallery .gallery-item {
    --abs: Max(var(--progress) , var(--progress) * -1);
    --progress-0-1: clamp(0, var(--abs), 1);
    --progress-1-1: clamp(-1, var(--progress), 1);
    overflow: hidden;
    position: absolute;
    left: 0;
    height: 523.13167px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    will-change: opacity;
    z-index: 0 !important;
}

.main [data-module-template="noticias"] .gallery .item-container a {
    opacity: calc((var(--progress-0-1) * -0.7) + .99);
    background-size: cover;
    background-position: center;
    width: 980px;
    margin: 0 auto;
    height: 100%;
    will-change: opacity;
}

.main [data-module-template="noticias"] .gallery .inner {
    position: absolute;
    top: 0;
    left: 7.5px;
    width: calc(100% - 15px);
    height: 100%;
}

.main [data-module-template="noticias"] .gallery .info-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}

.main [data-module-template="noticias"] .gallery .gallery-item.theme-dark .info-top .atv-plus-icon {
    background-size: 119px 46px;
    background-repeat: no-repeat;
    background-image: url("/v/home/be/images/logos/tv-plus/logo_hero_light__d7t8cya4x26a_large.png");
}

.main [data-module-template="noticias"] .gallery .info-top .logo {
    width: 220px;
    height: 54px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    margin: 0 auto;
}
/*  */
.main [data-module-template="noticias"] .gallery .gallery-item.current .info-bottom {
    opacity: 0.999;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}

.main [data-module-template="noticias"] .gallery .info-bottom {
    opacity: 0.001;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    position: absolute;
    bottom: 35px;
    left: 68px;
    right: 175px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main [data-module-template="noticias"] .gallery .info-bottom .custom-button {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    border-style: solid;
    border-width: 1px;
    min-width: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 980px;
    background: #0071e3;
    color: #fff;
    border-color: rgba(0,0,0,0);
    --sk-button-margin-horizontal: 14px;
    --sk-button-margin-vertical: 14px;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    border-style: solid;
    border-width: 1px;
    min-width: 28px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 11px;
    padding-bottom: 11px;
    --sk-button-margin-horizontal: 18px;
    --sk-button-margin-vertical: 18px;
    font-size: 14px;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: -.016em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 700;
    background-color: #fff;
    color: #1d1d1f;
    cursor: pointer;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.main [data-module-template="noticias"] .gallery .info-bottom .custom-button.play::after {
    padding-left: .3em;
    top: 0;
}

.main [data-module-template="noticias"] .gallery .info-bottom p {
    font-size: 20px;
    line-height: 1.1;
    font-weight: 400;
    letter-spacing: 0em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-left: 40px;
    font-weight: 400;
    color: #fff;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.6);
}

.main [data-module-template="noticias"] .gallery .info-bottom p span {
    font-weight: 700;
}

.main [data-module-template="noticias"] .gallery .info-bottom p {
    font-size: 20px;
    line-height: 1.1;
    font-weight: 400;
    letter-spacing: 0em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-left: 40px;
    font-weight: 400;
    color: #fff;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.6);
}

.main [data-module-template="noticias"] .gallery .info-bottom p span {
    font-weight: 700;
}

