@charset "UTF-8";
#globaltop {
  all: unset;
}
@import url("/wss/fonts.css");
/* Noticia: opçãoSeção: 2 */
#globalsection-02 {
  display: none;
}
/* FINAL: Noticia opçãoSeção: 2 */

#globalheader body {
  margin: 0;
  padding: 0;
}
#globalheader
  :is(
    ul,
    ol,
    li,
    dl,
    dt,
    dd,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    hgroup,
    p,
    blockquote,
    figure,
    form,
    fieldset,
    input,
    legend,
    pre,
    abbr,
    button
  ) {
  margin: 0;
  padding: 0;
}
#globalheader :is(pre, code, address, caption, th, figcaption) {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
}
#globalheader :is(fieldset, iframe) {
  border: 0;
}
#globalheader :is {
  text-align: left;
}
#globalheader table {
  border-collapse: collapse;
  border-spacing: 0;
}
#globalheader :is(main, summary, details) {
  display: block;
}
#globalheader :is(audio, canvas, video, progress) {
  vertical-align: baseline;
}
#globalheader button {
  background: none;
  border: 0;
  box-sizing: content-box;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: inherit;
  overflow: visible;
  vertical-align: inherit;
}
#globalheader button:disabled {
  cursor: default;
}

#globalsection {
  --font-pattenr: SF Pro AR, SF Pro Gulf, SF Pro Text, SF Pro Icons,
    Helvetica Neue, Helvetica, Arial, sans-serif;

  --altura-globalheader: 40px;
  background-color: rgb(127 127 127 / 10%);
  /* width: auto; */
  min-width: 320px;
  height: var(--altura-globalheader);
  /* height: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: var(--font-pattenr) !important;
  font-size: 15px;
  font-weight: 400;
  flex-wrap: wrap;
}

#globalsection .section-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* height: auto; */
}

#globalsection a {
  margin-left: 0.3em;
}

.globalsection .icon:before {
  font-family: "fontello"; /* Fonte é obrigatória para o icone*/
  content: "\e801"; /* em '\ue801' REMOVA => u*/
  padding: 0;
  text-decoration: none;
}
.globalsection .icon:after {
  font-family: "fontello"; /* Fonte é obrigatória para o icone*/
  content: "\e801"; /* em '\ue801' REMOVA => u*/
  padding: 0;
  text-decoration: none;
}
