@charset "UTF-8";
#globalribbon {
  all: unset;
}

#globalribbon {
  font-family: var(--r-font-family-default);
  font-size: 14px;
  background-color: var(--r-bg-color-primary);
  width: 100%;
  min-width: 320px;
  height: var(--r-globalribbon-height);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.news-ribbon-content {
  text-align: center;
  white-space: normal;
}
.news-ribbon-content span[class="news-content"] {
  white-space: normal;
}

.news-ribbon-content a {
  white-space: nowrap;
  margin-left: 0.3em;
}
@media screen and (max-width: 744px) {
  div[class="news-ribbon-content"] {
    margin: 0 10px;
  }
}