<!DOCTYPE html>

<html lang="en">

<head>
  <title>Books</title>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <link href="ac/styles.css" rel="stylesheet" />
</head>

<body>
  <main id="main main-book book-list" class="main main-book-list book-list">
    <h1 class="visuallyhidden">Livros</h1>
    <section class="archive">
      <div class="books">
        <div class="books-content">
          <div class="book" id="projeto-tas TAS0000">
            <h2 class="book-title">Projeto</h2>
            <a href="/book/TAS0000/" class="book-item row-anchor" data-title-book="A Arte da Estatística">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/TAS0000/raposa.png"
                  srcset="/book/assets/images/TAS0000/raposa.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">A Arte da Estatística</h3>
                <p class="item-date last-update">16 de Julho de 2025</p>
              </div>
            </a>
          </div>
          <div class="book semester" id="first-semester">
            <h2 class="book-title">Primeiro Semestre</h2>

            <a href="/book/EST0033/" class="book-item row-anchor">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/EST0033/passaro2.png"
                  srcset="/book/assets/images/EST0033/passaro2.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">ESTATÍSTICA EXPLORATÓRIA</h3>
                <p class="item-date last-update">12 de Julho de 2025</p>
              </div>
            </a>
            <a href="/book/CIC0007/" style="display: none;" class="book-item row-anchor">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/EST0033/passaro2.png"
                  srcset="/book/assets/images/EST0033/passaro2.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">INTRODUÇÃO À CIÊNCIA DA COMPUTAÇÃO</h3>
              </div>
            </a>

            <a href="/book/EST0001/" style="display: none;" class="book-item row-anchor">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/EST0033/passaro2.png"
                  srcset="/book/assets/images/EST0033/passaro2.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">COMPUTAÇÃO EM ESTATÍSTICA 1</h3>
              </div>
            </a>

            <a href="/book/EST0069/" style="display: none;" class="book-item row-anchor">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/EST0033/passaro2.png"
                  srcset="/book/assets/images/EST0033/passaro2.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">INTRODUCAO A PROBABILIDADE</h3>
              </div>
            </a>

            <a href="/book/MAT0025/" style="display: none;" class="book-item row-anchor">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/EST0033/passaro2.png"
                  srcset="/book/assets/images/EST0033/passaro2.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">CÁLCULO 1</h3>
              </div>
            </a>
          </div>

          <div class="book semester" id="second-semester">
            <h2 style="display: none;" class="book-title">Segundo Semestre</h2>

            <a href="/book/EST0070/" style="display: none;" class="book-item row-anchor">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/EST0033/passaro2.png"
                  srcset="/book/assets/images/EST0033/passaro2.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">METODOS ESTATISTICOS 1</h3>
              </div>
            </a>

            <a href="/book/MAT0026/" style="display: none;" class="book-item row-anchor">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/EST0033/passaro2.png"
                  srcset="/book/assets/images/EST0033/passaro2.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">CÁLCULO 2</h3>
              </div>
            </a>

            <a href="/book/MAT0031/" style="display: none;" class="book-item row-anchor">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/EST0033/passaro2.png"
                  srcset="/book/assets/images/EST0033/passaro2.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">INTRODUCAO A ALGEBRA LINEAR</h3>
              </div>
            </a>
          </div>

          <div class="book semester" id="third-semester">
            <h2 style="display: none;" class="book-title">Terceiro Semestre</h2>

            <a href="/book/EST0017/" style="display: none;" class="book-item row-anchor">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/EST0033/passaro2.png"
                  srcset="/book/assets/images/EST0033/passaro2.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">MÉTODOS ESTATÍSTICOS 2</h3>
              </div>
            </a>

            <a href="/book/EST0087/" style="display: none;" class="book-item row-anchor">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/EST0033/passaro2.png"
                  srcset="/book/assets/images/EST0033/passaro2.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">PRÁTICAS DE EXTENSÃO EM ESTATÍSTICA 1</h3>
              </div>
            </a>

            <a href="/book/MAT0027/" style="display: none;" class="book-item row-anchor">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/EST0033/passaro2.png"
                  srcset="/book/assets/images/EST0033/passaro2.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">CÁLCULO 3</h3>
              </div>
            </a>

            <a href="/book/MAT0053/" style="display: none;" class="book-item row-anchor">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/EST0033/passaro2.png"
                  srcset="/book/assets/images/EST0033/passaro2.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">CALCULO NUMERICO</h3>
              </div>
            </a>

            <a href="/book/MAT0075/" style="display: none;" class="book-item row-anchor">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/MAT0075/passaro.png"
                  srcset="/book/assets/images/MAT0075/passaro.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">CALCULO DE PROBABILIDADE 1</h3>
              </div>
            </a>
          </div>

          <div class="book semester" id="fourth-semester">
            <h2 style="display: none;" class="book-title">Quarto Semestre</h2>

            <a href="/book/EST0035/" style="display: none;" class="book-item row-anchor">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/EST0033/passaro2.png"
                  srcset="/book/assets/images/EST0033/passaro2.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">INFERENCIA ESTATISTICA</h3>
              </div>
            </a>

            <a href="/book/EST0036/" style="display: none;" class="book-item row-anchor">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/EST0033/passaro2.png"
                  srcset="/book/assets/images/EST0033/passaro2.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">TECNICAS DE AMOSTRAGEM</h3>
              </div>
            </a>

            <a href="/book/MAT0076/" style="display: none;" class="book-item row-anchor">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/EST0033/passaro2.png"
                  srcset="/book/assets/images/EST0033/passaro2.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">CALCULO DE PROBABILIDADE 2</h3>
              </div>
            </a>
          </div>

          <div class="book semester" id="fifth-semester">
            <h2 style="display: none;" class="book-title">Quinto Semestre</h2>

            <a href="/book/EST0004/" style="display: none;" class="book-item row-anchor">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/EST0033/passaro2.png"
                  srcset="/book/assets/images/EST0033/passaro2.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">ESTATÍSTICA COMPUTACIONAL</h3>
              </div>
            </a>

            <a href="/book/EST0038/" style="display: none;" class="book-item row-anchor">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/EST0033/passaro2.png"
                  srcset="/book/assets/images/EST0033/passaro2.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">ANÁLISE DE REGRESSÃO LINEAR</h3>
              </div>
            </a>

            <a href="/book/EST0042/" style="display: none;" class="book-item row-anchor">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/EST0033/passaro2.png"
                  srcset="/book/assets/images/EST0033/passaro2.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">DELINEAMENTO E ANÁLISE DE EXPERIMENTOS</h3>
              </div>
            </a>

            <a href="/book/EST0048/" style="display: none;" class="book-item row-anchor">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/EST0033/passaro2.png"
                  srcset="/book/assets/images/EST0033/passaro2.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">PROCESSOS ESTOCASTICOS</h3>
              </div>
            </a>

            <a href="/book/EST0088/" style="display: none;" class="book-item row-anchor">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/EST0033/passaro2.png"
                  srcset="/book/assets/images/EST0033/passaro2.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">PRÁTICAS DE EXTENSÃO EM ESTATÍSTICA 2</h3>
              </div>
            </a>
          </div>

          <div class="book semester" id="sixth-semester">
            <h2 style="display: none;" class="book-title">Sexto Semestre</h2>

            <a href="/book/EST0005/" style="display: none;" class="book-item row-anchor">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/EST0033/passaro2.png"
                  srcset="/book/assets/images/EST0033/passaro2.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">INFERÊNCIA BAYESIANA</h3>
              </div>
            </a>

            <a href="/book/EST0040/" style="display: none;" class="book-item row-anchor">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/EST0033/passaro2.png"
                  srcset="/book/assets/images/EST0033/passaro2.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">ANÁLISE MULTIVARIADA 1</h3>
              </div>
            </a>

            <a href="/book/EST0051/" style="display: none;" class="book-item row-anchor">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/EST0033/passaro2.png"
                  srcset="/book/assets/images/EST0033/passaro2.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">ANÁLISE DE SÉRIES TEMPORAIS</h3>
              </div>
            </a>

            <a href="/book/EST0064/" style="display: none;" class="book-item row-anchor">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/EST0033/passaro2.png"
                  srcset="/book/assets/images/EST0033/passaro2.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">ANALISE DE DADOS CATEGORIZADOS</h3>
              </div>
            </a>

            <a href="/book/EST0124/" style="display: none;" class="book-item row-anchor">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/EST0033/passaro2.png"
                  srcset="/book/assets/images/EST0033/passaro2.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">LABORATÓRIO DE ESTATÍSTICA 1</h3>
              </div>
            </a>
          </div>

          <div class="book semester" id="seventh-semester">
            <h2 style="display: none;" class="book-title">Sétimo Semestre</h2>

            <a href="/book/EST0006/" style="display: none;" class="book-item row-anchor">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/EST0033/passaro2.png"
                  srcset="/book/assets/images/EST0033/passaro2.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">ANÁLISE MULTIVARIADA 2</h3>
              </div>
            </a>

            <a href="/book/EST0041/" style="display: none;" class="book-item row-anchor">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/EST0033/passaro2.png"
                  srcset="/book/assets/images/EST0033/passaro2.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">ANÁLISE DE DADOS LONGITUDINAIS</h3>
              </div>
            </a>

            <a href="/book/EST0043/" style="display: none;" class="book-item row-anchor">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/EST0033/passaro2.png"
                  srcset="/book/assets/images/EST0033/passaro2.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">DELINEAMENTO E ANÁLISE DE EXPERIMENTOS 2</h3>
              </div>
            </a>

            <a href="/book/EST0049/" style="display: none;" class="book-item row-anchor">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/EST0033/passaro2.png"
                  srcset="/book/assets/images/EST0033/passaro2.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">REGRESSÃO NÃO LINEAR</h3>
              </div>
            </a>

            <a href="/book/EST0089/" style="display: none;" class="book-item row-anchor">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/EST0033/passaro2.png"
                  srcset="/book/assets/images/EST0033/passaro2.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">PRÁTICAS DE EXTENSÃO EM ESTATÍSTICA 3</h3>
              </div>
            </a>
          </div>

          <div class="book semester" id="eighth-semester">
            <h2 style="display: none;" class="book-title">Oitavo Semestre</h2>

            <a href="/book/EST0123/" style="display: none;" class="book-item row-anchor">
              <picture class="viewport-picture">
                <img class="viewport-image" src="/book/assets/images/EST0033/passaro2.png"
                  srcset="/book/assets/images/EST0033/passaro2.png" alt="Sem imagem!" />
              </picture>
              <div class="item-content">
                <p class="item-category category_release">EM DESENVOLVIMENTO</p>
                <h3 class="item-headline">TRABALHO DE CONCLUSÃO DE CURSO 2</h3>
              </div>
            </a>
          </div>
        </div>
    </section>
  </main>

</body>

</html>