<section id="globalribbon">
  <div id="globalribbon-content">
    <div class="globalribbon-item">
      <div
        class="ribbon-tipo-de-noticia"
        id="news-ribbon"
      >
        <div class="news-ribbon-content">
          <span
            class="tag-assunto-tal tag-assunto-tal-mais-especifico"
            id="news-content"
            >Mensagem do aviso</span
          >
          <a
            href="https://www.saa.unb.br/graduacao/calendario-academico#periodos-letivos-de-2025"
            rel="noopener"
            target="_blank"
            >Saiba mais
            <span class="icon-chevronright"> </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
