@charset "UTF-8"; #globalnav {
    all: unset
}

/* FAZ PARTE DO <MAIN> "ocultar-parcialmmente" a classe */
.visuallyhidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0
}

#globalnav html {
    -ms-text-size-adjust: 100%;
    /* 100% não ajusta o tamanho-texto */
    -webkit-text-size-adjust: 100%
}

#globalnav body {
    margin: 0;
    padding: 0
}

#globalnav ul,#globalnav ol,#globalnav li,#globalnav dl,#globalnav dt,#globalnav dd,#globalnav h1,#globalnav h2,#globalnav h3,#globalnav h4,#globalnav h5,#globalnav h6,#globalnav hgroup,#globalnav p,#globalnav blockquote,#globalnav figure,#globalnav form,#globalnav fieldset,#globalnav input,#globalnav legend,#globalnav pre,#globalnav abbr,#globalnav button {
    margin: 0;
    padding: 0
}

#globalnav pre,#globalnav code,#globalnav address,#globalnav caption,#globalnav th,#globalnav figcaption {
    /* 1em=16px */
    font-size: 1em;
    font-weight: 400;
    font-style: normal
}

#globalnav fieldset,#globalnav iframe {
    border: 0
}

#globalnav caption,#globalnav th {
    text-align: left
}

#globalnav table {
    border-collapse: collapse;
    border-spacing: 0
}

#globalnav main,#globalnav summary,#globalnav details {
    display: block
}

#globalnav audio,#globalnav canvas,#globalnav video,#globalnav progress {
    vertical-align: baseline
}

#globalnav button {
    background: none;
    border: 0;
    box-sizing: content-box;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: inherit;
    overflow: visible;
    vertical-align: inherit
}

#globalnav button:disabled {
    cursor: default
}

#globalnav :focus {
    outline: 4px solid rgba(0,125,250,.6);
    outline-offset: 1px
}

#globalnav :focus[data-focus-method=mouse]:not(input):not(textarea):not(select),#globalnav :focus[data-focus-method=touch]:not(input):not(textarea):not(select) {
    outline: none
}

#globalnav ::-moz-focus-inner {
    border: 0;
    padding: 0
}

html,body {
    margin: 0;
    padding: 0
}

/* cursos-navbar->submenu */
:root {
    --r-globalnav-background-opened: #fbfbfd;
    /* cor submenu */
    --r-globalnav-background-opened-dark: #161617
}

#globalnav {
    /* "variaveis" criadas para esta classe */
    --r-globalnav-next-flyout-height: 0px;
    --r-globalnav-previous-flyout-height: 0px;
    --r-globalnav-height: 44px;
    --r-globalnav-color: rgb(0 0 0 / 80%);
    --r-globalnav-color-secondary: #333336;
    --r-globalnav-color-hover: #000000;
    --r-globalnav-font-size: 15px;
    --globalnav-background: none;
    --globalnav-backdrop-filter: none;
    /* propriedades para esta classe */
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    margin: 0;
    width: 100%;
    min-width: 320px;
    height: 48px;
    max-height: 44px;
    font-size: 17px;
    -webkit-user-select: none;
    /*desativa seleção de texto*/
    user-select: none;
        /*filtro fundo (desfoque ou transparencia)*/
    -webkit-backdrop-filter: var(--globalnav-backdrop-filter);
        /*versão mais nova da anterior*/
    backdrop-filter: var(--globalnav-backdrop-filter)
}
