/*BARRA*/

.menu-compartilhado,
.mapa-compartilhado {
    margin: 0;
}

.barra-topo {
    background-color: #004080 !important;
    font-family: "liberation_sansregular", Helvetica, Arial, sans-serif !important;
    color: #333 !important;
    font-size: 13px !important;
    line-height: 18px !important;
}

.barra-topo .container::before,
.barra-topo .container::after {
    content: "";
    display: table;
    line-height: 0;
}

.barra-topo .container::after {
    clear: both;
}

.barra-topo .container {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
}

.barra-topo .body .container {
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    padding: 0 20px;
}

.barra-topo .container,
.barra-topo .navbar-static-top .container,
.barra-topo .navbar-fixed-top .container,
.barra-topo .navbar-fixed-bottom .container {
    /*width: 940px;*/
}

.barra-topo .row-fluid::before,
.barra-topo .row-fluid::after {
    content: "";
    display: table;
    line-height: 0;
}

.barra-topo .row-fluid::after {
    clear: both;
}

.barra-topo .row-fluid {
    width: 100%;
}

.barra-topo .row-fluid [class*="span"]:first-child {
    margin-left: 0;
}

.barra-topo .row-fluid .span3 {
    width: 23.4043%;
}

.barra-topo .row-fluid [class*="span"] {
    box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 2.12766%;
    min-height: 28px;
}

.barra-topo .container .logo-unb p {
    margin: 0;
}

.barra-topo .container .logo-unb p,
.barra-topo .container .logo-unb .barra-topo a {
    display: block;
    padding: 6px 0;
}

.barra-topo a:focus {
    outline: thin dotted #333;
    outline-offset: -2px;
}

.barra-topo a {
    /*color: #02397a;*/
    color: #fff;
}

.barra-topo a:hover,
.barra-topo a:active {
    outline: 0 none;
}

.barra-topo a {
    /*color: #08c;*/
    text-decoration: none;
}

.barra-topo a:hover,
.barra-topo a:focus {
    color: #005580;
    text-decoration: underline;
}

.barra-topo img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    display: -webkit-inline-box;
}

.barra-topo .row-fluid .span7 {
    width: 57.4468%;
}

.barra-topo .menu-unb .menu-toggle-list {
    position: relative;
}

.barra-topo .menu-unb a.btn-menu {
    cursor: pointer;
    display: block;
    margin-top: 5px;
}

.barra-topo .menu-unb a.btn-menu span {
    color: #fff;
    font-size: 1.1em;
    margin-left: 5px;
    position: relative;
    top: 2px;
}

.barra-topo .menu-unb #menu-collapse {
    left: 0;
    position: absolute;
    top: 25px;
    width: 180px;
    z-index: 9999;
}

.barra-topo .collapse {
    height: 0;
    overflow: hidden;
    position: relative;
    transition: height 0.35s ease 0s;
}

.barra-topo .menu-unb .nav {
    background: #004080 none repeat scroll 0 0;
    padding: 3px 0;
}

.barra-topo .nav {
    clear: both;
    list-style: outside none none;
    margin-bottom: 18px;
    margin-left: 0;
}

.barra-topo ul,
.barra-topo ol {
    margin: 0 0 9px 25px;
    padding: 0;
}

.barra-topo li {
    line-height: 8px;
    margin-left: -5px/* Acrescentado */
}

.barra-topo .pull-right[class*="span"],
.barra-topo .row-fluid .pull-right[class*="span"] {
    float: right;
}

.barra-topo .row-fluid .span2 {
    width: 14.8936%;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
    line-height: 0;
}

.clearfix::after {
    clear: both;
}

.barra-topo .menu-unb .nav>li>a:hover,
.barra-topo .menu-unb .nav>li>a:focus {
    color: #000 !important;
}

.barra-topo .menu-unb .nav>li:first-child>a {
    border: medium none;
}

.barra-topo .nav>li>a:hover,
.barra-topo .nav>li>a:focus {
    background-color: #fff;
    text-decoration: none;
}

.barra-topo .nav>li>a {
    display: block;
}

.barra-topo .menu-unb .nav>li>a {
    border-top: 1px solid #eee !important;
    /*color: #eee !important;*/
    margin: 0 5px !important;
    padding: 5px 10px !important;
}

.contraste .barra-topo .menu-unb .nav>li>a:hover {
    color: #fff !important;
}

.modulo-icones-barratopo>ul {
    margin: 5px 0 0;
}

.modulo-icones-barratopo li {
    display: table-cell;
    padding: 5px;
}

.modulo-icones-barratopo a,
.modulo-icones-barratopo a:hover {
    display: inline;
    padding-right: 20px;
    padding-bottom: 5px;
    text-decoration: none;
    right: -10px;
    position: relative;
}

#webmail {
    background: rgba(0, 0, 0, 0) url("../images/webmail.png") no-repeat scroll 0 0;
}

#telefones {
    background: rgba(0, 0, 0, 0) url("../images/telefones_gerais.png") no-repeat scroll 0 0;
}

#mapa {
    background: rgba(0, 0, 0, 0) url("../images/mapa_do_site.png") no-repeat scroll 0 0;
    width: 35px;
}

#transparencia {
    background: rgba(0, 0, 0, 0) url("../images/transparencia.png") no-repeat scroll 0 0;
}

#sistemas {
    background: rgba(0, 0, 0, 0) url("../images/sistemas.png") no-repeat scroll 0 0;
}


/*FOOTER*/

.footer {
    font-family: "liberation_sansbold", Helvetica, Arial, sans-serif !important;
    color: #fff !important;
    font-size: 13px !important;
    line-height: 18px !important;
    background-color: #006600 !important;
}

.footer article,
.footer aside,
.footer details,
.footer figcaption,
.footer figure,
.footer footer,
.footer header,
.footer hgroup,
.footer nav,
.footer section {
    display: block;
}

.footer .footer-inner {
    padding-top: 20px;
}

.footer .container::before,
.footer .container::after {
    content: "";
    display: table;
    line-height: 0;
}

.footer .container::after {
    clear: both;
}

.footer .container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
    /*width: 940px;*/
}

.footer .container,
.footer .navbar-static-top .container,
.footer .navbar-fixed-top .container,
.footer .navbar-fixed-bottom .container {
    /*width: 940px;*/
}

.footer .nav {
    clear: both;
    list-style: outside none none;
    margin-bottom: 18px;
    margin-left: 0;
}

.footer ul,
.footer ol {
    margin: 0 0 9px 25px;
    padding: 0;
}

.footer .menu-footer ul li.parent {
    margin-top: 8px;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 19%;
}

.footer li {
    line-height: 16px;
    display: block;
}

.footer .menu-footer ul li.parent a {
    display: inline-block !important;
    font-family: "liberation_sansregular", Helvetica, Arial, sans-serif !important;
    font-size: 1em !important;
    line-height: 1.1em !important;
    margin-bottom: 0 !important;
}

.footer .menu-footer ul li.parent>a {
    font-family: "liberation_sansbold", Helvetica, Arial, sans-serif !important;
    font-size: 1em !important;
    margin-bottom: 0.5em !important;
}

.footer .menu-footer ul li.parent>a:hover,
.footer .menu-footer ul li.parent>a:focus {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.footer .nav>li>a {
    display: block;
}

.footer a {
    font-family: "liberation_sansbold", Helvetica, Arial, sans-serif !important;
    color: #fff !important;
    text-decoration: none !important;
}

.footer a:hover,
.footer a:focus {
    text-decoration: underline !important;
}

.footer ul.unstyled,
.footer ol.unstyled {
    list-style: outside none none;
    margin-left: 0;
}

.footer .small {
    font-size: 11px;
}

.footer ul ul,
.footer ul ol,
.footer ol ol,
.footer ol ul {
    margin-bottom: 0;
}

.footer hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee -moz-use-text-color #fff;
    border-image: none;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
}

.footer .text-center {
    text-align: center;
    font-size: 11px;
}

.footer p {
    margin: 0 0 9px;
    font-family: "liberation_sansbold", Helvetica, Arial, sans-serif !important;
}

.footer em {
    font-style: italic;
    font-family: "liberation_sansbold", Helvetica, Arial, sans-serif !important;
}

.barra-topo .menu-unb {
    width: 175px !important;
}

.footer .copyright {
    float: left;
    margin: 0.9rem 0;
    width: 50%;
}

.footer .prestacao-contas {
    float: left;
    width: 25%
}

.footer .prestacao-contas h6 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.footer .copyright span {
    display: inline-block;
}

.footer .acesso-informacao {
    float: left;
    margin-top: 1rem;
    width: 25%;
}

.footer .acesso-informacao .media {
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    margin: auto;
    padding: 0.5rem;
    width: 136px;
}

@media screen and (max-width: 768px) {
    .footer .creditos {
        display: flex !important;
        flex-direction: column;
    }
    .footer .acesso-informacao,
    .footer .copyright,
    .footer .prestacao-contas {
        float: none !important;
        margin-left: auto !important;
        margin-right: auto !important;
        width: 100% !important;
    }
    .footer .acesso-informacao {
        order: 1;
    }
    .footer .prestacao-contas {
        order: 2;
    }
    .footer .copyright {
        margin-bottom: 1rem;
        margin-top: 1rem;
        order: 3;
    }
}

/* COOKIE BAR */
.cookie_bar {
  position: fixed;
  left: 50px;
  right: 50px;
  bottom: 20px;
  background: #fff;
  border-radius: 7px;
  padding: 15px 30px;
  font-size: 14px;
  line-height: 140%;
  color: #615757;
  z-index: 999999999;
  padding-right: 270px;
  box-shadow: 0px 0px 0px 4000px rgba(0, 0, 0, 0.34);
  display: none; }

.cookie_bar button {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  height: 36px;
  line-height: 36px;
  padding: 0px 30px;
  border-radius: 36px;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  border: 0px;
  background: #004080; }

.cookie_bar button:hover {
  opacity: 0.9; }

.cookie_bar button:focus {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  background: #004080; }

.cookie_bar a {
  color: #063871;
  text-decoration: underline; }

.cookie_bar a:hover {
  color: #d50917;
  text-decoration: underline; }

.cookie_bar a:focus {
  color: #d50917;
  text-decoration: underline; }

@media (max-width: 767px) {
  .cookie_bar {
    left: 0px;
    bottom: 0px;
    right: 0px;
    padding: 20px;
    border-radius: 0px; }
  .cookie_bar button {
    position: relative;
    transform: none;
    left: 0px;
    right: 0px;
    top: 0px;
    margin-top: 20px; } }

/* COOKIE BAR */
