@charset "UTF-8";

#globalaside {
  all: unset;
  background-color: var(--r-globalaside-background-color-dark-blue);
  height: var(--r-globalaside-height);
  width: 100%;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  min-width: 320px;
  max-height: max-content;
  display: flex;
  flex-direction: column;
  justify-items: center;
  font-size: 18px;
  white-space: nowrap;
  align-items: center;
  max-width: 2560px;
  margin: 0 auto;
  z-index: 9999;
}

#globalaside .globalaside-content {
  width: 100%;
  max-width: var(--r-globalaside-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 2;
}

.globalaside-content .globalaside-list,
.globalaside-content .globalaside-list-unbt-gov {
  cursor: default;
  list-style: none;
  width: auto;
  height: var(--r-globalaside-height);
  box-sizing: border-box;

  gap: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#globalaside .globalaside-item {
  box-sizing: border-box;
  height: auto;
  width: auto;
}

#globalaside .globalaside-link {
  font-family: var(--r-globalfont-family);
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.01em;
  height: var(--r-globalaside-height);
  color: var(--r-globalaside-color-link);

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  white-space: nowrap;
  /* position: relative; */
  background: no-repeat;

  /* z-index: 1; */
  outline-offset: -7px;
  transition: color 0.32s cubic-bezier(0.4, 0, 0.6, 1);
}
#globalaside .globalaside-link:lang(pt-br) {
  letter-spacing: 0em;
  font-family: var(--r-globalfont-family);
}
#globalaside .globalaside-link svg {
  fill: currentColor;
}

#globalaside .globalaside-link:hover,
#globalaside .globalaside-link:focus[data-focus-method="key"] {
  color: var(--r-globalaside-color-secondary-hover);
  text-decoration: none;
}
#globalaside .globalaside-link-govbr {
  font-size: 17px;
  line-height: 1.2353641176;
  font-weight: 800;
  letter-spacing: -0.022em;
  font-family: var(--r-globalfont-family);
  display: flex;
  align-items: center;
}
#globalaside .globalaside-link-govbr:lang(ar) {
  letter-spacing: 0em;
  font-family: var(--r-globalfont-family);
}
#globalaside .globalaside-link-govbr-logo {
  height: 100%;
}
#globalaside .globalaside-link-govbr .globalaside-link-text {
  margin-inline-start: 4px;
  height: 100%;
  display: flex;
  align-items: center;
  pointer-events: none;
}

/* Estilos para as classes que começam com "globalaside-link-" */
[class^="globalaside-image-"] {
  height: 40px;
  width: 20px;
  font-size: 17px;
  line-height: 1.2353641176;
  font-weight: 600;
  letter-spacing: 0.05em !important;
  font-family: var(--r-globalfont-family);
  display: flex;
  align-items: center; /* aninhar-conteudo do link */
}

.globalaside-image-regular,
.globalaside-image-compact {
  display: none;
}

.globalaside-list .globalaside-link-coronavarius .globalaside-link-text {
  --r-logo-govbr-yellow: #ffcd07;
  color: var(--r-logo-govbr-yellow);
  text-decoration: underline;
}

/* Oculta a classe visuallyhidden */

.globalaside-list span.globalaside-espacador {
  --color-espaçador: rgba(151, 151, 151, 0.5);
  height: 20px;
  width: 2px;
  background-color: var(--color-espaçador);
}

.globalaside-link-text-alternativo {
  display: none;
}

/* mediaQuery verificado */
@media screen and (max-width: 1024px) {
  #globalaside,
  .globalaside,
  .globalaside-content,
  .globalaside-list {
    width: 100%;
  }
  .globalaside-item,
  .globalaside-espacador {
    display: none;
  }
  .globalaside-list-unbt-gov > *,
  .globalaside-item-coronavarius,
  .globalaside-item-orggovbr,
  .globalaside-item-acessibilidade,
  .globalaside-espacador-01,
  .globalaside-espacador-05 {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  #globalaside .globalaside-content {
    display: flex;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--globalaside-background);
    transition: background var(--r-globalaside-flyout-rate) cubic-bezier(0.4, 0, 0.6, 1) 80ms;
  }
  .globalaside-content {
    -webkit-backdrop-filter: var(--globalaside-backdrop-filter);
    backdrop-filter: var(--globalaside-backdrop-filter);
  }

  #globalaside .globalaside-list {
    display: flex;
    flex: 1;
    position: relative;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    height: auto;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
  }
  #globalaside:not([dir="rtl"]) #globalaside .globalaside-list {
    padding-right: calc(48px + max(0px, calc(env(safe-area-inset-right) - 16px)));
  }
  #globalaside[dir="rtl"] #globalaside .globalaside-list {
    padding-left: calc(48px + max(0px, calc(env(safe-area-inset-left) - 16px)));
  }
  #globalaside .globalaside-item {
    width: auto;
    height: auto;
    transition: color 0.32s cubic-bezier(0.4, 0, 0.6, 1);
  }
  #globalaside .globalaside-list > .globalaside-item {
    height: 100%;
  }
  #globalaside .globalaside-list > .globalaside-item:not(.globalaside-menu) .globalaside-link {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.24s cubic-bezier(0.4, 0, 0.6, 1) 80ms, visibility 0.24s step-start 80ms;
  }
}

@media only screen and (max-width: 768px) {
  #globalaside,
  .globalaside,
  .globalaside-content,
  .globalaside-list {
    width: 100%;
  }
  .globalaside-item,
  .globalaside-espacador {
    display: none;
  }
  .globalaside-list-unbt-gov > * {
    display: block;
  }
  .globalaside-item-orggovbr,
  .globalaside-espacador-01,
  .globalaside-item-coronavarius {
    display: block;
  }
  #globalaside .globalaside-link- {
    font-size: 28px;
    line-height: 1.1428571429;
    font-weight: 600;
    letter-spacing: 0.007em;
    font-family: var(--r-globalfont-family);
  }
  #globalaside .globalaside-link:lang(ar) {
    font-family: SF Pro AR, SF Pro Gulf, SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  }
  #globalaside .globalaside-link:lang(zh-TW) {
    font-family: SF Pro TC, SF Pro Display, SF Pro Icons, PingFang TC, Helvetica Neue, Helvetica, Arial, sans-serif;
  }
}

@media only screen and (max-width: 540px) {
  #globalaside,
  #globalaside,
  .globalaside-content {
    width: 100%;
  }
  .globalaside-item,
  .globalaside-espacador,
  .globalaside-link-text-vacinacao {
    display: none;
  }
  .globalaside-list-unbt-gov > *,
  .globalaside-item-coronavarius {
    display: block;
    justify-content: right;
    font-size: 10px;
    line-height: 1.1428571429;
    /* font-weight: 200; */
    letter-spacing: 0.007em;
    font-family: var(--r-globalfont-family);
  }

  .globalaside-link-text-alternativo {
    --r-logo-govbr-yellow: #ffcd07;

    display: block;
    color: var(--r-logo-govbr-yellow);
    text-decoration: underline;
    font-size: 16px;
  }
}
