#globalnavbar {
  all: unset;
}

#globalnavbar div.globalnavbar-submenu {
  --r-globalnavbar-submenu-header-color: rgb(110, 110, 115);
  --r-globalnavbar-flyout-height: 0;
  background: var(--r-globalnavbar-background-opened);
  position: absolute;
  left: 0;
  right: 0;
  text-align: start;
  display: inherit;
}