/* footer -> content -> nav */
#globalfooter #globalfooter-navgation {
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: var(--font-pad);
  display: flex;
  flex-wrap: nowrap;
  padding-top: 20px;
  padding-bottom: 28px;
}

@media only screen and (max-width: 833px) {
  #globalfooter #globalfooter-navgation {
    flex-direction: column;
  }
}

/* coluna/blocos - dos grupos de links*/
#globalfooter .gf-directory-column {
  flex-basis: 25%;
}

@media only screen and (max-width: 833px) {
  #globalfooter .gf-directory-column {
    flex-basis: auto;
  }
}

#globalfooter .gf-directory-column-section {
  pointer-events: none;
}

@media only screen and (max-width: 833px) {
  #globalfooter .gf-directory-column-section {
    position: relative;
    z-index: 1;
    /* border-bottom: 1px solid var(--footer-border-color); */
    pointer-events: auto;
    overflow: hidden;
  }
}

/* caso tenham 2 colunas dentro de >- gf-directory-column
   onde a segunda receberia a propriedade
*/
#globalfooter .gf-directory-column-section ~ .gf-directory-column-section {
  padding-top: 24px;
}
/* media query da 2 coluna */
@media only screen and (max-width: 833px) {
  #globalfooter .gf-directory-column-section ~ .gf-directory-column-section {
    padding-top: 0;
  }
}

#globalfooter
  .gf-directory-column-section-title
  > .gf-directory-column-section-title-text,
#globalfooter .gf-directory-column-section-title-button {
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: var(--font-pad);
  font-weight: 600;
  margin-right: 20px;
  margin-bottom: 0.8em;
  outline: none;
}

#globalfooter .gf-directory-column-section-title-button {
  border: none;
  display: none;
}

/* butão-query */
@media only screen and (max-width: 833px) {
  #globalfooter .gf-directory-column-section-title-button {
    font-weight: 400;
    display: block;
    margin: 0;
    width: 100%;
    padding: 10px 0px;
    color: var(--footer-directory-title-color);
    background: var(--footer-background);
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    z-index: 2;
  }

  #globalfooter .gf-directory-column-section-title-button:hover {
    color: var(--footer-directory-title-color-hover);
  }

  #globalfooter .gf-directory-column-section-title-button::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -4px;
    bottom: 0;
    left: -4px;
  }

  #globalfooter .gf-directory-column-section-title-button:focus::after {
    outline: 4px solid rgba(0, 125, 250, 0.6);
    outline-offset: -6px;
  }

  #globalfooter
    .gf-directory-column-section-title-button:focus::after[data-focus-method="mouse"]:not(
      input
    ):not(textarea):not(select),
  #globalfooter
    .gf-directory-column-section-title-button:focus::after[data-focus-method="touch"]:not(
      input
    ):not(textarea):not(select) {
    outline: none;
  }
}

/* icone do botão à esquerda */
#globalfooter .gf-directory-column-section-title-icon {
  display: none;
}

@media only screen and (max-width: 833px) {
  #globalfooter .gf-directory-column-section-title-icon {
    display: flex;
    float: right;
    font-size: 14px;
    font-weight: normal;
    margin-top: -2px;
    margin-right: 8px;
    transition: transform 0.3s ease;
  }
}

#globalfooter
  .gf-directory-column-section-title
  > .gf-directory-column-section-title-text {
  display: block;
}

@media only screen and (max-width: 833px) {
  #globalfooter
    .gf-directory-column-section-title
    > .gf-directory-column-section-title-text {
    display: none;
  }
}

#globalfooter .gf-directory-column-section-list {
  margin-right: 20px;
  list-style: none;
  padding: 0;
}

@media only screen and (max-width: 833px) {
  #globalfooter .gf-directory-column-section-list {
    margin: 0;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 16px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    visibility: hidden;
    z-index: -1;
    transform: translateY(-100px);
    will-change: transform;
  }

  #globalfooter .gf-directory-column-section-list {
    position: static;
    visibility: visible;
    transform: none;
  }
}

#globalfooter .gf-directory-column-section-item {
  display: block;
  pointer-events: auto;
  margin-bottom: 0.8em;
}

@media only screen and (max-width: 833px) {
  #globalfooter .gf-directory-column-section-item {
    margin-bottom: 0;
  }
}

#globalfooter .gf-directory-column-section-item:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 833px) {
  #globalfooter .gf-directory-column-section-link {
    padding: 6px 14px;
    display: block;
  }

  #globalfooter .gf-directory-column-section-link:focus {
    outline-offset: -6px;
  }
}

@media only screen and (max-width: 833px) {
  #globalfooter
    .gf-directory-column-section.gf-directory-column-expanded
    .gf-directory-column-section-title {
    color: var(--footer-directory-title-color-hover);
  }

  #globalfooter
    .gf-directory-column-section.gf-directory-column-expanded
    .gf-directory-column-section-title-icon {
    transform: rotate(45deg) scale(1.08);
  }

  #globalfooter
    .gf-directory-column-section.gf-directory-column-expanded
    .gf-directory-column-section-list {
    position: static;
    visibility: visible;
    z-index: 1;
    transform: none;
    transition: transform 300ms ease;
  }
}

/* ============ SECTION - COPYRIGH ============ */



/* -- LOCALE - BR -- */
#globalfooter #globalfooter-copyright #gf-copyright-legal a.locale-BR {
  border-top: none;
  text-transform: uppercase;
}

@media only screen and (max-width: 833px) {
  #globalfooter #globalfooter-copyright #gf-copyright-legal a.locale-BR {
    padding-bottom: 19px;
  }
}

#globalfooter .gf-copyright-secretaria {
  --footer-mini-shop-link-color: #06c;
  max-height: 9999px;
  padding-bottom: 3px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 833px) {
  #globalfooter .gf-copyright-secretaria {
    padding-bottom: 10px;
  }
}

#globalfooter .gf-copyright-secretaria a,
#globalfooter .gf-copyright-secretaria a:hover {
  color: var(--footer-mini-shop-link-color);
  text-decoration: underline;
}
#globalfooter .gf-copyright-secretaria a.locale-dep-unb {
  color: var(--footer-text-color);
  text-decoration: none;
}

#globalfooter .gf-copyright-secretaria a.locale-dep-unb:hover {
  text-decoration: underline;
}

#globalfooter .gf-copyright-locale {
  float: right;
  margin-top: 5px;
  position: relative;
  top: -3px;
  z-index: 2;
  white-space: nowrap;
}

@media only screen and (max-width: 833px) {
  #globalfooter .gf-copyright-locale {
    left: -1px;
    padding-top: 5px;
    float: none;
  }
}

/* ========== .gf-footer-legal =========== */

#globalfooter #gf-copyright-legal {
  position: relative;
  top: -3px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

#globalfooter #gf-copyright-legal::before,
#globalfooter #gf-copyright-legal::after {
  content: " ";
  padding: 4px 0px;
  border-top: none;
}

#globalfooter #gf-copyright-legal::after {
  clear: both;
}

@media only screen and (max-width: 833px) {
  #globalfooter #gf-copyright-legal {
    padding-top: 12px;
  }
}
/* ================================== */
#globalfooter .gf-footer-legal-links {
  margin-right: 30px;
  float: left;
  margin-top: 5px;
  list-style-type: none;
}

@media only screen and (max-width: 833px) {
  #globalfooter .gf-footer-legal-links {
    margin-right: 0;
    float: none;
  }
}

#globalfooter .gf-footer-legal-copyright {
  max-height: 9999px;
}

#globalfooter .gf-footer-legal-links {
  position: relative;
  top: -5px;
  margin-inline-start: 0;
  z-index: 1;
}

#globalfooter .gf-footer-legal-links-item {
  border-right: 1px solid var(--footer-pipe-color);
  margin-right: 7px;
  display: inline-block;
  margin-top: 5px;
}

#globalfooter .gf-footer-legal-links-item:last-child {
  border: none;
  margin: 0;
  padding: 0;
}

#globalfooter .gf-footer-legal-link {
  padding-right: 10px;
  display: inline-block;
  white-space: nowrap;
}

#globalfooter .gf-sosumi + .gf-footer {
  border-top: none;
}

#globalfooter .gf-directory + .gf-footer .gf-footer-shop {
  margin-bottom: 7px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--footer-border-color);
}

#globalfooter .nowrap {
  white-space: nowrap;
}

#globalfooter .gf-buystrip {
  text-align: center;
}
