@charset "UTF-8";

/* 1. Declarações de variaveis */
.main-book-list {
  all: unset;
  font-family: var(--r-globalfont-family);
}

.main-book-list ul,
.main-book-list ol,
.main-book-list li,
.main-book-list dl,
.main-book-list dt,
.main-book-list dd,
.main-book-list h1,
.main-book-list h2,
.main-book-list h3,
.main-book-list h4,
.main-book-list h5,
.main-book-list h6,
.main-book-list p,
.main-book-list hgroup,
.main-book-list blockquote,
.main-book-list figure,
.main-book-list form,
.main-book-list fieldset,
.main-book-list input,
.main-book-list legend,
.main-book-list pre,
.main-book-list abbr,
.main-book-list button,
.main-book-list canvas,
.main-book-list caption,
.main-book-list code,
.main-book-list details,
.main-book-list div,
.main-book-list dl,
.main-book-list dt,
.main-book-list figcaption,
.main-book-list img,
.main-book-list label,
.main-book-list main,
.main-book-list mark,
.main-book-list nav,
.main-book-list ol,
.main-book-list picture,
.main-book-list samp,
.main-book-list section,
.main-book-list summary,
.main-book-list time {
  margin: 0;
  padding: 0;
}

.main-book-list h1,
.main-book-list h2,
.main-book-list h3,
.main-book-list h4,
.main-book-list h5,
.main-book-list h6,
.main-book-list span {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: var(--r-globalfont-family);
  --sk-headline-text-color: rgb(29, 29, 31);
  color: var(--sk-headline-text-color, rgb(29, 29, 31));
}

.main-book-list pre,
.main-book-list code,
.main-book-list address,
.main-book-list caption,
.main-book-list th,
.main-book-list figcaption {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
}

.main-book-list fieldset,
.main-book-list iframe {
  border: 0;
}

.main-book-list caption,
.main-book-list th {
  text-align: left;
}

.main-book-list summary,
.main-book-list details {
  display: block;
}

.main-book-list audio,
.main-book-list canvas,
.main-book-list video,
.main-book-list progress {
  vertical-align: baseline;
}

.main-book-list {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
  max-width: 2560px;
  width: 100%;
}

/* .main-book-list #globalbookshome-content {
  width: 960px;
  max-width: 2560px;
  margin: 0 auto;
  margin-top: 12px;
} */

/* 2. "resetar" pré existentes do BootStrap */

/* 3. Declarações da book-lista (index.html na raiz de book) */
.main-book-list .archive {
  width: 100%;
  height: max-content;
  margin: 0 auto;
}

.main-book-list .archive .books {
  width: max-content;
  margin: 0 auto;
}

.main-book-list .archive .books .books-content {
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: 980px;
}

@media only screen and (max-width: 1068px) {
  .main-book-list .archive .books .books-content {
    margin-inline-start: auto;
    margin-inline-end: auto;
    width: 692px;
  }
}

@media only screen and (max-width: 734px) {
  .main-book-list .archive .books .books-content {
    margin-inline-start: auto;
    margin-inline-end: auto;
    width: 87.5%;
  }
}

.main-book-list .archive .books .books-content h2[class="book-title"] {
  margin-bottom: 16px;
  font-size: 28px;
  line-height: 1.1428571429;
  font-weight: 700;
  letter-spacing: 0.007em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin-top: 52px;
}

@media only screen and (max-width: 1068px) {
  .main-book-list .archive .books .books-content h2[class="book-title"] {
    font-size: 24px;
    line-height: 1.1666666667;
    font-weight: 700;
    letter-spacing: 0.009em;
    font-family: var(--r-globalfont-family);
    margin-top: 48px;
  }
}

@media only screen and (max-width: 734px) {
  .main-book-list .archive .books .books-content h2[class="book-title"] {
    margin-top: 44px;
  }
}

.main-book-list .archive .books .books-content a[class*="book-item"] {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  border-top: 1px solid #d2d2d7;
  text-decoration: none;
  align-items: center;
  padding: 40px 0;
}

@media only screen and (max-width: 1068px) {
  .main-book-list .archive .books .books-content a[class*="book-item"] {
    padding: 32px 0;
  }
}

@media only screen and (max-width: 734px) {
  .main-book-list .archive .books .books-content a[class*="book-item"] {
    align-items: flex-start;
    padding: 28px 0;
  }
}

.main-book-list .archive .books .books-content a:not(.visuallyhidden) {
  border: 0px;
}

.main-book-list .archive .books .books-content a[class*="book-item"] picture[class="viewport-picture"] {
  align-self: flex-start;
  flex-shrink: 0;
  font-size: 0;
  width: 295px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1068px) {
  .main-book-list .archive .books .books-content a[class*="book-item"] picture[class="viewport-picture"] {
    width: 264px;
  }
}

@media only screen and (max-width: 1068px) {
  .main-book-list .archive .books .books-content a[class*="book-item"] picture[class="viewport-picture"] {
    width: 105px;
    height: max-content;
  }
}

.main-book-list .archive .books .books-content a[class*="book-item"] picture[class="viewport-picture"] img[class="viewport-image"] {
  border-radius: 20px;
  width: max-content;
  height: 165px;
}

@media only screen and (max-width: 1068px) {
  .main-book-list .archive .books .books-content a[class*="book-item"] picture[class="viewport-picture"] img[class="viewport-image"] {
    width: 105px;
    height: 105px;
  }
}

.main-book-list .archive .books .books-content a[class*="book-item"] div[class="item-content"] {
  margin-inline-start: 32px;
}

@media only screen and (max-width: 1068px) {
  .main-book-list .archive .books .books-content a[class*="book-item"] div[class="item-content"] {
    margin-inline-start: 24px;
  }
}

@media only screen and (max-width: 734px) {
  .main-book-list .archive .books .books-content a[class*="book-item"] div[class="item-content"] {
    margin-inline-start: 16px;
  }
}

.main-book-list a[class*="book-item"] div[class="item-content"] p[class*="item-category"] {
  color: #6e6e73;
  font-size: 14px;
  line-height: 1.2857742857;
  font-weight: 700;
  letter-spacing: -0.016em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  text-transform: uppercase;
}

@media only screen and (max-width: 1068px) {
  .main-book-list a[class*="book-item"] div[class="item-content"] p[class*="item-category"] {
    font-size: 12px;
    line-height: 1.3333733333;
    font-weight: 700;
    letter-spacing: -0.01em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
      "Arial", sans-serif;
  }
}

.main-book-list a[class*="book-item"] div[class="item-content"] h3[class="item-headline"] {
  font-size: 24px;
  line-height: 1.1666666667;
  font-weight: 700;
  letter-spacing: 0.009em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin-top: 8px;
  -webkit-line-clamp: 3;
}

@media only screen and (max-width: 1068px) {
  .main-book-list a[class*="book-item"] div[class="item-content"] h3[class="item-headline"] {
    font-size: 21px;
    line-height: 1.1904761905;
    font-weight: 700;
    letter-spacing: 0.011em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
      "Arial", sans-serif;
  }
}

@media only screen and (max-width: 734px) {
  .main-book-list a[class*="book-item"] div[class="item-content"] h3[class="item-headline"] {
    font-size: 17px;
    line-height: 1.2353641176;
    font-weight: 700;
    letter-spacing: -0.022em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
      "Arial", sans-serif;
  }
}

.main-book-list a[class*="book-item"] div[class="item-content"] p[class="item-date last-update"] {
  color: #6e6e73;
  font-size: 14px;
  line-height: 1.4285914286;
  font-weight: 600;
  letter-spacing: -0.016em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin-top: 12px;
}

@media only screen and (max-width: 734px) {
  .main-book-list a[class*="book-item"] div[class="item-content"] p[class="item-date last-update"] {
    font-size: 14px;
    line-height: 1.2857742857;
    font-weight: 600;
    letter-spacing: -0.016em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
      "Arial", sans-serif;
  }
}

/* 4. Demais declarações dos livros (do bootstrap) */