<head>
  <title>Estatística</title>
  <link href="/sd/favicons/pt_BR/estatistica.svg" rel="icon" type="image/svg+xml">
  <meta charset="utf-8">
  <meta content="Estatística" name="topic">
  <meta content="index,follow" name="robots">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta
    content="default-src 'self'; img-src 'self' https://www.estatistica.pro/; script-src 'self' https://www.estatistica.pro/ac/ https://www.estatistica.pro/sd/; font-src 'self' https://www.estatistica.pro/wss/; object-src 'none'; frame-src 'self'; base-uri 'self'; form-action 'self'"
    http-equiv="Content-Security-Policy">
  <link href="/ac/globalpattern/1/pt_BR/styles/reset.css" rel="stylesheet" type="text/css">
  <link href="/ac/globalpattern/1/pt_BR/styles/globalpattern.css" rel="stylesheet">
  <link href="/ac/globalheader/header/1/pt_BR/styles/header.css" rel="stylesheet">
  <link href="/ac/globalheader/aside/1/pt_BR/styles/globalaside.css" rel="stylesheet">
  <link href="/ac/globalheader/navbar/2/pt_BR/styles/globalnavbar.css" rel="stylesheet">
  <link href="/ac/globalheader/ribbon/1/pt_BR/styles/globalribbon.css" rel="stylesheet">
  <link href="/ac/globalpattern/1/pt_BR/styles/globaltipografia.css" rel="stylesheet">
  <link href="/ac/globalmain/1/pt_BR/styles/globalmain.css" rel="stylesheet">
  <link href="/ac/globalnoticias/1/pt_BR/styles/globalnoticias.css" rel="stylesheet">
  <link href="/ac/globalpattern/1/pt_BR/styles/icons.css" rel="stylesheet">
  <link href="/ac/globalfooter/1/pt_BR/styles/globalfooter.css" rel="stylesheet">
  <link href="/wss/fonts.css?families=SF+Pro,v3|SF+Pro+Icons,v3" media="all" rel="stylesheet" type="text/css">
  
  <script defer="" src="/ac/globalnoticias/1/pt_BR/scripts/globalnoticias.js"></script>
  <script defer="" src="/ac/globalpattern/1/pt_BR/scripts/globalpattern.js"></script>
  <script defer="" src="/ac/globalheader/navbar/1/pt_BR/scripts/globalnavbar.build.js"></script>
  <script defer="" src="/ac/globalfooter/1/pt_BR/scripts/globalfooter.js"></script>
</head>