<title>Estatística</title>
<link rel="icon" href="/sd/favicons/pt_BR/estatistica.svg" type="image/svg+xml">
<meta charset="utf-8" />
<meta content="Estatística" name="topic" />
<meta content="index,follow" name="robots" />
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta http-equiv="Content-Security-Policy"
  content="img-src 'self' https://www.estatistica.pro/; script-src 'self' https://www.estatistica.pro/ac/ https://www.estatistica.pro/sd/; font-src 'self' https://czargab18.github.io/wss; style-src 'self' https://www.estatistica.pro/" />
<!-- Favicons -->
<!-- Links CSS -->
<link rel="stylesheet" href="/ac/globalpattern/1/pt_BR/styles/reset.css" type="text/css" />
<link rel="stylesheet" href="/ac/globalheader/aside/1/pt_BR/styles/globalaside.css" type="text/css">
<link rel="stylesheet" href="/ac/globalfooter/1/pt_BR/styles/globalfooter.css" type="text/css">
<link rel="stylesheet" href="/ac/globalmain/1/pt_BR/styles/globalmain.build.css" type="text/css">
<link rel="stylesheet" href="/ac/globalmain/1/pt_BR/styles/globalmain.css" type="text/css">
<link rel="stylesheet" href="/ac/globalnavbar/1/pt_BR/styles/globalnavbar.css" type="text/css">
<link rel="stylesheet" href="/ac/globalnoticias/1/pt_BR/style/globalnoticias.css" type="text/css">
<link rel="stylesheet" href="/ac/globalnoticias/1/pt_BR/style/resto.css" type="text/css">
<link rel="stylesheet" href="/ac/globalothers/404/1/pt_BR/styles/globalmain404.css" type="text/css">
<link rel="stylesheet" href="/ac/globalothers/books/1/pt_BR/styles/bootstrap-icons.css" type="text/css">
<link rel="stylesheet" href="/ac/globalothers/books/1/pt_BR/styles/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/ac/globalothers/books/1/pt_BR/styles/custombooks.css" type="text/css">
<link rel="stylesheet" href="/ac/globalothers/books/1/pt_BR/styles/homebooks.css" type="text/css">
<link rel="stylesheet" href="/ac/globalothers/books/1/pt_BR/styles/quarto-syntax-highlighting.css" type="text/css">
<link rel="stylesheet" href="/ac/globalothers/books/1/pt_BR/styles/tippy.css" type="text/css">
<link rel="stylesheet" href="/ac/globalothers/docente/1/pt_BR/styles/ac-localnav.css" type="text/css">
<link rel="stylesheet" href="/ac/globalothers/docente/1/pt_BR/styles/globaldocente.css" type="text/css">
<link rel="stylesheet" href="/ac/globalothers/docente/1/pt_BR/styles/main.css" type="text/css">
<link rel="stylesheet" href="/ac/globalothers/espaco/1/pt_BR/styles/espaco.build.css" type="text/css">
<link rel="stylesheet" href="/ac/globalothers/eventos/1/pt_BR/styles/eventos.main.css" type="text/css">
<link rel="stylesheet" href="/ac/globalothers/ira/1/pt_BR/styles/ira.build.css" type="text/css">
<link rel="stylesheet" href="/ac/globalothers/markdown/1/pt_BR/styles/markdown.css" type="text/css">
<link rel="stylesheet" href="/ac/globalothers/markdown/1/pt_BR/styles/markdowndark.css" type="text/css">
<link rel="stylesheet" href="/ac/globalothers/markdown/1/pt_BR/styles/markdownlight.css" type="text/css">
<link rel="stylesheet" href="/ac/globalothers/markdown/1/pt_BR/styles/sindresorhus.css" type="text/css">
<link rel="stylesheet" href="/ac/globalothers/sitemap/1/pt_BR/styles/sitemap.build.css" type="text/css">
<link rel="stylesheet" href="/ac/globalpattern/1/pt_BR/styles/apple-variaveis.main.build.css" type="text/css">
<link rel="stylesheet" href="/ac/globalpattern/1/pt_BR/styles/globalpattern.css" type="text/css">
<link rel="stylesheet" href="/ac/globalpattern/1/pt_BR/styles/globaltipografia.css" type="text/css">
<link rel="stylesheet" href="/ac/globalpattern/1/pt_BR/styles/globalvariaveis.css" type="text/css">
<link rel="stylesheet" href="/ac/globalribbon/1/pt_BR/styles/globalribbon.css" type="text/css">
<!-- Scripts -->
<script defer src="/ac/globalfooter/1/pt_BR/scripts/globalfooter.js" type="text/javascript"></script>
<script defer src="/ac/globalnavbar/1/pt_BR/scripts/globalnavbar.build.js" type="text/javascript"></script>
<script defer src="/ac/globalnoticias/1/pt_BR/scripts/globalnoticias.js" type="text/javascript"></script>
<script defer src="/ac/globalothers/books/1/pt_BR/scripts/anchor.min.js" type="text/javascript"></script>
<script defer src="/ac/globalothers/books/1/pt_BR/scripts/autocomplete.umd.js" type="text/javascript"></script>
<script defer src="/ac/globalothers/books/1/pt_BR/scripts/bootstrap.min.js" type="text/javascript"></script>
<script defer src="/ac/globalothers/books/1/pt_BR/scripts/clipboard.min.js" type="text/javascript"></script>
<script defer src="/ac/globalothers/books/1/pt_BR/scripts/fuse.min.js" type="text/javascript"></script>
<script defer src="/ac/globalothers/books/1/pt_BR/scripts/headroom.min.js" type="text/javascript"></script>
<script defer src="/ac/globalothers/books/1/pt_BR/scripts/popper.min.js" type="text/javascript"></script>
<script defer src="/ac/globalothers/books/1/pt_BR/scripts/quarto-nav.js" type="text/javascript"></script>
<script defer src="/ac/globalothers/books/1/pt_BR/scripts/quarto-search.js" type="text/javascript"></script>
<script defer src="/ac/globalothers/books/1/pt_BR/scripts/quarto.js" type="text/javascript"></script>
<script defer src="/ac/globalothers/books/1/pt_BR/scripts/tippy.umd.min.js" type="text/javascript"></script>
<script defer src="/ac/globalothers/espaco/1/pt_BR/scripts/espaco.build.js" type="text/javascript"></script>
<script defer src="/ac/globalothers/eventos/1/pt_BR/scripts/eventos.main.js" type="text/javascript"></script>
<script defer src="/ac/globalothers/ira/1/pt_BR/scripts/ira.build.js" type="text/javascript"></script>
<script defer src="/ac/globalothers/markdown/1/pt_BR/scripts/mathjax3.js" type="text/javascript"></script>
<script defer src="/ac/globalpattern/1/pt_BR/scripts/globalpattern.js" type="text/javascript"></script>