<section id="globalribbon">
  <div id="globalribbon-content">
    <div class="globalribbon-item">
      <div class="ribbon-tipo-de-noticia" id="news-ribbon">
        <div class="news-ribbon-content">
          <p>
            <span class="tag-assunto-tal tag-assunto-tal-mais-especifico" id="news-content">Mensagem do aviso</span>
            <a href="#" rel="noopener" target="">Saiba mais
              <span class="icon-chevronright"> </span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>