nav[id="globalnavbar"]
  a[class="globalnavbar-link globalnavbar-link-estatistica"]
  span[class="globalnavbar-link-text"] {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0 0 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

nav[id="globalnavbar"]  span[class="globalnavbar-chevron-icon"],
nav[id="globalnavbar"]  span[class*="globalnavbar-submenu-button-icon"],
nav[id="globalnavbar"]  span[class*="globalnavbar-link-chevron"] {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0 0 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0 0 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}
