@charset "UTF-8";
#globaltop {
	all: unset;
}
#globalheader html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
#globalheader body {
	margin: 0;
	padding: 0;
}
#globalheader ul,
#globalheader ol,
#globalheader li,
#globalheader dl,
#globalheader dt,
#globalheader dd,
#globalheader h1,
#globalheader h2,
#globalheader h3,
#globalheader h4,
#globalheader h5,
#globalheader h6,
#globalheader hgroup,
#globalheader p,
#globalheader blockquote,
#globalheader figure,
#globalheader form,
#globalheader fieldset,
#globalheader input,
#globalheader legend,
#globalheader pre,
#globalheader abbr,
#globalheader button {
	margin: 0;
	padding: 0;
}
#globalheader pre,
#globalheader code,
#globalheader address,
#globalheader caption,
#globalheader th,
#globalheader figcaption {
	font-size: 1em;
	font-weight: 400;
	font-style: normal;
}
#globalheader fieldset,
#globalheader iframe {
	border: 0;
}
#globalheader caption,
#globalheader th {
	text-align: left;
}
#globalheader table {
	border-collapse: collapse;
	border-spacing: 0;
}
#globalheader main,
#globalheader summary,
#globalheader details {
	display: block;
}
#globalheader audio,
#globalheader canvas,
#globalheader video,
#globalheader progress {
	vertical-align: baseline;
}
#globalheader button {
	background: none;
	border: 0;
	box-sizing: content-box;
	color: inherit;
	cursor: pointer;
	font: inherit;
	line-height: inherit;
	overflow: visible;
	vertical-align: inherit;
}
#globalheader button:disabled {
	cursor: default;
}
#globalheader :focus {
	outline: 4px solid rgba(0, 125, 250, 0.6);
	outline-offset: 1px;
}
#globalheader
	:focus[data-focus-method="mouse"]:not(input):not(textarea):not(select),
#globalheader
	:focus[data-focus-method="touch"]:not(input):not(textarea):not(select) {
	outline: none;
}
#globalheader ::-moz-focus-inner {
	border: 0;
	padding: 0;
}
@media print {
	#globalheader {
		display: none;
	}
}

*,
*::after,
*::before,
html,
body {
	margin: 0;
	padding: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

:root {
	--r-globaltop-background-opened: #fbfbfd;
	--r-globaltop-background-opened-dark: #161617;
}

#globaltop {
	/* copyApple */
	
	--r-globaltop-height: 44px;
	--r-globaltop-font-size: 17px;
	--r-globaltop-color: rgba(0, 0, 0, 0.8);
	--r-globaltop-color-secondary: #333336;
	--globaltop-background: none;
	
	--r-globaltop-color-hover: #000000;
	--globaltop-backdrop-filter: none;
	
	--r-globaltop-flyout-link-opacity-duration: 0.5s;
	--r-globaltop-flyout-spacing: 88px;
	--r-globaltop-flyout-close-delay: 0.12s;
	--r-globaltop-next-flyout-height: 0px;
	--r-globaltop-previous-flyout-height: 0px;

	/* myPropriedades */
	--altura-globalheader: 40px;
	--largura-globalheader: 1440px;

	--altura-globalnav: 44px;
	--largura-globalnav: 1440px;

	--altura-globalsection: 40px;
	--largura-globalsection: 1440px;

	/* TESTE-LOCALIZAÇÃO */
	background-color: #fff;

	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: calc(
		var(--altura-globalheader) + var(--altura-globalnav) +
			var(--altura-globalsection)
	);

	/* display flex-column */
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;

	font-size: 18px;
	/* impedir-selecionar-links */
	user-select: none;
	/* não-quebrar-text */
	white-space: nowrap;
}

.globalheader {
	--globalheader-color-link: rgba(255, 255, 255, 0.8);

	background-color: #071d41;
	height: var(--altura-globalheader);
	width: calc(1.5 * var(--largura-globalheader));

	display: flex;
	justify-content: center;
}

.globalheader .globalheader-content {
	margin-left: 10px;
	margin-right: 10px;
	width: var(--largura-globalheader);

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-sizing: border-box;
}

.globalheader-content .globalheader-list {
	width: auto;
	height: var(--altura-globalheader);
	cursor: default;
	user-select: none;

	gap: 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

.globalheader-item {
	height: auto;
	width: auto;
}

#globaltop .globalheader-link {
	font-size: 15px;
	font-weight: 800;
	letter-spacing: -0.01em;
	font-family: var(--r-font-pat) Arial, Helvetica, sans-serif;

	height: var(--altura-globalheader);
	color: var(--globalheader-color-link);

	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	white-space: nowrap;
	position: relative;
	background: no-repeat;

	/* z-index: 1; */
	outline-offset: -7px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	transition: color 0.32s cubic-bezier(0.4, 0, 0.6, 1);
}

/* .globalheader-link .globalheader-link-text{} */

/* transparence-curso-por-cima */
#globaltop .globalheader-link:hover,
#globaltop .globalheader-link:focus[data-focus-method="key"] {
	/* color: var(--r-globalheader-color-hover); */
	color: white;
}

/* Estilos para as classes que começam com "globalheader-link-" */
[class^="globalheader-image-"] {
	height: 40px;
	width: 20px;
	font-size: 17px;
	line-height: 1.2353641176;
	font-weight: 600;
	letter-spacing: 0.05em !important;
	font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
		sans-serif;
	/* aninhar-conteudo do link */
	display: flex;
	align-items: center;
}

.globalheader-image-regular,
.globalheader-image-compact {
	display: none;
}

.globaltop .globalheader-link svg {
	/* cor-fundo-svg ===== cor-text-span */
	fill: currentColor;
}

/*  */
.globalheader-list .globalheader-link-coronavarius .globalheader-link-text {
	--r-logo-govbr-yellow: #ffcd07;
	color: var(--r-logo-govbr-yellow);
	text-decoration: underline;
}

.globalheader-list span.globalheader-espacador {
	--color-espaçador: rgba(151, 151, 151, 0.3);
	height: 20px;
	width: 2px;
	background-color: var(--color-espaçador);
}

@media screen and (max-width: 1440px) {
	#globaltop,
	.globalheader,
	.globalheader-content,
	.globalheader-list {
		width: 100%;
	}
	.globalheader-item,
	.globalheader-espacador {
		display: none;
	}
	.globalheader-list-unbt-gov > *,
	.globalheader-item-coronavarius,
	.globalheader-item-orggovbr,
	.globalheader-item-acessibilidade,
	.globalheader-espacador-01,
	.globalheader-espacador-05 {
		display: block;
	}
}

body {
	background: aqua;
}
