@charset "UTF-8";
#globaltop {
  all: unset;
}
#globaltop {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  min-width: 320px;
  max-height: max-content;
  display: flex;
  flex-direction: column;

  justify-items: center;
  font-size: 18px;
  white-space: nowrap;
  align-items: center;
}
#globalheader body {
  margin: 0;
  padding: 0;
}
#globalheader ul,
#globalheader ol,
#globalheader li,
#globalheader dl,
#globalheader dt,
#globalheader dd,
#globalheader h1,
#globalheader h2,
#globalheader h3,
#globalheader h4,
#globalheader h5,
#globalheader h6,
#globalheader hgroup,
#globalheader p,
#globalheader blockquote,
#globalheader figure,
#globalheader form,
#globalheader fieldset,
#globalheader input,
#globalheader legend,
#globalheader pre,
#globalheader abbr,
#globalheader button {
  margin: 0;
  padding: 0;
}

#globalheader pre,
#globalheader code,
#globalheader address,
#globalheader caption,
#globalheader th,
#globalheader figcaption {
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
}

#globalheader fieldset,
#globalheader iframe {
  border: 0;
}

#globalheader caption,
#globalheader th {
  text-align: left;
}

#globalheader table {
  border-collapse: collapse;
  border-spacing: 0;
}

#globalheader main,
#globalheader summary,
#globalheader details {
  display: block;
}

#globalheader audio,
#globalheader canvas,
#globalheader video,
#globalheader progress {
  vertical-align: baseline;
}
#globalheader button {
  background: none;
  border: 0;
  box-sizing: content-box;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: inherit;
  overflow: visible;
  vertical-align: inherit;
}
#globalheader button:disabled {
  cursor: default;
}

#globalheader
  :focus[data-focus-method="mouse"]:not(input):not(textarea):not(select),
#globalheader
  :focus[data-focus-method="touch"]:not(input):not(textarea):not(select) {
  outline: none;
}
#globalheader ::-moz-focus-inner {
  border: 0;
  padding: 0;
}
@media print {
  #globalheader {
    display: none;
  }
}

#globalheader {
  background-color: var(--r-globalheader-background-color-dark-blue);
  height: var(--r-globalheader-height);
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 3;
}

#globalheader .globalheader-content {
  margin-left: 20px;
  margin-right: 20px;
  width: var(--r-globalheader-width);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 2;
}

.globalheader-content .globalheader-list,
.globalheader-content .globalheader-list-unbt-gov {
  cursor: default;
  list-style: none;
  width: auto;
  height: var(--r-globalheader-height);
  box-sizing: border-box;

  gap: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#globaltop .globalheader-item {
  box-sizing: border-box;
  height: auto;
  width: auto;
}

#globaltop .globalheader-link {
  font-family: var(--r-font-family-default);
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.01em;
  height: var(--r-globalheader-height);
  color: var(--r-globalheader-color-link);

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  white-space: nowrap;
  /* position: relative; */
  background: no-repeat;

  /* z-index: 1; */
  outline-offset: -7px;
  transition: color 0.32s cubic-bezier(0.4, 0, 0.6, 1);
}
#globaltop .globaltop-link:lang(pt-br) {
  letter-spacing: 0em;
  font-family: var(--r-font-family-default);
}
#globaltop .globalheader-link svg {
  fill: currentColor;
}

#globalheader .globalheader-link:hover,
#globalheader .globalheader-link:focus[data-focus-method="key"] {
  color: var(--r-globalheader-color-secondary-hover);
  text-decoration: none;
}
#globaltop .globalheader-link-govbr {
  font-size: 17px;
  line-height: 1.2353641176;
  font-weight: 800;
  letter-spacing: -0.022em;
  font-family: var(--r-font-family-default);
  display: flex;
  align-items: center;
}
#globaltop .globaltop-link-govbr:lang(ar) {
  letter-spacing: 0em;
  font-family: var(--r-font-family-default);
}
#globaltop .globaltop-link-govbr-logo {
  height: 100%;
}
#globaltop .globaltop-link-govbr .globaltop-link-text {
  margin-inline-start: 4px;
  height: 100%;
  display: flex;
  align-items: center;
  pointer-events: none;
}

/* Estilos para as classes que começam com "globalheader-link-" */
[class^="globalheader-image-"] {
  height: 40px;
  width: 20px;
  font-size: 17px;
  line-height: 1.2353641176;
  font-weight: 600;
  letter-spacing: 0.05em !important;
  font-family: var(--r-font-family-default);
  display: flex;
  align-items: center; /* aninhar-conteudo do link */
}

.globalheader-image-regular,
.globalheader-image-compact {
  display: none;
}

.globalheader-list .globalheader-link-coronavarius .globalheader-link-text {
  --r-logo-govbr-yellow: #ffcd07;
  color: var(--r-logo-govbr-yellow);
  text-decoration: underline;
}

/* Oculta a classe visuallyhidden */

.globalheader-list span.globalheader-espacador {
  --color-espaçador: rgba(151, 151, 151, 0.5);
  height: 20px;
  width: 2px;
  background-color: var(--color-espaçador);
}

.globalheader-link-text-alternativo {
  display: none;
}

/* mediaQuery verificado */
@media screen and (max-width: 1024px) {
  #globaltop,
  .globalheader,
  .globalheader-content,
  .globalheader-list {
    width: 100%;
  }
  .globalheader-item,
  .globalheader-espacador {
    display: none;
  }
  .globalheader-list-unbt-gov > *,
  .globalheader-item-coronavarius,
  .globalheader-item-orggovbr,
  .globalheader-item-acessibilidade,
  .globalheader-espacador-01,
  .globalheader-espacador-05 {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  #globaltop .globaltop-content {
    display: flex;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--globaltop-background);
    transition: background var(--r-globaltop-flyout-rate)
      cubic-bezier(0.4, 0, 0.6, 1) 80ms;
  }
  .globaltop-content {
    -webkit-backdrop-filter: var(--globaltop-backdrop-filter);
    backdrop-filter: var(--globaltop-backdrop-filter);
  }

  #globaltop .globaltop-list {
    display: flex;
    flex: 1;
    position: relative;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    height: auto;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
  }
  #globalheader:not([dir="rtl"]) #globaltop .globaltop-list {
    padding-right: calc(
      48px + max(0px, calc(env(safe-area-inset-right) - 16px))
    );
  }
  #globalheader[dir="rtl"] #globaltop .globaltop-list {
    padding-left: calc(48px + max(0px, calc(env(safe-area-inset-left) - 16px)));
  }
  #globaltop .globaltop-item {
    width: auto;
    height: auto;
    transition: color 0.32s cubic-bezier(0.4, 0, 0.6, 1);
  }
  #globaltop .globaltop-list > .globaltop-item {
    height: 100%;
  }
  #globaltop
    .globaltop-list
    > .globaltop-item:not(.globaltop-menu)
    .globaltop-link {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.24s cubic-bezier(0.4, 0, 0.6, 1) 80ms,
      visibility 0.24s step-start 80ms;
  }
}

@media only screen and (max-width: 768px) {
  #globaltop,
  .globalheader,
  .globalheader-content,
  .globalheader-list {
    width: 100%;
  }
  .globalheader-item,
  .globalheader-espacador {
    display: none;
  }
  .globalheader-list-unbt-gov > * {
    display: block;
  }
  .globalheader-item-orggovbr,
  .globalheader-espacador-01,
  .globalheader-item-coronavarius {
    display: block;
  }
  #globaltop .globaltop-link- {
    font-size: 28px;
    line-height: 1.1428571429;
    font-weight: 600;
    letter-spacing: 0.007em;
    font-family: var(--r-font-family-default);
  }
  #globaltop .globaltop-link:lang(ar) {
    font-family: SF Pro AR, SF Pro Gulf, SF Pro Display, SF Pro Icons,
      Helvetica Neue, Helvetica, Arial, sans-serif;
  }
  #globaltop .globaltop-link:lang(zh-TW) {
    font-family: SF Pro TC, SF Pro Display, SF Pro Icons, PingFang TC,
      Helvetica Neue, Helvetica, Arial, sans-serif;
  }
}

@media only screen and (max-width: 540px) {
  #globaltop,
  #globalheader,
  .globalheader-content {
    width: 100%;
  }
  .globalheader-item,
  .globalheader-espacador,
  .globalheader-link-text-vacinacao {
    display: none;
  }
  .globalheader-list-unbt-gov > *,
  .globalheader-item-coronavarius {
    display: block;
    justify-content: right;
    font-size: 10px;
    line-height: 1.1428571429;
    /* font-weight: 200; */
    letter-spacing: 0.007em;
    font-family: var(--r-font-family-default);
  }

  .globalheader-link-text-alternativo {
    --r-logo-govbr-yellow: #ffcd07;

    display: block;
    color: var(--r-logo-govbr-yellow);
    text-decoration: underline;
    font-size: 16px;
  }
}
