@charset "UTF-8";
#globalheader {
    all: unset
}

#globalheader html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

/* ESCONDIDOS */
.visuallyhidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0
}

body{
    background-color: aquamarine;
}

#globalheader body {
    margin: 0;
    padding: 0;
    font-family: SF Pro HK,SF Pro Display,SF Pro Icons,PingFang HK,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#globalheader ul,#globalheader ol,#globalheader li,#globalheader dl,#globalheader dt,#globalheader dd,#globalheader h1,#globalheader h2,#globalheader h3,#globalheader h4,#globalheader h5,#globalheader h6,#globalheader hgroup,#globalheader p,#globalheader blockquote,#globalheader figure,#globalheader form,#globalheader fieldset,#globalheader input,#globalheader legend,#globalheader pre,#globalheader abbr,#globalheader button {
    margin: 0;
    padding: 0
}

#globalheader pre,#globalheader code,#globalheader address,#globalheader caption,#globalheader th,#globalheader figcaption {
    font-size: 1em;
    font-weight: 400;
    font-style: normal
}


#globalheader fieldset,#globalheader iframe {
    border: 0
}

#globalheader caption,#globalheader th {
    text-align: left
}

#globalheader main,#globalheader summary,#globalheader details {
    display: block
}

#globalheader audio,#globalheader canvas,#globalheader video,#globalheader progress {
    vertical-align: baseline
}

#globalheader button {
    background: none;
    border: 0;
    box-sizing: content-box;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: inherit;
    overflow: visible;
    vertical-align: inherit
}


#globalheader button:disabled {
    cursor: default
}

#globalheader:focus {
    outline: 4px solid rgba(0,125,250,.6);
    outline-offset: 1px
}



#globaheader:focus[data-focus-method=mouse]:not(input):not(textarea):not(select),
#globaheader:focus[data-focus-method=touch]:not(input):not(textarea):not(select) {
    outline: none
}


#globalheader ::-moz-focus-inner {
    border: 0;
    padding: 0
}

html,body {
    margin: 0;
    padding: 0
}

:root {
    --r-globalheader-background-opened: #fbfbfd;
    --r-globalheader-background-opened-dark: #161617;
    /* barra */
    --r-globalheader-background-white: #ffffff; 
    --r-globalheader-color-secondary: #333336;
    --r-globalheader-color-hover: #000000;
    --globalheader-background: none;
    --globalheader-backdrop-filter: none;
    --r-globalheader-height: 44px;
    --r-globalheader-font-size: 15px;
    /* logo */
    --globalheader-govbr-blue: #2864ae;
    --r-globalheader-govbr-yellow:#fabd10;
    --r-globalheader-govbr-light-green:  #026e3a ;
}

/* var-header */
#globalheader {
    --r-globalheader-next-flyout-height: 0px;
    --r-globalheader-previous-flyout-height: 0px;
    --r-globalheader-height: 40px;
    --r-globalheader-color: rgba(0, 0, 0, .8);
    --r-globalheader-color-secondary: #333336;
    --r-globalheader-color-hover: #000000;
    --r-globalheader-font-size: 17px;
    --globalheader-background: none;
    --globalheader-backdrop-filter: none;
    /*  */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    gap: 8px;
    z-index: 9999;
    /* display: block; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 114px;
    font-size: 17px;
    -webkit-user-select: none;
    user-select: none;
    -webkit-backdrop-filter: var(--globalheader-backdrop-filter);
    backdrop-filter: var(--globalheader-backdrop-filter);
    /* cor fundo */
    background-color: var(--r-globalheader-background-white);
}

/* cores-elementos em temas-diferentes  */
#globalheader.globalheader-dark,.globalheader-dark #globalheader,.theme-dark #globalheader {
    --r-globalheader-color: rgba(255, 255, 255, .8);
    --r-globalheader-color-secondary: #E8E8ED;
    --r-globalheader-color-hover: #FFFFFF
}

#globalheader.globalheader-light,
.globalheader-dark #globalheader.globalheader-light,
.theme-dark #globalheader.globalheader-light,
.globalheader-light #globalheader,
.theme-light #globalheader {
    --r-globalheader-color: rgba(0, 0, 0, .8);
    --r-globalheader-color-secondary: #333336;
    --r-globalheader-color-hover: #000000
}

#globalheader.globalheader-scrim,.globalheader-scrim #globalheader {
    background: var(--globalheader-background);
    --globalheader-background: rgba(251, 251, 253, .92)
}

#globalheader.globalheader-scrim.globalheader-dark,
.globalheader-scrim.globalheader-dark #globalheader,
.globalheader-scrim #globalheader.globalheader-dark,
.globalheader-dark #globalheader.globalheader-scrim {
    --globalheader-background: rgba(22, 22, 23, .88)
}

.globalheader-scrim.globalheader-light#globalheader,
.globalheader-scrim.globalheader-dark .globalheader-light {
    --globalheader-background: rgba(251, 251, 253, .92)
}

.globalheader-scrim-noblur#globalheader,.globalheader-scrim-noblur #globalheader {
    --globalheader-backdrop-filter: initial
}

/* desabilite-transition */
#globalheader.globalheader-block-transitions,
#globalheader.globalheader-block-transitions:before,
#globalheader.globalheader-block-transitions:after,
#globalheader.globalheader-block-transitions *,
#globalheader.globalheader-block-transitions *:before,
#globalheader.globalheader-block-transitions *:after {
    animation: none!important;
    transition: none!important
}


.globalheader-hidden,
.globalheader-svg-symbol {
    display: none
}

.globalheader-placeholder {
    height: 44px
}

.ac-nav-overlap .globalheader-placeholder {
    display: none
}

.globalheader-curtain {
    background: rgba(232,232,237,.4);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    visibility: hidden;
    position: fixed;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    transition: opacity .32s cubic-bezier(.4,0,.6,1) 80ms,visibility .32s step-end 80ms
}

#globalheader.globalheader-dark .globalheader-curtain,
.globalheader-dark .globalheader-curtain,
.theme-dark .globalheader-curtain {
    background: rgba(0,0,0,.4)
}

.globalheader-dark~.globalheader-curtain {
    background: rgba(0,0,0,.4)
}

#globalheader.globalheader-light .globalheader-curtain,
.globalheader-dark #globalheader.globalheader-light .globalheader-curtain,
.theme-dark #globalheader.globalheader-light .globalheader-curtain,
.globalheader-light .globalheader-curtain,.theme-light .globalheader-curtain {
    background: rgba(232,232,237,.4)
}

.globalheader-light~.globalheader-curtain {
    background: rgba(232,232,237,.4)
}

.globalheader-with-flyout-open~.globalheader-curtain {
    opacity: 1;
    visibility: visible;
    transition: opacity .32s cubic-bezier(.4,0,.6,1) 80ms,visibility .32s step-start 80ms
}

.globalheader-block-transitions~.globalheader-curtain {
    animation: none!important;
    transition: none!important
}


.globalheader-curtain-noblur {
    -webkit-backdrop-filter: none;
    backdrop-filter: none
}

#globalheader .globalheader-content {
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    max-width: 1024px;
    padding: 0 22px;
    --r-globalheader-flyout-rate: 0s;
    --r-globalheader-duration-medium: .24s;
    z-index: 2
}

#globalheader .globalheader-list {
    cursor: default;
    margin: 0 -9px;
    width: auto;
    height: 44px;
    display: flex;
    justify-content: space-between;
    -webkit-user-select: none;
    user-select: none;
    list-style: none;
}

#globalheader .globalheader-item {
    box-sizing: border-box;
    /* height: 44px */
    height: auto;
}

#globalheader .globalheader-link {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--r-globalheader-color);
    position: relative;
    z-index: 1;
    padding: 0 calc(9px / var(--r-globalheader-text-zoom-scale, 1));
    height: 44px;
    background: no-repeat;
    text-decoration: none;
    white-space: nowrap;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline-offset: -7px;
    transition: color .32s cubic-bezier(.4,0,.6,1)
}

#globalheader .globalheader-link:lang(pt-br) {
    letter-spacing: 0em;
    font-family: SF Pro JP,SF Pro Text,SF Pro Icons,Hiragino Kaku Gothic Pro,\30d2\30e9\30ae\30ce\89d2\30b4 Pro W3,\30e1\30a4\30ea\30aa,Meiryo,\ff2d\ff33 \ff30\30b4\30b7\30c3\30af,Helvetica Neue,Helvetica,Arial,sans-serif
}
#globalheader .globalheader-link svg {
    fill: currentColor
}
#globalheader .globalheader-link:hover,
#globalheader .globalheader-link:focus[data-focus-method=key] {
    color: var(--r-globalheader-color-hover);
    text-decoration: none
}
#globalheader .globalheader-link-govbr {
    font-size: 17px;
    line-height: 1.2353641176;
    font-weight: 600;
    letter-spacing: -.022em;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    /* aninhar-conteudo do link */
    display: flex;
    align-items: center
}

#globalheader .globalheader-link-govbr:lang(pt-br) {
    letter-spacing: 0em;
    font-family: SF Pro AR,SF Pro Gulf,SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif
}

#globalheader .globalheader-link-apple-logo {
    height: 100%
}
#globalheader .globalheader-link-apple .globalheader-link-text {
    margin-inline-start:4px
}

#globalheader .globalheader-link-chevron {
    display: none;
    visibility: hidden;
    transition: visibility .24s step-end
}

/* botão hamburgues- tela pequena */
#globalmenu .globalmenu-menutrigger {
    width: 48px;
    border-bottom: none;
    display: none
}



/* ----------------------  end -------------------------- */

#globalheader>.globalheader{
    font-family: "SF Pro Text";
    font-size: var(--r-globalheader-font-size);
    line-height: 15px;
    font-weight: 300;
    background-color: #003a7a;
    margin: 0px;
    height: 44px;
    gap: 8px;
    /* width: auto; */
    width: calc(1440px*3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.globalheader .globalheader-content .globalheader-list{
    width: 1156px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    list-style: none;
    font-size: var(--r-globalheader-font-size);
    gap: 18px;
}

.globalheader .globalheader-content .globalheader-list .globalheader-item .globalheader-link{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-family: Arial, Helvetica, sans-serif;
}
/* espaço todos os elementos <ul> */
.globalheader-list>*{
    margin-right: 20px;
    white-space: nowrap;
}

/* espaço -entre gov.br e coronavarus */
.globalheader-list>*:nth-child(2) {
    margin-right: 100px;
}

/* coronavrus */
.globalheader-list>*:nth-child(3), .globalheader-link-coronavarus-container {
    color:rgb(255, 233, 92);
    text-decoration: underline;
    list-style: none;
}
/* logo gov.br */
.globalheader-link-text-gambiarra-govbr{
    display: flex;
    flex-wrap: nowrap;
    font-size: 20px;
    font-weight: 600;
}
.globalheader-link-text-gambiarra-govbr>*:nth-child(1){
    color: var(--globalheader-govbr-blue);
}
.globalheader-link-text-gambiarra-govbr>*:nth-child(2){
    color: var(--r-globalheader-govbr-yellow);
}
.globalheader-link-text-gambiarra-govbr>*:nth-child(3){
    color: var(--r-globalheader-govbr-light-green);
}
.globalheader-link-text-gambiarra-govbr>*:nth-child(4){
    color: var(--globalheader-govbr-blue);
}
.globalheader-link-text-gambiarra-govbr>*:nth-child(5){
    /* color: var(--r-globalheader-govbr-light-blue); */
    color: rgb(249, 228, 123);
}
.globalheader-link-text-gambiarra-govbr>*:nth-child(6){
    color: var(--r-globalheader-govbr-yellow);
}

/* logos eduplayUnBTV*/
.globalheader-link-text-gambiarra-unbtv{
    display: flex;
    flex-wrap: nowrap;
    font-size: 15px;
    font-weight: 600;
}
.globalheader-link-text-gambiarra-unbtv>*:nth-child(1){
    color: rgba(255, 199, 0, 1);
}
.globalheader-link-text-gambiarra-unbtv>*:nth-child(2){
    color:  #ffffff;
}

