

.container p::first-letter:nth-child(1) {
    color: green;
  }
  
  .container p::first-letter:nth-child(2) {
    color: orange;
  }
  
  .container p::first-letter:nth-child(3) {
    color: blue;
  }
  
  .container p::first-letter:nth-child(4) {
    color: red;
  }
  
  .container p::first-letter:nth-child(5) {
    color: purple;
  }
  
  .container p::first-letter:nth-child(6) {
    color: black;
  }
  