.globalheader-list>*:nth-child(n+1)  {
	/* cor-text-logo-govbr */
	--r-logo-govbr-dark-blue: hwb(211 0% 52%);
	--r-logo-govbr-ligth-kblue: #00b9ff;
	--r-logo-govbr-yellow: #ffcd07;
	--r-logo-govbr-ligth-green: #61c454;

	/* cor-text-logo-UnBTV */
	--r-logo-unbtv-yellow: #ffc700;
	--r-logo-unbtv-green-ligth: #61c454;
	--r-logo-unbtv-blue-light: #2570bb;
	--r-logo-unbtv-gray-light: #777777;
}

#globalnav .globalnav-link:lang(pt-br) {
    font-family: SF Pro AR, SF Pro Gulf, SF Pro Display, SF Pro Icons,
        Helvetica Neue, Helvetica, Arial, sans-serif;
}

#global-hdr-nv-sc .globalheader-link:lang(pt-br) {
	letter-spacing: 0em;
	font-family: SF Pro JP, SF Pro Text, SF Pro Icons, Hiragino Kaku Gothic Pro,
		\30d2\30e9\30ae\30ce\89d2\30b4 Pro W3, \30e1\30a4\30ea\30aa, Meiryo,
		\ff2d\ff33\ff30\30b4\30b7\30c3\30af, Helvetica Neue, Helvetica, Arial,
		sans-serif;
}

#global-hdr-nv-sc {
	/* heigth */
	--global-hd-heigth: 40px;
	--global-nv-heigth: 44px;
	--global-sc-heigth: 40px;

	--global-hns-font-size: 17px;
	--global-hns-color: #;
	--global-hns-color-secondary: #;

	/* hover */
	--global-hns-color-hover: #;
	--global-hns-bg: #;
	--global-hns-bg-filter: #;
}


:root{
    /* cor-text-logo-govbr */
    --r-logo-govbr-blue:#1351b4;
    --r-logo-govbr-yellow:#ffcd07; /*ou talvez c107 !=cd07 */
    --r-logo-govbr-yellow: #ffc107;
    --r-logo-govbr-green:#268744;
    
    /* cor-text-logo-UnBTV */
    --r-logo-unbtv-blue:#2570bb;
    --r-logo-unbtv-gray:#777777;
    
    /* cor-text-logo-UnB */
    --r-logo-unb-blue: #003a7a;
    --r-logo-unb-green: #026e3a;

    /* cor-text-header|navbar */
    --r-global-hdnv-yellow:#d99816;
    --r-global-hdnv-white:#ffffff;
    --r-global-hdnv-white:#ffffffcc;
    --r-global-hdnv-white:#f5f5f7;
    --r-global-hdnv-white:#e8e8ed;
    --r-global-hdnv-white:#2997ff;
    --r-global-hdnv-white:#0066cc;
    --r-global-hdnv-white:#86868b;
    --r-global-hdnv-white:#6e6e73;
    --r-global-hdnv-white:#424245;
    --r-global-hdnv-white:#1d1d1f;
    --r-global-hdnv-white:#1d1d1d;
    --r-global-hdnv-white:#000000;
    --r-global-hdnv-white:#0000008f;
    --r-global-hdnv-white-opacity:rgba(255, 255, 255,0.8);
    
    /* cor-fundo-header */
    --r-globalheader-blue:#003a7a;
    --r-globalheader-bçue-opacity:#003a7acc;
    
    /* navbar */
    --r-globalnav-bg-opened:#fbfbfd;
    --r-globalnav-bg-opened-dark:#1661617;

    --r-globalnav-height:44px;

    --r-globalnavmessage-segment-height:0px;
    --r-globalnav-segmentbar-height:0px;
    
    /* background-color */
    --r-bg-gray: #22222299;
    --r-bg-black: #00000080;
    --r-bg-white: #ffffff;
    --r-bg-white-02: #fbfbfd;
    --r-bg-white-03: #f5f5f7;
    --r-bg-white-03: #161617;
    --r-bg-white-03: #00000066;
    --r-bg-white-03: #000000;
    --r-bg-white-03: #0000008f;
    --r-bg-white-03: #00000029;
    
    /* preenchimento */
    --padding:#ffffffcc;
    --padding:#86868b;
    --padding:#000000;
    
    /* border */
    --padding:#ffffff;
    --padding:#d2d2d7;
    --padding:#86868b;
    
    /* fonte */
    --font:"SF Pro Text", "SF pro Icons", "Helvetica Neue", Arial, sans-serif;;

    /* <section> anuncio-iphone */
    --global-nav-ad-bar-height: 0px; 
    --global-nav-collective-height: 0px;
}

/* ac-localnav */
:root {
    --r-localnav-height: 52px;
    --r-localnav-stacked-height: 66px;
    
    --r-localnav-gn-height: var(--r-globalnav-height, 44px);
    --r-localnav-viewport-large-min-width: 1024px;
    --r-localnav-viewport-large-query: (min-width: 1024px);

    --r-localnav-viewport-medium-min-width: 834px;
    --r-localnav-viewport-medium-max-width: 1023px;
    --r-localnav-viewport-medium-query: (min-width: 834px);

    --r-localnav-viewport-small-min-width: 320px;
    --r-localnav-viewport-small-max-width: 833px;
    --r-localnav-viewport-small-query: (min-width: 320px);
}


html{
    /* outras coisas */
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    /* font-size: 106.25%; */
    quotes: "“" "”";
}
