html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#page-docente {
  all: unset;
}

#page-docente :is(h1, h2, h3, h4, h5, h6, p, span) {
  margin: 0;
  padding: 0;
}

#page-docente {
  max-width: 2560px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}

#page-docente header.section-hero {
  position: relative;
  display: block;
  padding-top: 88px;
  min-height: 336px;
  }
  
  @media only screen and (max-width: 1068px) {
    #page-docente header.section-hero {
      min-height: 313px;
    }
  }
  
  @media only screen and (max-width: 735px) {
    #page-docente header.section-hero {
      min-height: auto;
    }
}

#page-docente header.section-hero .section-content {
  margin: 0 auto;
}

#page-docente header.section-hero .section-content {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

@media only screen and (max-width: 1068px) {
  #page-docente header.section-hero .section-content {
    margin-left: auto;
    margin-right: auto;
    width: 692px;
  }
}

#page-docente header.section-hero .image-hero-container {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#fafafa));
  background: -webkit-linear-gradient(top, #eaeaea 0%, #fafafa 100%);
  background: linear-gradient(to bottom, #eaeaea 0%, #fafafa 100%);
}


#page-docente header.section-hero .image-hero {
  background-image: url("../../cesargabrielphd/image/bio/cesargabriel_image.png.large.png");
  height: 336px;
  background-size: 489px 336px;
  background-repeat: no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
  #page-docente header.section-hero .image-hero {
    background-image: url("../../cesargabrielphd/image/bio/cesargabriel_image.png.large_2x.png");
  }
}

@media only screen and (max-width: 1068px) {
  #page-docente header.section-hero .image-hero {
    background-image: url("../../cesargabrielphd/image/bio/cesargabriel_image.png.medium.png");
    height: 313px;
    background-size: 414px 313px;
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1068px) and (min-resolution: 144dpi),
only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 144),
only screen and (max-width: 1068px) and (min-resolution: 144dppx) {
  #page-docente header.section-hero .image-hero {
    background-image: url("../../cesargabrielphd/image/bio/cesargabrielphd_image.png.medium_2x.png");
  }
}

@media only screen and (max-width: 735px) {
  #page-docente header.section-hero .image-hero {
    background-image: url("../../cesargabrielphd/image/bio/cesargabriel_image.png.small.png");
    height: 220px;
    background-size: 292px 220px;
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 735px) and (min-resolution: 144dpi),
only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 144),
only screen and (max-width: 735px) and (min-resolution: 144dppx) {
  #page-docente header.section-hero .image-hero {
    background-image: url("../../cesargabrielphd/image/bio/cesargabriel_image.png.small_2x.png");
  }
}
@media only screen and (min-width: 1442px) {
  #page-docente header.section-hero .image-hero {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
  }
}

#page-docente header.section-hero .image-hero {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  background-position: 381px 100%;
}

#page-docente header.section-hero .headlines {
  position: relative;
  z-index: 1;
  width: 50%;
  padding-top: 94px;
}

#page-docente header.section-hero .typography-section-headline {
  margin-bottom: 11px;
}

#page-docente header.section-hero .typography-section-headline {
  font-size: 40px;
  line-height: 1.05;
  font-weight: 500;
  letter-spacing: .008em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#page-docente header.section-hero .typography-subsection-subhead {
  font-size: 32px;
  line-height: 1.09375;
  font-weight: 300;
  letter-spacing: .011em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}