# Código gerado/assistido por IA
name: Submodules Dispatch
description: Workflow para atualizar arquivos dos submódulos com o repositório Estatística.

on:
  workflow_dispatch:
  repository_dispatch:
    types: [atualizar-books, atualizar-newshub, atualizar-backend, atualizar-wss]

env:
  url: ${{ vars.URL }}
  TOKEN: ${{ secrets.TOKEN_REPO_SYNC }}
  USERNAME: ${{ github.repository_owner }}
  USEREMAIL: ${{ secrets.USEREMAIL }}

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  books:
    permissions:
      contents: write
    if: ${{ github.event_name == 'workflow_dispatch' || github.event.action == 'atualizar-books' }}
    runs-on: ubuntu-latest
    environment:
      name: ENVIRONMENT
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: ${{ env.USERNAME }}/estatistica
          token: ${{ env.TOKEN }}
          ref: "stag"
          fetch-tags: true

      - name: Atualizar submodule 'books'
        run: |
          git submodule update --init books
      
      - name: Movendo de 'books/book' para 'book/'
        run: |
          rsync -av --delete books/book/ book/

        #5. padronizar livros par ao site via repositório backend
      - name: Atualizar submodule 'books'
        run: |
          git submodule update --init backend
      

      - name: Instalar o python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13.*'

      - name: Automação com 'backend/action/run/'
        run: |
          python ./backend/actions/run/site_html_manager.py --only-head --dynamic-head --path ./book/
          python ./backend/actions/run/site_html_manager.py --only-header --path ./book/
          python ./backend/actions/run/site_html_manager.py --only-footer --path ./book/

        #5. fazer o merge para o repositório estatística via branch: book
